<a href="https://colab.research.google.com/github/ankit-rathi/Data-Science-with-Python/blob/master/Nifty100_Upside_Analysis_ATH.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# install libraries
!pip install yfinance
!pip install pandas-ta
#!pip install talib-binary

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: yfinance in /usr/local/lib/python3.9/dist-packages (0.2.18)
Requirement already satisfied: lxml>=4.9.1 in /usr/local/lib/python3.9/dist-packages (from yfinance) (4.9.2)
Requirement already satisfied: requests>=2.26 in /usr/local/lib/python3.9/dist-packages (from yfinance) (2.27.1)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.9/dist-packages (from yfinance) (0.0.11)
Requirement already satisfied: pytz>=2022.5 in /usr/local/lib/python3.9/dist-packages (from yfinance) (2022.7.1)
Requirement already satisfied: frozendict>=2.3.4 in /usr/local/lib/python3.9/dist-packages (from yfinance) (2.3.7)
Requirement already satisfied: html5lib>=1.1 in /usr/local/lib/python3.9/dist-packages (from yfinance) (1.1)
Requirement already satisfied: appdirs>=1.4.4 in /usr/local/lib/python3.9/dist-packages (from yfinance) (1.4.4)
Requirement already satisfied: beautifulsoup4>=4.11.1 in /usr/local/lib/python3.9/dist-packages (from yfinance) (4.11.2)
Requirement already satisfied: cryptography>=3.3.2 in /usr/local/lib/python3.9/dist-packages (from yfinance) (40.0.2)
Requirement already satisfied: pandas>=1.3.0 in /usr/local/lib/python3.9/dist-packages (from yfinance) (1.5.3)
Requirement already satisfied: numpy>=1.16.5 in /usr/local/lib/python3.9/dist-packages (from yfinance) (1.22.4)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.9/dist-packages (from beautifulsoup4>=4.11.1->yfinance) (2.4.1)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.9/dist-packages (from cryptography>=3.3.2->yfinance) (1.15.1)
Requirement already satisfied: webencodings in /usr/local/lib/python3.9/dist-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.9/dist-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.9/dist-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.9/dist-packages (from requests>=2.26->yfinance) (2022.12.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.9/dist-packages (from requests>=2.26->yfinance) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.9/dist-packages (from requests>=2.26->yfinance) (3.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.9/dist-packages (from requests>=2.26->yfinance) (1.26.15)
Requirement already satisfied: pycparser in /usr/local/lib/python3.9/dist-packages (from cffi>=1.12->cryptography>=3.3.2->yfinance) (2.21)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas-ta in /usr/local/lib/python3.9/dist-packages (0.3.14b0)
Requirement already satisfied: pandas in /usr/local/lib/python3.9/dist-packages (from pandas-ta) (1.5.3)
Requirement already satisfied: numpy>=1.20.3 in /usr/local/lib/python3.9/dist-packages (from pandas->pandas-ta) (1.22.4)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.9/dist-packages (from pandas->pandas-ta) (2022.7.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.9/dist-packages (from pandas->pandas-ta) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.9/dist-packages (from python-dateutil>=2.8.1->pandas->pandas-ta) (1.16.0)

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
# set start and end date
import datetime
start_date = (datetime.date.today() + datetime.timedelta(days=-700)).strftime('%Y-%m-%d')
end_date = (datetime.date.today() + datetime.timedelta(days=1)).strftime('%Y-%m-%d')

In [4]:
# fetch nifty200 scrips

import pandas as pd
import numpy as np

mypf = pd.read_csv('/content/drive/MyDrive/data/stocks/Nifty100Scrips.csv')

#mypf = mypf[mypf['Nifty100'] == 1]

stock_n100 = mypf['Symbol'].unique()

exclude = ['CADILAHC','MMTC']

stock_n100 = mypf[~mypf['Symbol'].isin(exclude) ]['Symbol'].unique()

stock_ids = stock_n100

#mypf = mypf[mypf.Forecast.notnull()]
#stock_ids = mypf['Symbol'].unique()

stock_ids.sort()
stock_ids

array(['ACC', 'ADANIENT', 'ADANIGREEN', 'ADANIPORTS', 'ADANITRANS',
       'AMBUJACEM', 'APOLLOHOSP', 'ASIANPAINT', 'AUBANK', 'AUROPHARMA',
       'AXISBANK', 'BAJAJ-AUTO', 'BAJAJFINSV', 'BAJAJHLDNG', 'BAJFINANCE',
       'BANDHANBNK', 'BANKBARODA', 'BATAINDIA', 'BERGEPAINT',
       'BHARTIARTL', 'BIOCON', 'BOSCHLTD', 'BPCL', 'BRITANNIA', 'CANBK',
       'CHOLAFIN', 'CIPLA', 'COALINDIA', 'COLPAL', 'DABUR', 'DEEPAKNTR',
       'DIVISLAB', 'DLF', 'DMART', 'DRREDDY', 'EICHERMOT', 'EMAMILTD',
       'FEDERALBNK', 'GAIL', 'GILLETTE', 'GLAND', 'GODREJCP', 'GODREJIND',
       'GRASIM', 'HAVELLS', 'HCLTECH', 'HDFC', 'HDFCAMC', 'HDFCBANK',
       'HDFCLIFE', 'HEROMOTOCO', 'HINDALCO', 'HINDPETRO', 'HINDUNILVR',
       'IBREALEST', 'ICICIBANK', 'ICICIGI', 'ICICIPRULI', 'IGL',
       'INDIANB', 'INDIGO', 'INDUSINDBK', 'INDUSTOWER', 'INFY', 'IOC',
       'IRCTC', 'ITC', 'JINDALSTEL', 'JSWSTEEL', 'JUBLFOOD', 'KOTAKBANK',
       'LT', 'LTIM', 'LUPIN', 'M&M', 'MARICO', 'MARUTI', 'MCDOWELL-N',
       'MOTILALOFS', 'MUTHOOTFIN', 'NAM-INDIA', 'NATIONALUM', 'NAUKRI',
       'NESTLEIND', 'NETWORK18', 'NMDC', 'NTPC', 'ONGC', 'PAGEIND', 'PEL',
       'PFIZER', 'PGHH', 'PIDILITIND', 'PIIND', 'PNB', 'POWERGRID', 'PVR',
       'RELIANCE', 'SAIL', 'SBICARD', 'SBILIFE', 'SBIN', 'SHREECEM',
       'SIEMENS', 'SUNPHARMA', 'SUZLON', 'TATACONSUM', 'TATAMOTORS',
       'TATAPOWER', 'TATASTEEL', 'TCS', 'TECHM', 'TIPSINDLTD', 'TITAN',
       'TORNTPHARM', 'ULTRACEMCO', 'UPL', 'VEDL', 'VOLTAS', 'WHIRLPOOL',
       'WIPRO', 'YESBANK', 'ZEEL'], dtype=object)

In [5]:
# update Nifty features

'''
update_stocks = ['RELIANCE','HDFCBANK','TCS','ICICIBANK','HINDUNILVR','INFY','SBIN','BHARTIARTL','BAJFINANCE','HCLTECH','ASIANPAINT','MARUTI','TITAN','M&M','TATACONSUM','HEROMOTOCO','NESTLEIND']

for stock_id in update_stocks:
  #stock_id = 'RELIANCE'
  column = 'Conviction'
  value = 'H'
  mypf.loc[mypf['Symbol'] == stock_id, column] = value

mypf.to_csv('/content/drive/MyDrive/data/stocks/Nifty100Scrips.csv',index=False)
'''

"\nupdate_stocks = ['RELIANCE','HDFCBANK','TCS','ICICIBANK','HINDUNILVR','INFY','SBIN','BHARTIARTL','BAJFINANCE','HCLTECH','ASIANPAINT','MARUTI','TITAN','M&M','TATACONSUM','HEROMOTOCO','NESTLEIND']\n\nfor stock_id in update_stocks:\n  #stock_id = 'RELIANCE'\n  column = 'Conviction'\n  value = 'H'\n  mypf.loc[mypf['Symbol'] == stock_id, column] = value\n\nmypf.to_csv('/content/drive/MyDrive/data/stocks/Nifty100Scrips.csv',index=False)\n"

In [6]:
# stocks in portfolio
mypf['InPortfolio'].value_counts()

0    117
1      7
Name: InPortfolio, dtype: int64

In [7]:
# import libraries 

%matplotlib inline
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import datetime
from tabulate import tabulate
import warnings
warnings.filterwarnings('ignore')
import pandas_datareader.data as web
import yfinance as yfin
#import talib 
yfin.pdr_override()
import pandas_ta as ta

In [8]:
# fetch current PE
import requests
from bs4 import BeautifulSoup

def get_current_pe(stock_name):

  link_blueprint = "https://www.screener.in/company/"

  actual_link = link_blueprint + stock_name.upper()  + "/consolidated/"


  page = requests.get(actual_link)
  #print(actual_link)
  link_soup = BeautifulSoup(page.content, 'html.parser')

  test_list = link_soup.find(id="top").text.replace("  ", "").split('\n')

  while("" in test_list) :
      test_list.remove("")
  while("\r" in test_list) :
      test_list.remove("\r")        
  while(" \r" in test_list) :
      test_list.remove(" \r")

  try:
    current_pe = float(test_list[test_list.index('Stock P/E')+1:test_list.index('Stock P/E')+2][0])
  except ValueError as ve:
    current_pe = 1000 

  return current_pe

In [9]:
# function to compute stock attributes

def stock_prec_dev(stock_symbol):
    #stock_symbol = 'ULTRACEMCO.NS'
    short_window = 20 
    mid_window = 50
    long_window = 150
    moving_avg = 'SMA'
    
    # import the closing price data of the stock for the aforementioned period of time in Pandas dataframe
    start = datetime.datetime(*map(int, start_date.split('-')))
    end = datetime.datetime(*map(int, end_date.split('-'))) 
    stock_df = yfin.Ticker(stock_symbol).history(period='3y')[map(str.title, ['open', 'close', 'low', 'high', 'volume'])]
    stock_df = stock_df[(stock_df.index <= end_date) & (stock_df.index >= start_date)]
    #stock_df = pd.DataFrame(stock_df) # convert Series object to dataframe 
    #stock_df.columns = {'Close Price'} # assign new colun name
    stock_df.dropna(axis = 0, inplace = True) # remove any null rows 

    # column names for long and short moving average columns
    short_window_col = str(short_window) + '_' + moving_avg
    mid_window_col = str(mid_window) + '_' + moving_avg
    long_window_col = str(long_window) + '_' + moving_avg  

    #print(stock_df)

    # Create short exponential moving average column
    stock_df[short_window_col] = round(stock_df['Close'].rolling(window = short_window, min_periods = 1).mean(),0)

    stock_df[mid_window_col] = round(stock_df['Close'].rolling(window = mid_window, min_periods = 1).mean(),0)     

    #stock_df['RSI'] = round(talib.RSI(stock_df['Close Price'], timeperiod=14),0)

    # Create a long exponential moving average column
    stock_df[long_window_col] = round(stock_df['Close'].rolling(window = long_window, min_periods = 1).mean(),0)
    stock_df['Stock'] = stock_symbol
    stock_df['Dev%_150'] = round((stock_df['Close'] - stock_df['150_SMA'])*100/stock_df['150_SMA'],2)
    stock_df['150_SMA_Lag10'] = stock_df['150_SMA'].shift(10)
    stock_df['Slope%_150'] = round((stock_df['150_SMA'] - stock_df['150_SMA_Lag10'])*100/stock_df['150_SMA'],2)
    stock_df['50_SMA_Lag5'] = stock_df['50_SMA'].shift(5)
    stock_df['Slope%_50'] = round((stock_df['50_SMA'] - stock_df['50_SMA_Lag5'])*100/stock_df['50_SMA'],2)
    
    stock_df.ta.rsi(append=True)
    stock_df.rename(columns={'RSI_14':'RSI'}, inplace=True)
    stock_df['Close'] = round(stock_df['Close'],0)    
    stock_df['RSI'] = round(stock_df['RSI'],0) 
    stock_df['Max'] = round(max(stock_df['Close']),0)
    stock_df['Min'] = round(min(stock_df['Close']),0)   
    stock_df['Discount%'] = round((stock_df['Max']-stock_df['Close'])*100/(stock_df['Max']-stock_df['Min']),2)
    stock_df['Upside%ATH'] = round((stock_df['Max']-stock_df['Close'])*100/(stock_df['Close']),0)
    stock_df.drop(['Open', 'Low', 'High', 'Volume','20_SMA','50_SMA','150_SMA','150_SMA_Lag10','50_SMA_Lag5'
                   ], axis=1, inplace=True)   
    
    return stock_df

df_prec_dev = pd.DataFrame()

#tmp = stock_prec_dev('ULTRACEMCO.NS')
#df_perform = df_perform.append(tmp)
for stock_id in stock_ids:
    #print(stock_id)
    #current_pe = get_current_pe(stock_id)
    stock_id = stock_id.upper() + '.NS'    
    tmp = stock_prec_dev(stock_id)
    tmp = tmp.reset_index()
    tmp = tmp.tail(1)
    tmp['Avg_Cost'] = mypf[(mypf['Symbol']+'.NS') == stock_id.upper()]['AvgCost'].values[0]
    tmp['Med_PE'] = mypf[(mypf['Symbol']+'.NS') == stock_id.upper()]['MedianPE'].values[0]    
    #tmp['Curr_PE'] = current_pe
    tmp['EstmtFlag'] = mypf[(mypf['Symbol']+'.NS') == stock_id.upper()]['EstmtFlag'].values[0] 
    tmp['DuraFlag'] = mypf[(mypf['Symbol']+'.NS') == stock_id.upper()]['DuraFlag'].values[0]   
    tmp['Conviction'] = mypf[(mypf['Symbol']+'.NS') == stock_id.upper()]['Conviction'].values[0]      
    df_prec_dev = df_prec_dev.append(tmp)

In [10]:
# nifty in last 5 weeks
stock_prec_dev('^NSEI')[-21::5]

,Close,Stock,Dev%_150,Slope%_150,Slope%_50,RSI,Max,Min,Discount%,Upside%ATH
Date,,,,,,,,,,
2023-03-20 00:00:00+05:30,16988.0,^NSEI,-4.74,-0.03,-0.62,34.0,18812.0,15198.0,50.47,11.0
2023-03-27 00:00:00+05:30,16986.0,^NSEI,-4.61,-0.24,-0.49,37.0,18812.0,15198.0,50.53,11.0
2023-04-05 00:00:00+05:30,17557.0,^NSEI,-1.35,-0.20,-0.44,58.0,18812.0,15198.0,34.73,7.0
2023-04-13 00:00:00+05:30,17828.0,^NSEI,0.14,-0.02,-0.13,66.0,18812.0,15198.0,27.23,6.0
2023-04-21 00:00:00+05:30,17624.0,^NSEI,-0.98,0.01,-0.02,56.0,18812.0,15198.0,32.87,7.0

In [11]:
stock_ids = df_prec_dev['Stock'].values
df_prec_dev.reset_index(drop=True, inplace=True)
df_prec_dev.drop(['Date'], axis=1, inplace=True)

mypf['Stock'] = mypf['Symbol'] + '.NS'
df_prec_dev.drop([ 'Avg_Cost', 'Med_PE'], axis=1, inplace=True)

In [12]:
# portfolio stocks

tmp_df = df_prec_dev[df_prec_dev['Stock'].isin(mypf[mypf['InPortfolio'] == 1].Stock.values)]
print('qualified stocks: '+str(tmp_df.shape[0]))
tmp_df.sort_values(by = 'Upside%ATH', ascending=False)

qualified stocks: 7

,Close,Stock,Dev%_150,Slope%_150,Slope%_50,RSI,Max,Min,Discount%,Upside%ATH,EstmtFlag,DuraFlag,Conviction
69,443.0,JUBLFOOD.NS,-14.40,-2.32,-0.45,53.0,903.0,422.0,95.63,104.0,1.0,1.0,L
63,1227.0,INFY.NS,-17.79,-0.60,-2.20,23.0,1898.0,1223.0,99.41,55.0,1.0,1.0,H
33,3456.0,DMART.NS,-10.38,-1.74,-0.09,50.0,5324.0,3022.0,81.15,54.0,1.0,1.0,L
88,40055.0,PAGEIND.NS,-8.12,-1.79,-0.32,65.0,53631.0,29040.0,55.21,34.0,1.0,1.0,L
14,5938.0,BAJFINANCE.NS,-8.70,-1.32,0.08,54.0,7901.0,5265.0,74.47,33.0,1.0,1.0,H
106,700.0,TATACONSUM.NS,-7.35,-0.93,-0.42,42.0,875.0,631.0,71.72,25.0,1.0,1.0,H
7,2882.0,ASIANPAINT.NS,-4.34,-1.29,0.39,60.0,3566.0,2576.0,69.09,24.0,1.0,1.0,H

In [13]:
# prospects with heavy upside
tmp_df = df_prec_dev[~df_prec_dev['Stock'].isin(mypf[mypf['InPortfolio'] == 1].Stock.values)]
tmp_df = tmp_df[(tmp_df['EstmtFlag'] == 1) & (tmp_df['DuraFlag'] == 1)]
tmp_df = tmp_df[tmp_df['Upside%ATH'] > 40]
print('qualified stocks: '+str(tmp_df.shape[0]))
tmp_df.sort_values(by = 'Upside%ATH', ascending=False)

qualified stocks: 6

,Close,Stock,Dev%_150,Slope%_150,Slope%_50,RSI,Max,Min,Discount%,Upside%ATH,EstmtFlag,DuraFlag,Conviction
62,139.0,INDUSTOWER.NS,-21.85,-2.25,-0.65,34.0,303.0,137.0,98.80,118.0,1.0,1.0,L
65,603.0,IRCTC.NS,-9.05,-1.21,-0.33,55.0,1164.0,373.0,70.92,93.0,1.0,1.0,L
15,220.0,BANDHANBNK.NS,-7.74,-1.67,-0.91,59.0,346.0,187.0,79.25,57.0,1.0,1.0,L
49,513.0,HDFCLIFE.NS,-4.94,-0.56,-0.20,52.0,757.0,461.0,82.43,48.0,1.0,1.0,L
17,1481.0,BATAINDIA.NS,-8.62,-1.97,-0.56,68.0,2173.0,1387.0,88.04,47.0,1.0,1.0,L
18,585.0,BERGEPAINT.NS,-1.25,-0.84,0.52,52.0,858.0,540.0,85.85,47.0,1.0,1.0,L

In [14]:
# prospects near 52W low
tmp_df = df_prec_dev[~df_prec_dev['Stock'].isin(mypf[mypf['InPortfolio'] == 1].Stock.values)]
tmp_df = tmp_df[(tmp_df['EstmtFlag'] == 1) & (tmp_df['DuraFlag'] == 1)]
tmp_df = tmp_df[tmp_df['Discount%'] > 60]
print('qualified stocks: '+str(tmp_df.shape[0]))
tmp_df.sort_values(by = 'Discount%', ascending=False)

qualified stocks: 7

,Close,Stock,Dev%_150,Slope%_150,Slope%_50,RSI,Max,Min,Discount%,Upside%ATH,EstmtFlag,DuraFlag,Conviction
62,139.0,INDUSTOWER.NS,-21.85,-2.25,-0.65,34.0,303.0,137.0,98.80,118.0,1.0,1.0,L
17,1481.0,BATAINDIA.NS,-8.62,-1.97,-0.56,68.0,2173.0,1387.0,88.04,47.0,1.0,1.0,L
18,585.0,BERGEPAINT.NS,-1.25,-0.84,0.52,52.0,858.0,540.0,85.85,47.0,1.0,1.0,L
49,513.0,HDFCLIFE.NS,-4.94,-0.56,-0.20,52.0,757.0,461.0,82.43,48.0,1.0,1.0,L
26,915.0,CIPLA.NS,-12.10,-0.86,-1.19,53.0,1173.0,856.0,81.39,28.0,1.0,1.0,L
15,220.0,BANDHANBNK.NS,-7.74,-1.67,-0.91,59.0,346.0,187.0,79.25,57.0,1.0,1.0,L
65,603.0,IRCTC.NS,-9.05,-1.21,-0.33,55.0,1164.0,373.0,70.92,93.0,1.0,1.0,L

In [15]:
# prospects near 52W high
tmp_df = df_prec_dev[~df_prec_dev['Stock'].isin(mypf[mypf['InPortfolio'] == 1].Stock.values)]
tmp_df = tmp_df[(tmp_df['EstmtFlag'] == 1) & (tmp_df['DuraFlag'] == 1)]
tmp_df = tmp_df[tmp_df['Discount%'] < 15]
print('qualified stocks: '+str(tmp_df.shape[0]))
tmp_df.sort_values(by = 'Discount%', ascending=True)

qualified stocks: 3

,Close,Stock,Dev%_150,Slope%_150,Slope%_50,RSI,Max,Min,Discount%,Upside%ATH,EstmtFlag,DuraFlag,Conviction
59,302.0,INDIANB.NS,13.63,2.63,0.70,57.0,322.0,112.0,9.52,7.0,1.0,1.0,L
16,176.0,BANKBARODA.NS,8.25,1.84,0.60,63.0,193.0,71.0,13.93,10.0,1.0,1.0,L
104,989.0,SUNPHARMA.NS,0.45,0.81,-0.31,50.0,1044.0,651.0,13.99,6.0,1.0,1.0,L

In [16]:
# prospects in bull run
tmp_df = df_prec_dev[~df_prec_dev['Stock'].isin(mypf[mypf['InPortfolio'] == 1].Stock.values)]
tmp_df = tmp_df[(tmp_df['EstmtFlag'] == 1) & (tmp_df['DuraFlag'] == 1)]
tmp_df = tmp_df[(tmp_df['Slope%_150'] > 0) & (tmp_df['Slope%_50'] > tmp_df['Slope%_150'])]
print('qualified stocks: '+str(tmp_df.shape[0]))
tmp_df.sort_values(by = 'Slope%_50', ascending=False)

qualified stocks: 1

,Close,Stock,Dev%_150,Slope%_150,Slope%_50,RSI,Max,Min,Discount%,Upside%ATH,EstmtFlag,DuraFlag,Conviction
34,4869.0,DRREDDY.NS,10.33,0.91,1.19,73.0,5451.0,3669.0,32.66,12.0,1.0,1.0,L

In [17]:
# prospects about to turn around
tmp_df = df_prec_dev[~df_prec_dev['Stock'].isin(mypf[mypf['InPortfolio'] == 1].Stock.values)]
tmp_df = tmp_df[(tmp_df['EstmtFlag'] == 1) & (tmp_df['DuraFlag'] == 1)]
tmp_df = tmp_df[(tmp_df['Slope%_150'] < 0) & (tmp_df['Slope%_50'] > tmp_df['Slope%_150'])]
print('qualified stocks: '+str(tmp_df.shape[0]))
tmp_df.sort_values(by = 'Slope%_50', ascending=False)

qualified stocks: 9

,Close,Stock,Dev%_150,Slope%_150,Slope%_50,RSI,Max,Min,Discount%,Upside%ATH,EstmtFlag,DuraFlag,Conviction
113,2568.0,TITAN.NS,0.96,-0.12,0.85,59.0,2770.0,1512.0,16.06,8.0,1.0,1.0,H
18,585.0,BERGEPAINT.NS,-1.25,-0.84,0.52,52.0,858.0,540.0,85.85,47.0,1.0,1.0,L
92,2440.0,PIDILITIND.NS,-3.36,-1.15,0.47,66.0,2902.0,1991.0,50.71,19.0,1.0,1.0,L
35,3201.0,EICHERMOT.NS,-3.62,-0.51,-0.03,59.0,3850.0,2241.0,40.34,20.0,1.0,1.0,L
49,513.0,HDFCLIFE.NS,-4.94,-0.56,-0.20,52.0,757.0,461.0,82.43,48.0,1.0,1.0,L
65,603.0,IRCTC.NS,-9.05,-1.21,-0.33,55.0,1164.0,373.0,70.92,93.0,1.0,1.0,L
17,1481.0,BATAINDIA.NS,-8.62,-1.97,-0.56,68.0,2173.0,1387.0,88.04,47.0,1.0,1.0,L
62,139.0,INDUSTOWER.NS,-21.85,-2.25,-0.65,34.0,303.0,137.0,98.80,118.0,1.0,1.0,L
15,220.0,BANDHANBNK.NS,-7.74,-1.67,-0.91,59.0,346.0,187.0,79.25,57.0,1.0,1.0,L

In [18]:
# all time high sales and profit TTM

star_stocks = ['ADANIENT.NS', 'DRREDDY.NS', 'SBIN.NS', 'HCLTECH.NS', 'HDFC.NS',
       'HDFCBANK.NS', 'SBICARD.NS', 'HINDUNILVR.NS', 'ICICIBANK.NS', 'IGL.NS',
       'RELIANCE.NS', 'INDUSINDBK.NS', 'ADANIGREEN.NS', 'INFY.NS', 'ITC.NS',
       'PIIND.NS', 'PIDILITIND.NS', 'JUBLFOOD.NS', 'PAGEIND.NS', 'LTIM.NS',
       'M&M.NS', 'MARICO.NS', 'MCDOWELL-N.NS', 'EICHERMOT.NS', 'GRASIM.NS',
       'DMART.NS', 'TCS.NS', 'UPL.NS', 'ASIANPAINT.NS', 'AXISBANK.NS',
       'TITAN.NS', 'BAJFINANCE.NS', 'BAJAJFINSV.NS', 'BANDHANBNK.NS',
       'BHARTIARTL.NS', 'BERGEPAINT.NS', 'COALINDIA.NS', 'CHOLAFIN.NS',
       'TATACONSUM.NS', 'CIPLA.NS', 'NTPC.NS', 'BRITANNIA.NS']

tmp_df = df_prec_dev[df_prec_dev['Stock'].isin(star_stocks)]
tmp_df = tmp_df[(tmp_df['EstmtFlag'] == 1) & (tmp_df['DuraFlag'] != -1)]
#tmp_df = tmp_df[(tmp_df['Upside%ATH'] >= 25) & (tmp_df['Discount%'] >= 60)]
tmp_df = tmp_df[(tmp_df['Upside%ATH'] >= 20)]
print('qualified stocks: '+str(tmp_df.shape[0]))
tmp_df.sort_values(by = 'Upside%ATH', ascending=False)

qualified stocks: 18

,Close,Stock,Dev%_150,Slope%_150,Slope%_50,RSI,Max,Min,Discount%,Upside%ATH,EstmtFlag,DuraFlag,Conviction
1,1803.0,ADANIENT.NS,-39.74,-3.41,-2.17,48.0,4165.0,1194.0,79.50,131.0,1.0,0.0,L
69,443.0,JUBLFOOD.NS,-14.40,-2.32,-0.45,53.0,903.0,422.0,95.63,104.0,1.0,1.0,L
72,4171.0,LTIM.NS,-8.85,-0.02,-0.47,29.0,7439.0,3566.0,84.38,78.0,1.0,0.0,L
15,220.0,BANDHANBNK.NS,-7.74,-1.67,-0.91,59.0,346.0,187.0,79.25,57.0,1.0,1.0,L
63,1227.0,INFY.NS,-17.79,-0.60,-2.20,23.0,1898.0,1223.0,99.41,55.0,1.0,1.0,H
33,3456.0,DMART.NS,-10.38,-1.74,-0.09,50.0,5324.0,3022.0,81.15,54.0,1.0,1.0,L
99,762.0,SBICARD.NS,-4.11,-1.51,0.40,58.0,1133.0,673.0,80.65,49.0,1.0,0.0,L
18,585.0,BERGEPAINT.NS,-1.25,-0.84,0.52,52.0,858.0,540.0,85.85,47.0,1.0,1.0,L
12,1318.0,BAJAJFINSV.NS,-12.72,-1.66,0.15,51.0,1907.0,1093.0,72.36,45.0,1.0,0.0,L
88,40055.0,PAGEIND.NS,-8.12,-1.79,-0.32,65.0,53631.0,29040.0,55.21,34.0,1.0,1.0,L
14,5938.0,BAJFINANCE.NS,-8.70,-1.32,0.08,54.0,7901.0,5265.0,74.47,33.0,1.0,1.0,H
26,915.0,CIPLA.NS,-12.10,-0.86,-1.19,53.0,1173.0,856.0,81.39,28.0,1.0,1.0,L
106,700.0,TATACONSUM.NS,-7.35,-0.93,-0.42,42.0,875.0,631.0,71.72,25.0,1.0,1.0,H
7,2882.0,ASIANPAINT.NS,-4.34,-1.29,0.39,60.0,3566.0,2576.0,69.09,24.0,1.0,1.0,H
110,3161.0,TCS.NS,-2.02,0.15,-0.91,45.0,3886.0,2915.0,74.67,23.0,1.0,0.0,H
45,1049.0,HCLTECH.NS,-0.29,0.95,-0.82,43.0,1280.0,857.0,54.61,22.0,1.0,1.0,H
97,2349.0,RELIANCE.NS,-4.32,-0.65,0.04,55.0,2811.0,1951.0,53.72,20.0,1.0,0.0,H
35,3201.0,EICHERMOT.NS,-3.62,-0.51,-0.03,59.0,3850.0,2241.0,40.34,20.0,1.0,1.0,L

In [19]:
# star stocks ordered based on discount
tmp_df.sort_values(by = 'Discount%', ascending=False)

,Close,Stock,Dev%_150,Slope%_150,Slope%_50,RSI,Max,Min,Discount%,Upside%ATH,EstmtFlag,DuraFlag,Conviction
63,1227.0,INFY.NS,-17.79,-0.60,-2.20,23.0,1898.0,1223.0,99.41,55.0,1.0,1.0,H
69,443.0,JUBLFOOD.NS,-14.40,-2.32,-0.45,53.0,903.0,422.0,95.63,104.0,1.0,1.0,L
18,585.0,BERGEPAINT.NS,-1.25,-0.84,0.52,52.0,858.0,540.0,85.85,47.0,1.0,1.0,L
72,4171.0,LTIM.NS,-8.85,-0.02,-0.47,29.0,7439.0,3566.0,84.38,78.0,1.0,0.0,L
26,915.0,CIPLA.NS,-12.10,-0.86,-1.19,53.0,1173.0,856.0,81.39,28.0,1.0,1.0,L
33,3456.0,DMART.NS,-10.38,-1.74,-0.09,50.0,5324.0,3022.0,81.15,54.0,1.0,1.0,L
99,762.0,SBICARD.NS,-4.11,-1.51,0.40,58.0,1133.0,673.0,80.65,49.0,1.0,0.0,L
1,1803.0,ADANIENT.NS,-39.74,-3.41,-2.17,48.0,4165.0,1194.0,79.50,131.0,1.0,0.0,L
15,220.0,BANDHANBNK.NS,-7.74,-1.67,-0.91,59.0,346.0,187.0,79.25,57.0,1.0,1.0,L
110,3161.0,TCS.NS,-2.02,0.15,-0.91,45.0,3886.0,2915.0,74.67,23.0,1.0,0.0,H
14,5938.0,BAJFINANCE.NS,-8.70,-1.32,0.08,54.0,7901.0,5265.0,74.47,33.0,1.0,1.0,H
12,1318.0,BAJAJFINSV.NS,-12.72,-1.66,0.15,51.0,1907.0,1093.0,72.36,45.0,1.0,0.0,L
106,700.0,TATACONSUM.NS,-7.35,-0.93,-0.42,42.0,875.0,631.0,71.72,25.0,1.0,1.0,H
7,2882.0,ASIANPAINT.NS,-4.34,-1.29,0.39,60.0,3566.0,2576.0,69.09,24.0,1.0,1.0,H
88,40055.0,PAGEIND.NS,-8.12,-1.79,-0.32,65.0,53631.0,29040.0,55.21,34.0,1.0,1.0,L
45,1049.0,HCLTECH.NS,-0.29,0.95,-0.82,43.0,1280.0,857.0,54.61,22.0,1.0,1.0,H
97,2349.0,RELIANCE.NS,-4.32,-0.65,0.04,55.0,2811.0,1951.0,53.72,20.0,1.0,0.0,H
35,3201.0,EICHERMOT.NS,-3.62,-0.51,-0.03,59.0,3850.0,2241.0,40.34,20.0,1.0,1.0,L

In [20]:
# star stocks ordered based on slope
tmp_df.sort_values(by = 'Slope%_50', ascending=False)

,Close,Stock,Dev%_150,Slope%_150,Slope%_50,RSI,Max,Min,Discount%,Upside%ATH,EstmtFlag,DuraFlag,Conviction
18,585.0,BERGEPAINT.NS,-1.25,-0.84,0.52,52.0,858.0,540.0,85.85,47.0,1.0,1.0,L
99,762.0,SBICARD.NS,-4.11,-1.51,0.40,58.0,1133.0,673.0,80.65,49.0,1.0,0.0,L
7,2882.0,ASIANPAINT.NS,-4.34,-1.29,0.39,60.0,3566.0,2576.0,69.09,24.0,1.0,1.0,H
12,1318.0,BAJAJFINSV.NS,-12.72,-1.66,0.15,51.0,1907.0,1093.0,72.36,45.0,1.0,0.0,L
14,5938.0,BAJFINANCE.NS,-8.70,-1.32,0.08,54.0,7901.0,5265.0,74.47,33.0,1.0,1.0,H
97,2349.0,RELIANCE.NS,-4.32,-0.65,0.04,55.0,2811.0,1951.0,53.72,20.0,1.0,0.0,H
35,3201.0,EICHERMOT.NS,-3.62,-0.51,-0.03,59.0,3850.0,2241.0,40.34,20.0,1.0,1.0,L
33,3456.0,DMART.NS,-10.38,-1.74,-0.09,50.0,5324.0,3022.0,81.15,54.0,1.0,1.0,L
88,40055.0,PAGEIND.NS,-8.12,-1.79,-0.32,65.0,53631.0,29040.0,55.21,34.0,1.0,1.0,L
106,700.0,TATACONSUM.NS,-7.35,-0.93,-0.42,42.0,875.0,631.0,71.72,25.0,1.0,1.0,H
69,443.0,JUBLFOOD.NS,-14.40,-2.32,-0.45,53.0,903.0,422.0,95.63,104.0,1.0,1.0,L
72,4171.0,LTIM.NS,-8.85,-0.02,-0.47,29.0,7439.0,3566.0,84.38,78.0,1.0,0.0,L
45,1049.0,HCLTECH.NS,-0.29,0.95,-0.82,43.0,1280.0,857.0,54.61,22.0,1.0,1.0,H
110,3161.0,TCS.NS,-2.02,0.15,-0.91,45.0,3886.0,2915.0,74.67,23.0,1.0,0.0,H
15,220.0,BANDHANBNK.NS,-7.74,-1.67,-0.91,59.0,346.0,187.0,79.25,57.0,1.0,1.0,L
26,915.0,CIPLA.NS,-12.10,-0.86,-1.19,53.0,1173.0,856.0,81.39,28.0,1.0,1.0,L
1,1803.0,ADANIENT.NS,-39.74,-3.41,-2.17,48.0,4165.0,1194.0,79.50,131.0,1.0,0.0,L
63,1227.0,INFY.NS,-17.79,-0.60,-2.20,23.0,1898.0,1223.0,99.41,55.0,1.0,1.0,H

In [21]:
# cross-check the features
tmp_df = df_prec_dev[~df_prec_dev['Stock'].isin(mypf[mypf['InPortfolio'] == 1].Stock.values)]
tmp_df = tmp_df[(tmp_df['EstmtFlag'] != 1) | (tmp_df['DuraFlag'] != 1)]
tmp_df = tmp_df[tmp_df['Upside%ATH'] > 40]
print('qualified stocks: '+str(tmp_df.shape[0]))
tmp_df.sort_values(by = 'Upside%ATH', ascending=False)

qualified stocks: 42

,Close,Stock,Dev%_150,Slope%_150,Slope%_50,RSI,Max,Min,Discount%,Upside%ATH,EstmtFlag,DuraFlag,Conviction
4,995.0,ADANITRANS.NS,-56.63,-8.41,-6.42,46.0,4105.0,643.0,89.83,313.0,1.0,-1.0,L
89,718.0,PEL.NS,-12.07,-3.30,-1.73,53.0,2866.0,635.0,96.28,299.0,-1.0,0.0,L
54,57.0,IBREALEST.NS,-20.90,-2.78,-1.75,51.0,191.0,47.0,93.06,235.0,-1.0,-1.0,L
40,1311.0,GLAND.NS,-18.86,-4.76,0.31,54.0,4316.0,1154.0,95.03,229.0,1.0,0.0,L
2,916.0,ADANIGREEN.NS,-42.77,-5.93,-2.23,54.0,2970.0,462.0,81.90,224.0,-1.0,-1.0,L
1,1803.0,ADANIENT.NS,-39.74,-3.41,-2.17,48.0,4165.0,1194.0,79.50,131.0,1.0,0.0,L
84,54.0,NETWORK18.NS,-13.97,-1.59,-1.75,44.0,114.0,40.0,81.08,111.0,-1.0,-1.0,L
120,368.0,WIPRO.NS,-5.87,-0.77,-1.05,47.0,713.0,356.0,96.64,94.0,-1.0,0.0,L
82,3627.0,NAUKRI.NS,-4.49,-0.92,-0.06,49.0,6984.0,3363.0,92.71,93.0,1.0,0.0,L
119,1322.0,WHIRLPOOL.NS,-9.62,-2.12,-0.08,48.0,2510.0,1254.0,94.59,90.0,1.0,0.0,L
122,196.0,ZEEL.NS,-17.67,-1.26,-0.97,36.0,367.0,164.0,84.24,87.0,-1.0,1.0,L
80,237.0,NAM-INDIA.NS,-4.40,-1.61,0.00,64.0,438.0,201.0,84.81,85.0,-1.0,1.0,L
47,1770.0,HDFCAMC.NS,-10.25,-0.81,-0.45,51.0,3229.0,1665.0,93.29,82.0,1.0,0.0,L
20,229.0,BIOCON.NS,-10.25,-1.96,-0.45,61.0,414.0,199.0,86.05,81.0,1.0,0.0,L
78,609.0,MOTILALOFS.NS,-9.15,-1.34,-1.13,49.0,1095.0,554.0,89.83,80.0,-1.0,0.0,L
72,4171.0,LTIM.NS,-8.85,-0.02,-0.47,29.0,7439.0,3566.0,84.38,78.0,1.0,0.0,L
73,695.0,LUPIN.NS,-1.54,0.14,-0.89,60.0,1233.0,587.0,83.28,77.0,1.0,0.0,L
111,999.0,TECHM.NS,-4.97,0.00,0.00,31.0,1750.0,919.0,90.37,75.0,-1.0,1.0,L
9,588.0,AUROPHARMA.NS,22.27,0.21,3.48,80.0,1010.0,402.0,69.41,72.0,-1.0,0.0,L
31,3232.0,DIVISLAB.NS,-1.23,-0.98,0.00,66.0,5331.0,2751.0,81.36,65.0,-1.0,1.0,L
36,363.0,EMAMILTD.NS,-14.60,-2.12,-1.59,47.0,588.0,343.0,91.84,62.0,-1.0,1.0,L
105,8.0,SUZLON.NS,-11.67,0.00,0.00,46.0,13.0,5.0,62.50,62.0,-1.0,0.0,L
57,444.0,ICICIPRULI.NS,-4.49,-2.15,0.47,58.0,716.0,384.0,81.93,61.0,1.0,0.0,L
0,1718.0,ACC.NS,-22.02,-1.86,-0.84,44.0,2748.0,1614.0,90.83,60.0,0.0,0.0,L
79,1035.0,MUTHOOTFIN.NS,1.98,0.10,0.41,70.0,1651.0,897.0,81.70,60.0,-1.0,0.0,L
30,1832.0,DEEPAKNTR.NS,-8.64,-0.60,0.00,51.0,2915.0,1713.0,90.10,59.0,-1.0,1.0,L
90,3798.0,PFIZER.NS,-7.88,-0.85,-0.30,63.0,6009.0,3442.0,86.13,58.0,0.0,1.0,L
5,375.0,AMBUJACEM.NS,-20.86,-0.63,0.27,47.0,588.0,275.0,68.05,57.0,0.0,0.0,L
98,82.0,SAIL.NS,-1.69,0.00,0.00,43.0,128.0,62.0,69.70,56.0,-1.0,1.0,L
118,857.0,VOLTAS.NS,0.94,-1.06,0.58,56.0,1330.0,745.0,80.85,55.0,0.0,1.0,L
85,110.0,NMDC.NS,-5.30,-0.86,-0.88,43.0,169.0,97.0,81.94,54.0,0.0,1.0,L
56,1060.0,ICICIGI.NS,-8.26,-0.87,-0.37,41.0,1620.0,1060.0,100.00,53.0,1.0,0.0,L
121,16.0,YESBANK.NS,-4.71,0.00,0.00,56.0,24.0,11.0,61.54,50.0,0.0,0.0,L
81,82.0,NATIONALUM.NS,9.53,0.00,1.27,58.0,122.0,60.0,64.52,49.0,0.0,1.0,L
99,762.0,SBICARD.NS,-4.11,-1.51,0.40,58.0,1133.0,673.0,80.65,49.0,1.0,0.0,L
42,436.0,GODREJIND.NS,0.76,-0.69,0.24,58.0,644.0,397.0,84.21,48.0,0.0,1.0,L
51,422.0,HINDALCO.NS,-2.23,0.00,-0.96,56.0,626.0,314.0,65.38,48.0,-1.0,1.0,L
112,161.0,TIPSINDLTD.NS,-2.80,0.00,0.64,54.0,236.0,79.0,47.77,47.0,0.0,1.0,L
3,662.0,ADANIPORTS.NS,-13.18,-1.84,2.07,54.0,970.0,462.0,60.63,47.0,1.0,0.0,L
108,196.0,TATAPOWER.NS,-7.69,-1.42,-0.50,47.0,287.0,103.0,49.46,46.0,1.0,0.0,L
96,1499.0,PVR.NS,-11.73,-1.35,-1.08,41.0,2193.0,1245.0,73.21,46.0,1.0,-1.0,L
12,1318.0,BAJAJFINSV.NS,-12.72,-1.66,0.15,51.0,1907.0,1093.0,72.36,45.0,1.0,0.0,L

In [22]:
stock_id = 'VOLTAS.NS'
df_prec_dev[df_prec_dev['Stock'] == stock_id]

,Close,Stock,Dev%_150,Slope%_150,Slope%_50,RSI,Max,Min,Discount%,Upside%ATH,EstmtFlag,DuraFlag,Conviction
118,857.0,VOLTAS.NS,0.94,-1.06,0.58,56.0,1330.0,745.0,80.85,55.0,0.0,1.0,L