<a href="https://colab.research.google.com/github/ankit-rathi/Data-Science-with-Python/blob/master/Stock_Analysis/Nifty100_Performance_Over_Time.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install yfinance

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting yfinance
  Downloading yfinance-0.2.3-py2.py3-none-any.whl (50 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 50.4/50.4 KB 3.2 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.16.5 in /usr/local/lib/python3.8/dist-packages (from yfinance) (1.21.6)
Collecting html5lib>=1.1
  Downloading html5lib-1.1-py2.py3-none-any.whl (112 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 112.2/112.2 KB 6.5 MB/s eta 0:00:00
Collecting requests>=2.26
  Downloading requests-2.28.1-py3-none-any.whl (62 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 62.8/62.8 KB 6.4 MB/s eta 0:00:00
Requirement already satisfied: pytz>=2022.5 in /usr/local/lib/python3.8/dist-packages (from yfinance) (2022.7)
Requirement already satisfied: appdirs>=1.4.4 in /usr/local/lib/python3.8/dist-packages (from yfinance) (1.4.4)
Collecting cryptography>=3.3.2
  Downloading cryptography-39.0.0-cp36-abi3-manylinux_2_24_x86_64.whl (4.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4.1/4.1 MB 51.3 MB/s eta 0:00:00
Requirement already satisfied: pandas>=1.3.0 in /usr/local/lib/python3.8/dist-packages (from yfinance) (1.3.5)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.8/dist-packages (from yfinance) (0.0.11)
Collecting beautifulsoup4>=4.11.1
  Downloading beautifulsoup4-4.11.1-py3-none-any.whl (128 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 128.2/128.2 KB 12.4 MB/s eta 0:00:00
Requirement already satisfied: lxml>=4.9.1 in /usr/local/lib/python3.8/dist-packages (from yfinance) (4.9.2)
Collecting frozendict>=2.3.4
  Downloading frozendict-2.3.4-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (110 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 111.0/111.0 KB 12.2 MB/s eta 0:00:00
Collecting soupsieve>1.2
  Downloading soupsieve-2.3.2.post1-py3-none-any.whl (37 kB)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.8/dist-packages (from cryptography>=3.3.2->yfinance) (1.15.1)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.8/dist-packages (from html5lib>=1.1->yfinance) (1.15.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.8/dist-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (2022.12.7)
Requirement already satisfied: charset-normalizer<3,>=2 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (2.1.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (1.24.3)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (2.10)
Requirement already satisfied: pycparser in /usr/local/lib/python3.8/dist-packages (from cffi>=1.12->cryptography>=3.3.2->yfinance) (2.21)
Installing collected packages: soupsieve, requests, html5lib, frozendict, cryptography, beautifulsoup4, yfinance
  Attempting uninstall: requests
    Found existing installation: requests 2.25.1
    Uninstalling requests-2.25.1:
      Successfully uninstalled requests-2.25.1
  Attempting uninstall: html5lib
    Found existing installation: html5lib 1.0.1
    Uninstalling html5lib-1.0.1:
      Successfully uninstalled html5lib-1.0.1
  Attempting uninstall: beautifulsoup4
    Found existing installation: beautifulsoup4 4.6.3
    Uninstalling beautifulsoup4-4.6.3:
      Successfully uninstalled beautifulsoup4-4.6.3
Successfully installed beautifulsoup4-4.11.1 cryptography-39.0.0 frozendict-2.3.4 html5lib-1.1 requests-2.28.1 soupsieve-2.3.2.post1 yfinance-0.2.3

In [2]:
import pandas as pd
import numpy as np

mypf = pd.read_csv('https://raw.githubusercontent.com/ankit-rathi/Data-Science-with-Python/master/Stock_Analysis/data/Nifty100Scrips.csv')

mypf = mypf[mypf['InScope'] == 1]

stock_n100 = mypf['Symbol'].unique()

exclude = ['CADILAHC','MMTC']

stock_n100 = mypf[~mypf['Symbol'].isin(exclude) ]['Symbol']

#stock_ids

stock_ids = stock_n100

In [3]:
import pandas as pd
import datetime
import warnings
warnings.filterwarnings('ignore')
import pandas_datareader.data as web
import yfinance as yfin
yfin.pdr_override()

start_date = (datetime.date.today() + datetime.timedelta(days=-5)).strftime('%Y-%m-%d')
end_date = (datetime.date.today() + datetime.timedelta(days=1)).strftime('%Y-%m-%d')

df_perform = pd.DataFrame()

for stock_id in stock_ids:
    stock_id = stock_id.upper() + '.NS'
    tmp = pd.DataFrame(web.DataReader(tickers = stock_id, start = start_date, end = end_date))
    tmp['Stock'] = stock_id
    tmp['Prev_Close'] = tmp['Close'].shift(1)
    tmp['Change%'] = round((tmp['Close'] - tmp['Prev_Close'])*100/tmp['Prev_Close'],2)
    tmp = tmp.tail(1)
    df_perform = df_perform.append(tmp)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [4]:
# losers
df_perform.sort_values(by = 'Change%')

,Open,High,Low,Close,Adj Close,Volume,Stock,Prev_Close,Change%
Date,,,,,,,,,
2023-01-06,1473.550049,1473.550049,1423.000000,1425.500000,1425.500000,3568241,BAJAJFINSV.NS,1468.849976,-2.95
2023-01-06,3300.000000,3301.550049,3222.050049,3222.949951,3222.949951,1434811,TCS.NS,3311.100098,-2.66
2023-01-06,6130.000000,6139.950195,5941.600098,5955.049805,5955.049805,2185676,BAJFINANCE.NS,6100.049805,-2.38
2023-01-06,1826.000000,1826.000000,1776.650024,1778.050049,1778.050049,1567999,KOTAKBANK.NS,1820.300049,-2.32
2023-01-06,1214.000000,1217.699951,1188.000000,1188.000000,1188.000000,1667984,INDUSINDBK.NS,1215.849976,-2.29
...,...,...,...,...,...,...,...,...,...
2023-01-06,1270.949951,1287.349976,1268.449951,1278.949951,1278.949951,1042513,SBILIFE.NS,1267.650024,0.89
2023-01-06,4313.200195,4369.000000,4310.000000,4356.250000,4356.250000,172449,BRITANNIA.NS,4313.200195,1.00
2023-01-06,608.000000,620.599976,605.650024,617.900024,617.900024,3858446,HDFCLIFE.NS,609.450012,1.39
2023-01-06,1167.099976,1191.000000,1167.099976,1183.449951,1183.449951,730572,HAVELLS.NS,1167.099976,1.40
2023-01-06,433.100006,461.149994,433.100006,453.850006,453.850006,1985631,GODREJIND.NS,430.100006,5.52

In [5]:
# gainers
df_perform.sort_values(by = 'Change%', ascending=False)

,Open,High,Low,Close,Adj Close,Volume,Stock,Prev_Close,Change%
Date,,,,,,,,,
2023-01-06,433.100006,461.149994,433.100006,453.850006,453.850006,1985631,GODREJIND.NS,430.100006,5.52
2023-01-06,1167.099976,1191.000000,1167.099976,1183.449951,1183.449951,730572,HAVELLS.NS,1167.099976,1.40
2023-01-06,608.000000,620.599976,605.650024,617.900024,617.900024,3858446,HDFCLIFE.NS,609.450012,1.39
2023-01-06,4313.200195,4369.000000,4310.000000,4356.250000,4356.250000,172449,BRITANNIA.NS,4313.200195,1.00
2023-01-06,1270.949951,1287.349976,1268.449951,1278.949951,1278.949951,1042513,SBILIFE.NS,1267.650024,0.89
...,...,...,...,...,...,...,...,...,...
2023-01-06,1214.000000,1217.699951,1188.000000,1188.000000,1188.000000,1667984,INDUSINDBK.NS,1215.849976,-2.29
2023-01-06,1826.000000,1826.000000,1776.650024,1778.050049,1778.050049,1567999,KOTAKBANK.NS,1820.300049,-2.32
2023-01-06,6130.000000,6139.950195,5941.600098,5955.049805,5955.049805,2185676,BAJFINANCE.NS,6100.049805,-2.38
2023-01-06,3300.000000,3301.550049,3222.050049,3222.949951,3222.949951,1434811,TCS.NS,3311.100098,-2.66
2023-01-06,1473.550049,1473.550049,1423.000000,1425.500000,1425.500000,3568241,BAJAJFINSV.NS,1468.849976,-2.95

In [6]:
d = 365*5
start_date = (datetime.date.today() + datetime.timedelta(days=-d)).strftime('%Y-%m-%d')
end_date = (datetime.date.today() + datetime.timedelta(days=0)).strftime('%Y-%m-%d')

df_perform = pd.DataFrame()

for stock_id in stock_ids:
    stock_id = stock_id.upper() + '.NS'


    df_stock = pd.DataFrame(web.DataReader(tickers = stock_id, start = start_date, end = end_date))

    CMP = df_stock['Close'].values[-1]
    D1 = round((df_stock['Close'].values[-1] - df_stock['Close'].shift(1).values[-1])*100/df_stock['Close'].shift(1).values[-1],2)
    W1 = round((df_stock['Close'].values[-1] - df_stock['Close'].shift(5).values[-1])*100/df_stock['Close'].shift(5).values[-1],2)
    M1 = round((df_stock['Close'].values[-1] - df_stock['Close'].shift(20).values[-1])*100/df_stock['Close'].shift(20).values[-1],2)
    M3 = round((df_stock['Close'].values[-1] - df_stock['Close'].shift(60).values[-1])*100/df_stock['Close'].shift(60).values[-1],2)
    M6 = round((df_stock['Close'].values[-1] - df_stock['Close'].shift(120).values[-1])*100/df_stock['Close'].shift(120).values[-1],2)
    Y1 = round((df_stock['Close'].values[-1] - df_stock['Close'].shift(240).values[-1])*100/df_stock['Close'].shift(240).values[-1],2)
    Y2 = round(((df_stock['Close'].values[-1]/df_stock['Close'].shift(240*2).values[-1])**.5 - 1)*100,2)
    Y3 = round(((df_stock['Close'].values[-1]/df_stock['Close'].shift(240*3).values[-1])**.33 - 1)*100,2)
    Y5 = round(((df_stock['Close'].values[-1]/df_stock['Close'].shift(240*5).values[-1])**.2 - 1)*100,2)
    
    
    tmp = {'Stock':[stock_id],
           'CMP': CMP,
           '1D%' : [D1],
           '1W%' : [W1],
           '1M%' : [M1],
           '3M%' : [M3],
           '6M%' : [M6],
           '1Y%' : [Y1],
           '2Y%' : [Y2],
           '3Y%' : [Y3],
           '5Y%' : [Y5]
           }

    tmp = pd.DataFrame(tmp)
    
    df_perform = df_perform.append(tmp)

df_perform

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

,Stock,CMP,1D%,1W%,1M%,3M%,6M%,1Y%,2Y%,3Y%,5Y%
0,ASIANPAINT.NS,3004.350098,-0.41,-3.56,-6.74,-8.92,2.15,-10.95,11.71,16.45,22.03
0,AXISBANK.NS,949.549988,-0.83,1.61,1.09,20.88,39.66,30.94,19.68,7.85,12.02
0,BAJAJFINSV.NS,1468.849976,-5.10,-2.83,-9.25,-12.18,24.79,-19.09,29.77,14.40,23.46
0,BAJFINANCE.NS,6100.049805,-7.17,-6.31,-7.32,-15.31,3.76,-21.23,13.51,8.46,29.78
0,BANKBARODA.NS,184.050003,0.74,-0.70,-2.23,42.01,69.71,99.51,64.46,27.45,5.41
...,...,...,...,...,...,...,...,...,...,...,...
0,TIPSINDLTD.NS,1743.500000,-1.93,-4.41,-6.38,16.20,-0.38,-29.02,118.62,137.83,76.57
0,TITAN.NS,2562.100098,-1.36,0.35,-0.83,-2.38,21.35,-1.48,34.31,26.09,25.51
0,ULTRACEMCO.NS,7007.000000,0.02,0.36,-2.40,15.31,20.83,-7.26,14.69,16.13,10.91
0,WIPRO.NS,386.899994,-0.72,-0.99,-4.16,-4.33,-4.87,-38.91,-3.78,16.36,12.07
0,ZEEL.NS,239.750000,1.18,0.21,-8.72,-12.07,7.46,-24.27,4.39,1.08,-16.09

In [7]:
df_perform.sort_values(by = '3M%', ascending = False).head(20)

,Stock,CMP,1D%,1W%,1M%,3M%,6M%,1Y%,2Y%,3Y%,5Y%
0,INDIANB.NS,294.700012,-0.25,6.14,-0.08,53.61,69.32,108.27,82.53,48.10,-1.11
0,CANBK.NS,327.500000,0.18,1.98,0.96,47.06,50.09,46.80,57.51,20.81,2.07
0,SUZLON.NS,10.250000,-1.44,0.99,4.59,44.37,58.91,-15.98,27.55,61.46,-4.57
0,BANKBARODA.NS,184.050003,0.74,-0.70,-2.23,42.01,69.71,99.51,64.46,27.45,5.41
0,AXISBANK.NS,949.549988,-0.83,1.61,1.09,20.88,39.66,30.94,19.68,7.85,12.02
0,HINDALCO.NS,465.700012,0.91,-0.89,-1.26,17.59,33.48,-6.11,43.45,33.59,13.77
0,HDFCLIFE.NS,609.450012,1.81,6.73,5.53,16.63,12.97,-8.91,-5.19,1.74,5.38
0,NATIONALUM.NS,81.699997,0.99,3.35,4.01,16.55,12.38,-23.72,30.60,26.32,3.66
0,TIPSINDLTD.NS,1743.500000,-1.93,-4.41,-6.38,16.20,-0.38,-29.02,118.62,137.83,76.57
0,TATASTEEL.NS,116.550003,0.69,4.30,4.20,16.14,28.81,-2.46,39.26,37.10,11.65
0,BRITANNIA.NS,4313.200195,1.85,-0.81,-1.86,15.70,15.76,19.09,10.99,11.08,11.74
0,HDFC.NS,2621.600098,-0.16,-2.01,-1.62,15.43,21.09,-1.54,5.00,2.43,7.47
0,ULTRACEMCO.NS,7007.000000,0.02,0.36,-2.40,15.31,20.83,-7.26,14.69,16.13,10.91
0,INDIGO.NS,2037.550049,1.72,1.09,0.91,15.12,17.26,-3.54,14.74,12.08,8.78
0,SBIN.NS,605.099976,-0.02,-1.10,-1.07,14.73,24.38,19.40,46.46,23.37,17.72
0,HDFCBANK.NS,1599.699951,-0.64,-2.53,-1.22,14.21,17.81,4.61,7.26,8.51,10.95
0,FEDERALBNK.NS,136.699997,0.22,-0.69,0.70,11.68,39.49,39.06,37.50,14.62,7.34
0,HCLTECH.NS,1044.099976,0.72,-0.03,-5.20,11.24,13.77,-14.40,6.88,19.14,17.06
0,GODREJCP.NS,916.500000,3.13,3.44,1.67,11.10,5.04,-1.28,10.94,12.46,4.73
0,LT.NS,2087.350098,0.81,-1.12,-3.71,11.09,26.72,3.22,25.06,16.99,9.30

In [8]:
df_perform.sort_values(by = '3M%', ascending = True).head(20)

,Stock,CMP,1D%,1W%,1M%,3M%,6M%,1Y%,2Y%,3Y%,5Y%
0,JUBLFOOD.NS,503.799988,0.90,-1.24,-6.16,-16.06,-13.39,-33.49,-1.38,11.32,19.84
0,BAJFINANCE.NS,6100.049805,-7.17,-6.31,-7.32,-15.31,3.76,-21.23,13.51,8.46,29.78
0,IRCTC.NS,637.150024,0.31,0.65,-11.59,-12.19,7.48,-26.01,47.91,30.70,NaN
0,BAJAJFINSV.NS,1468.849976,-5.10,-2.83,-9.25,-12.18,24.79,-19.09,29.77,14.40,23.46
0,ZEEL.NS,239.750000,1.18,0.21,-8.72,-12.07,7.46,-24.27,4.39,1.08,-16.09
0,DMART.NS,3857.800049,-1.69,-7.67,-4.44,-11.94,-0.66,-13.14,20.62,15.66,23.28
0,DEEPAKNTR.NS,1943.650024,-0.83,-1.65,-13.21,-10.77,7.03,-24.97,41.44,64.93,49.52
0,BATAINDIA.NS,1635.099976,-0.22,0.39,-2.42,-9.68,-8.36,-17.46,4.36,-3.53,17.74
0,ASIANPAINT.NS,3004.350098,-0.41,-3.56,-6.74,-8.92,2.15,-10.95,11.71,16.45,22.03
0,HAVELLS.NS,1167.099976,1.60,5.83,-3.74,-8.78,-5.00,-11.28,5.69,23.37,17.91
0,LTIM.NS,4260.200195,-0.41,-3.62,-6.55,-7.48,6.10,-37.98,3.67,27.95,24.56
0,ICICIPRULI.NS,471.700012,0.63,5.29,2.04,-7.29,-10.13,-22.42,-0.97,-0.60,2.66
0,BERGEPAINT.NS,573.000000,-0.11,-1.91,-7.48,-7.23,-2.33,-24.72,-9.96,-0.53,18.34
0,EICHERMOT.NS,3257.699951,1.32,-0.72,-1.94,-4.41,9.78,19.06,8.95,18.90,3.71
0,TATAPOWER.NS,207.600006,-0.24,0.85,-7.75,-4.40,-5.96,-13.17,65.93,54.09,19.37
0,WIPRO.NS,386.899994,-0.72,-0.99,-4.16,-4.33,-4.87,-38.91,-3.78,16.36,12.07
0,PIDILITIND.NS,2518.100098,0.28,-3.21,-8.82,-3.59,10.18,-6.22,22.79,16.40,23.24
0,MARUTI.NS,8461.099609,0.45,0.30,-2.55,-2.57,0.25,6.90,8.35,6.24,-0.99
0,TITAN.NS,2562.100098,-1.36,0.35,-0.83,-2.38,21.35,-1.48,34.31,26.09,25.51
0,CIPLA.NS,1088.349976,2.01,0.07,-1.73,-1.96,14.16,20.64,14.79,34.15,13.16

In [9]:
import pandas as pd
import datetime
import warnings
warnings.filterwarnings('ignore')
import pandas_datareader.data as web
import yfinance as yfin
yfin.pdr_override()

start_date = (datetime.date.today() + datetime.timedelta(days=-60)).strftime('%Y-%m-%d')
end_date = (datetime.date.today() + datetime.timedelta(days=0)).strftime('%Y-%m-%d')

df_perform = pd.DataFrame()

for stock_id in stock_ids:
    stock_id = stock_id.upper() + '.NS'
    tmp = pd.DataFrame(web.DataReader(tickers = stock_id, start = start_date, end = end_date))
    tmp['Stock'] = stock_id
    tmp['Prev_Close'] = tmp['Close'].shift(1)
    tmp['Change%'] = round((tmp['Close'] - tmp['Prev_Close'])*100/tmp['Prev_Close'],2)
    df_perform = df_perform.append(tmp)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [10]:
# losers
df_perform.sort_values(by = 'Change%').head(20)

,Open,High,Low,Close,Adj Close,Volume,Stock,Prev_Close,Change%
Date,,,,,,,,,
2022-12-21,11.650000,11.800000,9.900000,10.200000,10.200000,395402337,SUZLON.NS,11.500000,-11.30
2022-11-10,2095.000000,2149.899902,2074.000000,2079.350098,2079.350098,2828479,DEEPAKNTR.NS,2299.000000,-9.55
2022-12-23,9.750000,9.800000,8.900000,9.000000,9.000000,263244568,SUZLON.NS,9.950000,-9.55
2022-12-09,296.750000,301.000000,270.250000,272.649994,272.649994,4057470,INDIANB.NS,294.950012,-7.56
2022-11-09,610.000000,610.000000,564.049988,566.450012,566.450012,13734814,JUBLFOOD.NS,612.700012,-7.55
2022-12-09,87.900002,88.699997,83.099998,83.750000,83.750000,18291890,IBREALEST.NS,90.250000,-7.20
2023-01-05,6490.000000,6490.000000,6025.049805,6100.049805,6100.049805,5102300,BAJFINANCE.NS,6571.000000,-7.17
2022-12-09,1075.000000,1075.000000,1020.700012,1027.500000,1027.500000,12415478,HCLTECH.NS,1101.349976,-6.71
2022-12-23,306.299988,310.049988,290.049988,291.549988,291.549988,15310273,CANBK.NS,311.850006,-6.51
2022-12-15,698.500000,702.500000,687.000000,689.049988,689.049988,14531256,IRCTC.NS,734.900024,-6.24
2022-12-23,1983.000000,2005.550049,1877.400024,1888.300049,1888.300049,697734,DEEPAKNTR.NS,2012.400024,-6.17
2022-12-23,4057.800049,4057.800049,3822.600098,3845.600098,3845.600098,392026,NAUKRI.NS,4095.199951,-6.09
2022-11-17,4140.000000,4140.049805,3901.000000,3907.550049,3897.550049,1076159,NAUKRI.NS,4147.799805,-5.79
2022-12-23,206.199997,207.899994,196.000000,196.899994,196.899994,20819266,TATAPOWER.NS,208.899994,-5.74
2022-12-23,452.899994,452.899994,427.600006,429.549988,429.549988,7766201,HINDALCO.NS,455.500000,-5.70
2022-12-23,77.849998,79.500000,73.199997,74.199997,74.199997,7374625,IBREALEST.NS,78.550003,-5.54
2022-12-21,86.500000,87.400002,81.199997,81.599998,81.599998,8997588,IBREALEST.NS,86.250000,-5.39
2022-12-23,634.500000,638.049988,605.000000,607.250000,607.250000,7402977,IRCTC.NS,640.950012,-5.26
2022-12-23,1790.000000,1810.000000,1667.599976,1693.000000,1693.000000,19122,TIPSINDLTD.NS,1784.500000,-5.13
2023-01-05,1548.000000,1548.000000,1454.699951,1468.849976,1468.849976,5979381,BAJAJFINSV.NS,1547.849976,-5.10

In [11]:
# gainers
df_perform.sort_values(by = 'Change%', ascending=False).head(20)

,Open,High,Low,Close,Adj Close,Volume,Stock,Prev_Close,Change%
Date,,,,,,,,,
2022-12-12,9.300000,10.350000,9.250000,10.250000,10.250000,278382339,SUZLON.NS,9.300000,10.22
2022-12-13,272.000000,297.649994,271.899994,294.000000,294.000000,12228997,INDIANB.NS,269.299988,9.17
2022-12-26,9.000000,10.000000,9.000000,9.800000,9.800000,270444702,SUZLON.NS,9.000000,8.89
2022-12-19,10.850000,11.900000,10.850000,11.650000,11.650000,638219867,SUZLON.NS,10.750000,8.37
2022-12-14,10.200000,11.000000,10.100000,10.900000,10.900000,336400273,SUZLON.NS,10.100000,7.92
2023-01-02,83.300003,89.500000,83.050003,88.949997,88.949997,86864774,SAIL.NS,82.650002,7.62
2022-11-11,3909.949951,4127.950195,3900.100098,4100.200195,4089.707275,1187322,NAUKRI.NS,3815.149902,7.47
2022-11-25,7.900000,8.600000,7.850000,8.450000,8.450000,228974026,SUZLON.NS,7.900000,6.96
2022-12-26,122.750000,132.300003,120.900002,130.750000,130.750000,22992460,FEDERALBNK.NS,122.449997,6.78
2022-11-18,81.500000,87.750000,78.750000,86.800003,86.800003,19456697,IBREALEST.NS,81.300003,6.77
2022-12-08,177.000000,189.399994,176.600006,188.250000,188.250000,93033779,BANKBARODA.NS,176.500000,6.66
2022-12-26,274.950012,291.899994,268.799988,289.200012,289.200012,3750934,INDIANB.NS,271.549988,6.50
2022-12-27,75.000000,79.400002,74.849998,78.849998,78.849998,24136229,NATIONALUM.NS,74.050003,6.48
2022-11-14,4125.000000,4400.000000,4118.000000,4360.850098,4349.689941,2104229,NAUKRI.NS,4100.200195,6.36
2022-12-27,447.950012,472.399994,446.750000,471.000000,471.000000,13898138,HINDALCO.NS,442.950012,6.33
2022-12-27,1799.000000,1889.000000,1760.000000,1869.000000,1869.000000,38276,TIPSINDLTD.NS,1758.550049,6.28
2022-11-29,559.849976,598.299988,558.099976,593.099976,593.099976,11072058,DABUR.NS,558.599976,6.18
2022-11-14,81.000000,83.750000,79.300003,82.800003,82.800003,17109596,IBREALEST.NS,78.099998,6.02
2022-11-14,435.000000,458.649994,434.049988,455.549988,455.549988,30135088,HINDALCO.NS,429.850006,5.98
2022-11-11,2526.000000,2688.000000,2523.050049,2651.699951,2651.699951,9663942,HDFC.NS,2504.100098,5.89

In [12]:
df_perform[df_perform['Stock'] == 'RELIANCE.NS']

,Open,High,Low,Close,Adj Close,Volume,Stock,Prev_Close,Change%
Date,,,,,,,,,
2022-11-07,2591.000000,2610.300049,2574.000000,2606.600098,2606.600098,5440967,RELIANCE.NS,NaN,NaN
2022-11-09,2610.300049,2621.949951,2590.050049,2604.000000,2604.000000,5193814,RELIANCE.NS,2606.600098,-0.10
2022-11-10,2590.000000,2596.550049,2563.000000,2572.500000,2572.500000,2753420,RELIANCE.NS,2604.000000,-1.21
2022-11-11,2600.000000,2636.000000,2588.000000,2631.800049,2631.800049,5681124,RELIANCE.NS,2572.500000,2.31
2022-11-14,2630.750000,2642.000000,2605.149902,2619.050049,2619.050049,4173395,RELIANCE.NS,2631.800049,-0.48
2022-11-15,2622.300049,2626.399902,2590.000000,2607.300049,2607.300049,3270388,RELIANCE.NS,2619.050049,-0.45
2022-11-16,2610.000000,2615.949951,2581.350098,2592.350098,2592.350098,4484007,RELIANCE.NS,2607.300049,-0.57
2022-11-17,2584.949951,2613.000000,2580.000000,2599.050049,2599.050049,3074259,RELIANCE.NS,2592.350098,0.26
2022-11-18,2606.750000,2609.000000,2571.100098,2597.649902,2597.649902,2447425,RELIANCE.NS,2599.050049,-0.05
2022-11-21,2588.000000,2588.000000,2543.100098,2550.899902,2550.899902,2949108,RELIANCE.NS,2597.649902,-1.80
2022-11-22,2545.000000,2568.500000,2536.500000,2565.050049,2565.050049,3051201,RELIANCE.NS,2550.899902,0.55
2022-11-23,2575.000000,2577.899902,2552.250000,2557.050049,2557.050049,2959787,RELIANCE.NS,2565.050049,-0.31
2022-11-24,2566.000000,2594.000000,2548.199951,2579.100098,2579.100098,4333225,RELIANCE.NS,2557.050049,0.86
2022-11-25,2589.000000,2624.899902,2582.100098,2617.600098,2617.600098,3391988,RELIANCE.NS,2579.100098,1.49
2022-11-28,2608.899902,2721.050049,2502.000000,2707.550049,2707.550049,14549929,RELIANCE.NS,2617.600098,3.44
2022-11-29,2703.949951,2731.649902,2694.000000,2712.199951,2712.199951,5103687,RELIANCE.NS,2707.550049,0.17
2022-11-30,2712.500000,2745.449951,2698.199951,2731.350098,2731.350098,12075137,RELIANCE.NS,2712.199951,0.71
2022-12-01,2741.800049,2755.000000,2716.000000,2723.300049,2723.300049,4377696,RELIANCE.NS,2731.350098,-0.29
2022-12-02,2730.000000,2748.000000,2700.600098,2722.149902,2722.149902,5348595,RELIANCE.NS,2723.300049,-0.04
2022-12-05,2712.000000,2716.750000,2678.000000,2682.449951,2682.449951,6843367,RELIANCE.NS,2722.149902,-1.46
2022-12-06,2665.100098,2697.000000,2661.000000,2690.199951,2690.199951,3966243,RELIANCE.NS,2682.449951,0.29
2022-12-07,2685.000000,2695.000000,2642.149902,2650.500000,2650.500000,3905263,RELIANCE.NS,2690.199951,-1.48
2022-12-08,2660.000000,2665.000000,2640.100098,2649.250000,2649.250000,3579858,RELIANCE.NS,2650.500000,-0.05
2022-12-09,2646.000000,2660.000000,2601.850098,2609.100098,2609.100098,5840633,RELIANCE.NS,2649.250000,-1.52
2022-12-12,2585.500000,2623.000000,2585.000000,2613.100098,2613.100098,4374946,RELIANCE.NS,2609.100098,0.15
2022-12-13,2613.100098,2633.000000,2606.699951,2625.000000,2625.000000,3845839,RELIANCE.NS,2613.100098,0.46
2022-12-14,2637.649902,2638.949951,2611.000000,2615.500000,2615.500000,3354618,RELIANCE.NS,2625.000000,-0.36
2022-12-15,2602.500000,2615.000000,2571.000000,2578.350098,2578.350098,4009765,RELIANCE.NS,2615.500000,-1.42
2022-12-16,2571.000000,2618.800049,2558.149902,2565.600098,2565.600098,7308934,RELIANCE.NS,2578.350098,-0.49
2022-12-19,2581.000000,2604.000000,2566.699951,2599.300049,2599.300049,3567363,RELIANCE.NS,2565.600098,1.31
2022-12-20,2583.899902,2626.000000,2566.000000,2621.800049,2621.800049,3446291,RELIANCE.NS,2599.300049,0.87
2022-12-21,2621.000000,2633.000000,2576.100098,2584.500000,2584.500000,3935463,RELIANCE.NS,2621.800049,-1.42
2022-12-22,2598.000000,2604.649902,2566.750000,2577.800049,2577.800049,3438692,RELIANCE.NS,2584.500000,-0.26
2022-12-23,2563.300049,2590.500000,2492.250000,2502.199951,2502.199951,4733657,RELIANCE.NS,2577.800049,-2.93
2022-12-26,2514.750000,2542.000000,2492.399902,2524.050049,2524.050049,2764496,RELIANCE.NS,2502.199951,0.87
2022-12-27,2530.000000,2548.800049,2515.250000,2544.699951,2544.699951,2659749,RELIANCE.NS,2524.050049,0.82
2022-12-28,2538.000000,2549.800049,2521.500000,2544.449951,2544.449951,3442509,RELIANCE.NS,2544.699951,-0.01
2022-12-29,2527.000000,2548.899902,2525.500000,2543.300049,2543.300049,3198493,RELIANCE.NS,2544.449951,-0.05
2022-12-30,2545.100098,2577.000000,2541.100098,2547.199951,2547.199951,3364092,RELIANCE.NS,2543.300049,0.15
2023-01-02,2550.000000,2579.000000,2548.199951,2575.899902,2575.899902,2453414,RELIANCE.NS,2547.199951,1.13
2023-01-03,2565.050049,2573.000000,2547.800049,2557.050049,2557.050049,3534596,RELIANCE.NS,2575.899902,-0.73
2023-01-04,2557.000000,2561.050049,2514.000000,2518.550049,2518.550049,4275746,RELIANCE.NS,2557.050049,-1.51
2023-01-05,2523.500000,2536.399902,2504.000000,2514.050049,2514.050049,6293519,RELIANCE.NS,2518.550049,-0.18

In [13]:
stock_id = '^NSEI'
nifty = pd.DataFrame(web.DataReader(tickers = stock_id, start = '2020-01-01', end = '2021-11-30'))
nifty['Stock'] = stock_id
nifty['Prev_Close'] = nifty['Close'].shift(1)
nifty['Change%'] = round((nifty['Close'] - nifty['Prev_Close'])*100/nifty['Prev_Close'],2)

nifty

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume,Stock,Prev_Close,Change%
Date,,,,,,,,,
2020-01-01,12202.150391,12222.200195,12165.299805,12182.500000,12182.500000,304100,^NSEI,NaN,NaN
2020-01-02,12198.549805,12289.900391,12195.250000,12282.200195,12282.200195,407700,^NSEI,12182.500000,0.82
2020-01-03,12261.099609,12265.599609,12191.349609,12226.650391,12226.650391,428800,^NSEI,12282.200195,-0.45
2020-01-06,12170.599609,12179.099609,11974.200195,11993.049805,11993.049805,396500,^NSEI,12226.650391,-1.91
2020-01-07,12079.099609,12152.150391,12005.349609,12052.950195,12052.950195,447800,^NSEI,11993.049805,0.50
...,...,...,...,...,...,...,...,...,...
2021-11-23,17281.750000,17553.699219,17216.099609,17503.349609,17503.349609,308800,^NSEI,17416.550781,0.50
2021-11-24,17550.050781,17600.599609,17354.000000,17415.050781,17415.050781,298100,^NSEI,17503.349609,-0.50
2021-11-25,17417.300781,17564.349609,17351.699219,17536.250000,17536.250000,255900,^NSEI,17415.050781,0.70
2021-11-26,17338.750000,17355.400391,16985.699219,17026.449219,17026.449219,356300,^NSEI,17536.250000,-2.91
2021-11-29,17055.800781,17160.699219,16782.400391,17053.949219,17053.949219,348900,^NSEI,17026.449219,0.16

In [14]:
nifty.sort_values(by = 'Change%', ascending=True).head(20)

,Open,High,Low,Close,Adj Close,Volume,Stock,Prev_Close,Change%
Date,,,,,,,,,
2020-03-23,7945.700195,8159.250000,7583.600098,7610.250000,7610.250000,653500,^NSEI,8745.450195,-12.98
2020-03-12,10039.950195,10040.750000,9508.000000,9590.150391,9590.150391,1343500,^NSEI,10458.400391,-8.30
2020-03-16,9587.799805,9602.200195,9165.099609,9197.400391,9197.400391,897700,^NSEI,9955.200195,-7.61
2020-05-04,9533.500000,9533.500000,9266.950195,9293.500000,9293.500000,687500,^NSEI,9859.900391,-5.74
2020-03-18,9088.450195,9127.549805,8407.049805,8468.799805,8468.799805,1516600,^NSEI,8967.049805,-5.56
2020-03-09,10742.049805,10751.549805,10294.450195,10451.450195,10451.450195,1565500,^NSEI,10989.450195,-4.90
2020-03-30,8385.950195,8576.000000,8244.000000,8281.099609,8281.099609,593300,^NSEI,8660.250000,-4.38
2020-04-01,8584.099609,8588.099609,8198.349609,8253.799805,8253.799805,506300,^NSEI,8597.750000,-4.00
2021-02-26,14888.599609,14919.450195,14467.750000,14529.150391,14529.150391,1103600,^NSEI,15097.349609,-3.76
2020-02-28,11382.000000,11384.799805,11175.049805,11201.750000,11201.750000,809900,^NSEI,11633.299805,-3.71
2021-04-12,14644.650391,14652.500000,14248.700195,14310.799805,14310.799805,650200,^NSEI,14834.849609,-3.53
2020-05-18,9158.299805,9158.299805,8806.750000,8823.250000,8823.250000,773000,^NSEI,9136.849609,-3.43
2020-12-21,13741.900391,13777.500000,13131.450195,13328.400391,13328.400391,687300,^NSEI,13760.549805,-3.14
2020-04-21,9016.950195,9044.400391,8909.400391,8981.450195,8981.450195,655100,^NSEI,9261.849609,-3.03
2020-09-24,11011.000000,11015.299805,10790.200195,10805.549805,10805.549805,706100,^NSEI,11131.849609,-2.93
2021-11-26,17338.750000,17355.400391,16985.699219,17026.449219,17026.449219,356300,^NSEI,17536.250000,-2.91
2020-05-14,9213.950195,9281.099609,9119.750000,9142.750000,9142.750000,602600,^NSEI,9383.549805,-2.57
2020-03-17,9285.400391,9403.799805,8915.599609,8967.049805,8967.049805,935600,^NSEI,9197.400391,-2.50
2020-03-06,10942.650391,11035.099609,10827.400391,10989.450195,10989.450195,1811000,^NSEI,11269.000000,-2.48
2020-10-15,12023.450195,12025.450195,11661.299805,11680.349609,11680.349609,608900,^NSEI,11971.049805,-2.43

In [15]:
nifty.sort_values(by = 'Change%', ascending=False).head(20)

,Open,High,Low,Close,Adj Close,Volume,Stock,Prev_Close,Change%
Date,,,,,,,,,
2020-04-07,8446.299805,8819.400391,8360.950195,8792.200195,8792.200195,814200,^NSEI,8083.799805,8.76
2020-03-25,7735.149902,8376.750000,7714.750000,8317.849609,8317.849609,736900,^NSEI,7801.049805,6.62
2020-03-20,8284.450195,8883.000000,8178.200195,8745.450195,8745.450195,1071500,^NSEI,8263.450195,5.83
2021-02-01,13758.599609,14336.349609,13661.750000,14281.200195,14281.200195,870500,^NSEI,13634.599609,4.74
2020-04-09,8973.049805,9128.349609,8904.549805,9111.900391,9111.900391,742100,^NSEI,8748.750000,4.15
2020-03-26,8451.000000,8749.049805,8304.900391,8641.450195,8641.450195,865600,^NSEI,8317.849609,3.89
2020-03-31,8529.349609,8678.299805,8358.000000,8597.750000,8597.750000,712700,^NSEI,8281.099609,3.82
2020-03-13,9107.599609,10159.400391,8555.150391,9955.200195,9955.200195,1388000,^NSEI,9590.150391,3.81
2020-04-30,9753.500000,9889.049805,9731.500000,9859.900391,9859.900391,931200,^NSEI,9553.349609,3.21
2020-05-27,9082.200195,9334.000000,9004.250000,9314.950195,9314.950195,763500,^NSEI,9029.049805,3.17
2020-04-17,9323.450195,9324.000000,9091.349609,9266.750000,9266.750000,684200,^NSEI,8992.799805,3.05
2021-02-02,14481.099609,14731.700195,14469.150391,14647.849609,14647.849609,915000,^NSEI,14281.200195,2.57
2020-06-01,9726.849609,9931.599609,9706.950195,9826.150391,9826.150391,794200,^NSEI,9580.299805,2.57
2020-03-24,7848.299805,8036.950195,7511.100098,7801.049805,7801.049805,738400,^NSEI,7610.250000,2.51
2021-03-30,14628.500000,14876.299805,14617.599609,14845.099609,14845.099609,594500,^NSEI,14507.299805,2.33
2020-02-04,11786.250000,11986.150391,11783.400391,11979.650391,11979.650391,560400,^NSEI,11707.900391,2.32
2020-04-22,9026.750000,9209.750000,8946.250000,9187.299805,9187.299805,734400,^NSEI,8981.450195,2.29
2020-09-25,10910.400391,11072.599609,10854.849609,11050.250000,11050.250000,559600,^NSEI,10805.549805,2.26
2021-03-03,15064.400391,15273.150391,14995.799805,15245.599609,15245.599609,544200,^NSEI,14919.099609,2.19
2020-06-18,9863.250000,10111.200195,9845.049805,10091.650391,10091.650391,622900,^NSEI,9881.150391,2.13

In [16]:
stock_id = '^NSEI'
nifty = pd.DataFrame(web.DataReader(tickers = stock_id, start = '2020-03-01', end = '2021-12-10'))
nifty['Stock'] = stock_id
nifty['Prev_Close'] = nifty['Close'].shift(1)
nifty['Change%'] = round((nifty['Close'] - nifty['Prev_Close'])*100/nifty['Prev_Close'],2)

nifty

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume,Stock,Prev_Close,Change%
Date,,,,,,,,,
2020-03-02,11387.349609,11433.000000,11036.250000,11132.750000,11132.750000,680800,^NSEI,NaN,NaN
2020-03-03,11217.549805,11342.250000,11152.549805,11303.299805,11303.299805,696500,^NSEI,11132.750000,1.53
2020-03-04,11351.349609,11356.599609,11082.150391,11251.000000,11251.000000,797700,^NSEI,11303.299805,-0.46
2020-03-05,11306.049805,11389.500000,11244.599609,11269.000000,11269.000000,1352500,^NSEI,11251.000000,0.16
2020-03-06,10942.650391,11035.099609,10827.400391,10989.450195,10989.450195,1811000,^NSEI,11269.000000,-2.48
...,...,...,...,...,...,...,...,...,...
2021-12-03,17424.900391,17489.800781,17180.800781,17196.699219,17196.699219,292500,^NSEI,17401.650391,-1.18
2021-12-06,17209.050781,17216.750000,16891.699219,16912.250000,16912.250000,231700,^NSEI,17196.699219,-1.65
2021-12-07,17044.099609,17251.650391,16987.750000,17176.699219,17176.699219,254100,^NSEI,16912.250000,1.56
2021-12-08,17315.250000,17484.599609,17308.949219,17469.750000,17469.750000,257800,^NSEI,17176.699219,1.71
2021-12-09,17524.400391,17543.250000,17379.599609,17516.849609,17516.849609,237200,^NSEI,17469.750000,0.27

In [17]:
cols = ['Adj Close', 'Change%']
nifty[nifty['Change%'] < -1][cols].tail(6)['Adj Close']

Date
2021-10-28    17857.250000
2021-10-29    17671.650391
2021-11-22    17416.550781
2021-11-26    17026.449219
2021-12-03    17196.699219
2021-12-06    16912.250000
Name: Adj Close, dtype: float64

In [18]:
stock_id = 'NIFTYBEES.NS'
nifty20 = pd.DataFrame(web.DataReader(tickers = stock_id, start = '2020-03-01', end = '2021-12-10'))
nifty20['Stock'] = stock_id
nifty20['Prev_Close'] = nifty['Close'].shift(1)
nifty20['Change%'] = round((nifty['Close'] - nifty['Prev_Close'])*100/nifty['Prev_Close'],2)

nifty20

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume,Stock,Prev_Close,Change%
Date,,,,,,,,,
2020-03-02,122.050003,122.050003,117.209999,118.389999,118.389999,2355594,NIFTYBEES.NS,NaN,NaN
2020-03-03,119.440002,121.010002,118.550003,120.400002,120.400002,1810345,NIFTYBEES.NS,11132.750000,1.53
2020-03-04,121.400002,121.400002,117.910004,119.519997,119.519997,2300345,NIFTYBEES.NS,11303.299805,-0.46
2020-03-05,142.949997,142.949997,118.599998,119.750000,119.750000,513870,NIFTYBEES.NS,11251.000000,0.16
2020-03-06,118.489998,118.489998,115.599998,117.180000,117.180000,3370046,NIFTYBEES.NS,11269.000000,-2.48
...,...,...,...,...,...,...,...,...,...
2021-12-03,192.500000,192.500000,185.750000,186.000000,186.000000,1581371,NIFTYBEES.NS,17401.650391,-1.18
2021-12-06,192.399994,192.399994,182.800003,183.009995,183.009995,2784801,NIFTYBEES.NS,17196.699219,-1.65
2021-12-07,190.000000,190.000000,180.100006,185.710007,185.710007,1224647,NIFTYBEES.NS,16912.250000,1.56
2021-12-08,191.000000,191.000000,185.710007,188.479996,188.479996,1425972,NIFTYBEES.NS,17176.699219,1.71
2021-12-09,192.500000,192.500000,187.160004,189.139999,189.139999,1108273,NIFTYBEES.NS,17469.750000,0.27

In [19]:
cols = ['Adj Close', 'Change%']
nifty20[nifty20['Change%'] < -1][cols].tail(6)['Adj Close']

Date
2021-10-28    193.679993
2021-10-29    191.160004
2021-11-22    188.529999
2021-11-26    184.509995
2021-12-03    186.000000
2021-12-06    183.009995
Name: Adj Close, dtype: float64