<a href="https://colab.research.google.com/github/ankit-rathi/Data-Science-with-Python/blob/master/Stock_Analysis/Nifty100_Upside_Analysis_Forecast.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install yfinance
!pip install talib-binary

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: yfinance in /usr/local/lib/python3.7/dist-packages (0.1.87)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.21.6)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.11)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.3.5)
Requirement already satisfied: requests>=2.26 in /usr/local/lib/python3.7/dist-packages (from yfinance) (2.28.1)
Requirement already satisfied: appdirs>=1.4.4 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.4.4)
Requirement already satisfied: lxml>=4.5.1 in /usr/local/lib/python3.7/dist-packages (from yfinance) (4.9.1)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2022.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yfinance) (1.15.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (1.24.3)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.10)
Requirement already satisfied: charset-normalizer<3,>=2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.1.1)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2022.9.24)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: talib-binary in /usr/local/lib/python3.7/dist-packages (0.4.19)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from talib-binary) (1.21.6)

In [2]:
import pandas as pd
import numpy as np

mypf = pd.read_csv('https://raw.githubusercontent.com/ankit-rathi/Data-Science-with-Python/master/Stock_Analysis/data/Nifty100Scrips.csv')

mypf = mypf[mypf['InScope'] == 1]

stock_n100 = mypf['Symbol'].unique()

exclude = ['CADILAHC','MMTC']

stock_n100 = mypf[~mypf['Symbol'].isin(exclude) ]['Symbol']

#stock_ids

stock_ids = stock_n100

In [3]:
mypf = mypf[mypf.Forecast.notnull()]
stock_ids = mypf[mypf.Forecast.notnull()]['Symbol'].unique()

In [4]:
stock_ids.sort()
stock_ids

array(['ASIANPAINT', 'AXISBANK', 'BAJFINANCE', 'BERGEPAINT', 'BHARTIARTL',
       'BRITANNIA', 'CANBK', 'CIPLA', 'COLPAL', 'DABUR', 'DEEPAKNTR',
       'DIVISLAB', 'DMART', 'DRREDDY', 'EICHERMOT', 'FEDERALBNK',
       'GODREJCP', 'GODREJIND', 'HAVELLS', 'HCLTECH', 'HDFC', 'HDFCBANK',
       'HDFCLIFE', 'HEROMOTOCO', 'HINDUNILVR', 'IBREALEST', 'ICICIBANK',
       'ICICIPRULI', 'INDIGO', 'INDUSINDBK', 'INFY', 'IRCTC', 'ITC',
       'JUBLFOOD', 'KOTAKBANK', 'LT', 'LTI', 'M&M', 'MARUTI',
       'MCDOWELL-N', 'MINDTREE', 'MOTILALOFS', 'MUTHOOTFIN', 'NATIONALUM',
       'NAUKRI', 'PIDILITIND', 'RELIANCE', 'SAIL', 'SBILIFE', 'SBIN',
       'SUNPHARMA', 'TATACONSUM', 'TATAMOTORS', 'TATAPOWER', 'TATASTEEL',
       'TCS', 'TECHM', 'TITAN', 'ULTRACEMCO', 'WIPRO', 'ZEEL'],
      dtype=object)

In [5]:
mypf['InPortfolio'].value_counts()

0    44
1    17
Name: InPortfolio, dtype: int64

In [6]:
mypf[(mypf['Symbol'] + '.NS') == (stock_ids[1] + '.NS')]['Forecast'].values[0]

1044.0

In [7]:
# import necessary libraries 

%matplotlib inline
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import datetime
from tabulate import tabulate
import warnings
warnings.filterwarnings('ignore')
import pandas_datareader.data as web
import yfinance as yfin
import talib 
yfin.pdr_override()

In [8]:
def stock_prec_dev(stock_symbol):
    #stock_symbol = 'ULTRACEMCO.NS'
    start_date = (datetime.date.today() + datetime.timedelta(days=-365)).strftime('%Y-%m-%d')
    #end_date = '2020-01-01'
    end_date = (datetime.date.today() + datetime.timedelta(days=1)).strftime('%Y-%m-%d')
    short_window = 20 
    mid_window = 50
    long_window = 200
    moving_avg = 'EMA'


    # import the closing price data of the stock for the aforementioned period of time in Pandas dataframe
    start = datetime.datetime(*map(int, start_date.split('-')))
    end = datetime.datetime(*map(int, end_date.split('-'))) 
    stock_df = web.DataReader(stock_symbol,  data_source='yahoo', start = start, end = end)['Close']
    stock_df = pd.DataFrame(stock_df) # convert Series object to dataframe 
    stock_df.columns = {'Close Price'} # assign new colun name
    stock_df.dropna(axis = 0, inplace = True) # remove any null rows 

    # column names for long and short moving average columns
    short_window_col = str(short_window) + '_' + moving_avg
    mid_window_col = str(mid_window) + '_' + moving_avg
    long_window_col = str(long_window) + '_' + moving_avg  

    # Create short exponential moving average column
    stock_df[short_window_col] = round(stock_df['Close Price'].ewm(span = short_window, adjust = False).mean(),0)

    stock_df[mid_window_col] = round(stock_df['Close Price'].ewm(span = mid_window, adjust = False).mean(),0)     

    stock_df['RSI'] = talib.RSI(stock_df['Close Price'], timeperiod=14)

    # Create a long exponential moving average column
    stock_df[long_window_col] = round(stock_df['Close Price'].ewm(span = long_window, adjust = False).mean(),0)
    stock_df['Stock'] = stock_symbol
    stock_df['Dev%_200'] = round((stock_df['Close Price'] - stock_df['200_EMA'])*100/stock_df['200_EMA'],2)
    stock_df['Max'] = round(max(stock_df['Close Price']),0)
    stock_df['Min'] = round(min(stock_df['Close Price']),0)    
    #stock_df['Dev%_Max'] = round((stock_df['Close Price'] - stock_df['Max'])*100/stock_df['Max'],2)
    #stock_df['Dev%_Min'] = round((stock_df['Close Price'] - stock_df['Min'])*100/stock_df['Min'],2)
    stock_df['Premium%'] = round((stock_df['Close Price']-stock_df['Min'])*100/(stock_df['Max']-stock_df['Min']),2)
    stock_df['Discount%'] = round((stock_df['Max']-stock_df['Close Price'])*100/(stock_df['Max']-stock_df['Min']),2)
    stock_df['Close Price'] = round(stock_df['Close Price'],0) 
    
    
    return stock_df

df_prec_dev = pd.DataFrame()

#tmp = stock_prec_dev('ULTRACEMCO.NS')
#df_perform = df_perform.append(tmp)
for stock_id in stock_ids:
    stock_id = stock_id.upper() + '.NS'
    print(stock_id)
    tmp = stock_prec_dev(stock_id)
    tmp = tmp.reset_index()
    tmp = tmp.tail(1)
    tmp['Forecast'] = mypf[(mypf['Symbol']+'.NS') == stock_id.upper()]['Forecast'].values[0]
    df_prec_dev = df_prec_dev.append(tmp)

ASIANPAINT.NS
[*********************100%***********************]  1 of 1 completed
AXISBANK.NS
[*********************100%***********************]  1 of 1 completed
BAJFINANCE.NS
[*********************100%***********************]  1 of 1 completed
BERGEPAINT.NS
[*********************100%***********************]  1 of 1 completed
BHARTIARTL.NS
[*********************100%***********************]  1 of 1 completed
BRITANNIA.NS
[*********************100%***********************]  1 of 1 completed
CANBK.NS
[*********************100%***********************]  1 of 1 completed
CIPLA.NS
[*********************100%***********************]  1 of 1 completed
COLPAL.NS
[*********************100%***********************]  1 of 1 completed
DABUR.NS
[*********************100%***********************]  1 of 1 completed
DEEPAKNTR.NS
[*********************100%***********************]  1 of 1 completed
DIVISLAB.NS
[*********************100%***********************]  1 of 1 completed
DMART.NS
[*********************100%***********************]  1 of 1 completed
DRREDDY.NS
[*********************100%***********************]  1 of 1 completed
EICHERMOT.NS
[*********************100%***********************]  1 of 1 completed
FEDERALBNK.NS
[*********************100%***********************]  1 of 1 completed
GODREJCP.NS
[*********************100%***********************]  1 of 1 completed
GODREJIND.NS
[*********************100%***********************]  1 of 1 completed
HAVELLS.NS
[*********************100%***********************]  1 of 1 completed
HCLTECH.NS
[*********************100%***********************]  1 of 1 completed
HDFC.NS
[*********************100%***********************]  1 of 1 completed
HDFCBANK.NS
[*********************100%***********************]  1 of 1 completed
HDFCLIFE.NS
[*********************100%***********************]  1 of 1 completed
HEROMOTOCO.NS
[*********************100%***********************]  1 of 1 completed
HINDUNILVR.NS
[*********************100%***********************]  1 of 1 completed
IBREALEST.NS
[*********************100%***********************]  1 of 1 completed
ICICIBANK.NS
[*********************100%***********************]  1 of 1 completed
ICICIPRULI.NS
[*********************100%***********************]  1 of 1 completed
INDIGO.NS
[*********************100%***********************]  1 of 1 completed
INDUSINDBK.NS
[*********************100%***********************]  1 of 1 completed
INFY.NS
[*********************100%***********************]  1 of 1 completed
IRCTC.NS
[*********************100%***********************]  1 of 1 completed
ITC.NS
[*********************100%***********************]  1 of 1 completed
JUBLFOOD.NS
[*********************100%***********************]  1 of 1 completed
KOTAKBANK.NS
[*********************100%***********************]  1 of 1 completed
LT.NS
[*********************100%***********************]  1 of 1 completed
LTI.NS
[*********************100%***********************]  1 of 1 completed
M&M.NS
[*********************100%***********************]  1 of 1 completed
MARUTI.NS
[*********************100%***********************]  1 of 1 completed
MCDOWELL-N.NS
[*********************100%***********************]  1 of 1 completed
MINDTREE.NS
[*********************100%***********************]  1 of 1 completed
MOTILALOFS.NS
[*********************100%***********************]  1 of 1 completed
MUTHOOTFIN.NS
[*********************100%***********************]  1 of 1 completed
NATIONALUM.NS
[*********************100%***********************]  1 of 1 completed
NAUKRI.NS
[*********************100%***********************]  1 of 1 completed
PIDILITIND.NS
[*********************100%***********************]  1 of 1 completed
RELIANCE.NS
[*********************100%***********************]  1 of 1 completed
SAIL.NS
[*********************100%***********************]  1 of 1 completed
SBILIFE.NS
[*********************100%***********************]  1 of 1 completed
SBIN.NS
[*********************100%***********************]  1 of 1 completed
SUNPHARMA.NS
[*********************100%***********************]  1 of 1 completed
TATACONSUM.NS
[*********************100%***********************]  1 of 1 completed
TATAMOTORS.NS
[*********************100%***********************]  1 of 1 completed
TATAPOWER.NS
[*********************100%***********************]  1 of 1 completed
TATASTEEL.NS
[*********************100%***********************]  1 of 1 completed
TCS.NS
[*********************100%***********************]  1 of 1 completed
TECHM.NS
[*********************100%***********************]  1 of 1 completed
TITAN.NS
[*********************100%***********************]  1 of 1 completed
ULTRACEMCO.NS
[*********************100%***********************]  1 of 1 completed
WIPRO.NS
[*********************100%***********************]  1 of 1 completed
ZEEL.NS
[*********************100%***********************]  1 of 1 completed

In [9]:
stock_prec_dev('^NSEI').tail(1)

[*********************100%***********************]  1 of 1 completed

,Close Price,20_EMA,50_EMA,RSI,200_EMA,Stock,Dev%_200,Max,Min,Premium%,Discount%
Date,,,,,,,,,,,
2022-11-17,18403.0,18041.0,17708.0,68.578075,17273.0,^NSEI,6.54,18410.0,15294.0,99.79,0.21

In [10]:
df_prec_dev['Upside%'] = round((df_prec_dev['Forecast']-df_prec_dev['Close Price'])*100/(df_prec_dev['Close Price']),2)
df_prec_dev = df_prec_dev.sort_values(by = 'Upside%', ascending=False)
stock_ids = df_prec_dev['Stock'].values
df_prec_dev.reset_index(drop=True, inplace=True)

In [11]:
# buy or accumulate (based on std dev from 200 EMA)
df_prec_dev.sort_values(by = 'Dev%_200', ascending=True).head(20)

,Date,Close Price,20_EMA,50_EMA,RSI,200_EMA,Stock,Dev%_200,Max,Min,Premium%,Discount%,Forecast,Upside%
6,2022-11-17,3304.0,3468.0,3566.0,36.099867,3878.0,DIVISLAB.NS,-14.79,4938.0,3271.0,1.99,98.01,4065.0,23.03
32,2022-11-17,397.0,393.0,398.0,54.626033,465.0,WIPRO.NS,-14.58,722.0,375.0,6.40,93.60,433.0,9.07
0,2022-11-17,409.0,421.0,434.0,32.210005,474.0,GODREJIND.NS,-13.69,644.0,406.0,1.30,98.70,638.0,55.99
1,2022-11-17,685.0,694.0,716.0,40.229991,789.0,MOTILALOFS.NS,-13.13,980.0,682.0,1.14,98.86,930.0,35.77
14,2022-11-17,81.0,79.0,78.0,56.683988,93.0,IBREALEST.NS,-12.90,181.0,60.0,17.36,82.64,95.0,17.28
10,2022-11-17,75.0,74.0,74.0,55.103769,85.0,NATIONALUM.NS,-11.35,130.0,67.0,13.25,86.75,91.0,21.33
2,2022-11-17,480.0,500.0,518.0,32.686940,540.0,ICICIPRULI.NS,-11.09,643.0,447.0,16.89,83.11,647.0,34.79
31,2022-11-17,1059.0,1053.0,1052.0,52.608012,1180.0,TECHM.NS,-10.25,1806.0,965.0,11.18,88.82,1156.0,9.16
7,2022-11-17,3951.0,3990.0,3992.0,48.885182,4355.0,NAUKRI.NS,-9.28,6545.0,3375.0,18.17,81.83,4851.0,22.78
13,2022-11-17,555.0,583.0,592.0,34.021019,603.0,JUBLFOOD.NS,-7.96,786.0,464.0,28.26,71.74,651.0,17.30
22,2022-11-17,1084.0,1074.0,1060.0,53.863225,1165.0,MUTHOOTFIN.NS,-6.91,1639.0,956.0,18.81,81.19,1207.0,11.35
5,2022-11-17,1760.0,1776.0,1808.0,45.512894,1884.0,INDIGO.NS,-6.58,2332.0,1549.0,26.96,73.04,2186.0,24.20
37,2022-11-17,610.0,603.0,614.0,52.262848,652.0,BERGEPAINT.NS,-6.44,792.0,561.0,21.21,78.79,651.0,6.72
39,2022-11-17,3960.0,4158.0,4223.0,25.468772,4232.0,DMART.NS,-6.44,5126.0,3231.0,38.45,61.55,4177.0,5.48
3,2022-11-17,534.0,535.0,540.0,48.317277,569.0,HDFCLIFE.NS,-6.19,711.0,504.0,14.40,85.60,683.0,27.90
45,2022-11-17,82.0,83.0,81.0,49.975896,86.0,SAIL.NS,-4.65,115.0,65.0,34.00,66.00,85.0,3.66
16,2022-11-17,425.0,421.0,422.0,52.618341,443.0,TATAMOTORS.NS,-4.16,530.0,372.0,33.26,66.74,493.0,16.00
11,2022-11-17,253.0,262.0,262.0,38.379833,264.0,ZEEL.NS,-4.07,371.0,209.0,27.31,72.69,302.0,19.37
43,2022-11-17,223.0,226.0,226.0,44.600249,230.0,TATAPOWER.NS,-3.24,290.0,195.0,29.00,71.00,232.0,4.04
35,2022-11-17,1224.0,1231.0,1254.0,46.179642,1262.0,HAVELLS.NS,-2.97,1418.0,1070.0,44.40,55.60,1327.0,8.42

In [12]:
# sell or downsize (based on std dev from 200 EMA)
df_prec_dev.sort_values(by = 'Dev%_200', ascending=False).head(15)

,Date,Close Price,20_EMA,50_EMA,RSI,200_EMA,Stock,Dev%_200,Max,Min,Premium%,Discount%,Forecast,Upside%
52,2022-11-17,308.0,290.0,266.0,72.427852,235.0,CANBK.NS,30.98,314.0,175.0,95.54,4.46,310.0,0.65
27,2022-11-17,135.0,133.0,127.0,57.162373,110.0,FEDERALBNK.NS,22.55,138.0,81.0,94.39,5.61,149.0,10.37
49,2022-11-17,345.0,347.0,338.0,49.243119,297.0,ITC.NS,16.13,361.0,208.0,89.48,10.52,350.0,1.45
12,2022-11-17,601.0,586.0,563.0,62.618031,522.0,SBIN.NS,15.22,616.0,435.0,91.96,8.04,709.0,17.97
46,2022-11-17,848.0,819.0,792.0,68.989654,741.0,BHARTIARTL.NS,14.39,848.0,641.0,99.83,0.17,879.0,3.66
9,2022-11-17,860.0,854.0,820.0,55.354091,755.0,AXISBANK.NS,13.91,915.0,626.0,80.97,19.03,1044.0,21.40
26,2022-11-17,1270.0,1296.0,1276.0,43.668486,1125.0,M&M.NS,12.93,1354.0,691.0,87.41,12.59,1404.0,10.55
57,2022-11-17,4127.0,3968.0,3853.0,68.448519,3665.0,BRITANNIA.NS,12.62,4175.0,3094.0,95.60,4.40,3935.0,-4.65
15,2022-11-17,920.0,906.0,888.0,58.855416,818.0,ICICIBANK.NS,12.44,926.0,654.0,97.72,2.28,1075.0,16.85
42,2022-11-17,1014.0,1007.0,971.0,57.740124,902.0,SUNPHARMA.NS,12.36,1052.0,737.0,87.78,12.22,1056.0,4.14
21,2022-11-17,1627.0,1536.0,1491.0,76.844961,1455.0,HDFCBANK.NS,11.85,1657.0,1281.0,92.14,7.86,1813.0,11.43
54,2022-11-17,2043.0,1983.0,1933.0,64.459845,1839.0,LT.NS,11.08,2069.0,1472.0,95.60,4.40,2036.0,-0.34
50,2022-11-17,3448.0,3604.0,3544.0,37.593769,3123.0,EICHERMOT.NS,10.40,3850.0,2256.0,74.77,25.23,3490.0,1.22
29,2022-11-17,2677.0,2529.0,2445.0,74.402930,2427.0,HDFC.NS,10.31,2948.0,2053.0,69.75,30.25,2940.0,9.82
8,2022-11-17,1143.0,1151.0,1140.0,46.722369,1040.0,INDUSINDBK.NS,9.87,1264.0,778.0,75.02,24.98,1394.0,21.96

In [13]:
# portfolio buy/sell
mypf['Stock'] = mypf['Symbol'] + '.NS'
df_prec_dev[df_prec_dev['Stock'].isin(mypf[mypf['InPortfolio'] == 1].Stock.values)]

,Date,Close Price,20_EMA,50_EMA,RSI,200_EMA,Stock,Dev%_200,Max,Min,Premium%,Discount%,Forecast,Upside%
0,2022-11-17,409.0,421.0,434.0,32.210005,474.0,GODREJIND.NS,-13.69,644.0,406.0,1.30,98.70,638.0,55.99
1,2022-11-17,685.0,694.0,716.0,40.229991,789.0,MOTILALOFS.NS,-13.13,980.0,682.0,1.14,98.86,930.0,35.77
2,2022-11-17,480.0,500.0,518.0,32.686940,540.0,ICICIPRULI.NS,-11.09,643.0,447.0,16.89,83.11,647.0,34.79
3,2022-11-17,534.0,535.0,540.0,48.317277,569.0,HDFCLIFE.NS,-6.19,711.0,504.0,14.40,85.60,683.0,27.90
4,2022-11-17,1256.0,1254.0,1251.0,51.009398,1205.0,SBILIFE.NS,4.24,1332.0,1025.0,75.29,24.71,1577.0,25.56
5,2022-11-17,1760.0,1776.0,1808.0,45.512894,1884.0,INDIGO.NS,-6.58,2332.0,1549.0,26.96,73.04,2186.0,24.20
6,2022-11-17,3304.0,3468.0,3566.0,36.099867,3878.0,DIVISLAB.NS,-14.79,4938.0,3271.0,1.99,98.01,4065.0,23.03
7,2022-11-17,3951.0,3990.0,3992.0,48.885182,4355.0,NAUKRI.NS,-9.28,6545.0,3375.0,18.17,81.83,4851.0,22.78
10,2022-11-17,75.0,74.0,74.0,55.103769,85.0,NATIONALUM.NS,-11.35,130.0,67.0,13.25,86.75,91.0,21.33
14,2022-11-17,81.0,79.0,78.0,56.683988,93.0,IBREALEST.NS,-12.90,181.0,60.0,17.36,82.64,95.0,17.28
21,2022-11-17,1627.0,1536.0,1491.0,76.844961,1455.0,HDFCBANK.NS,11.85,1657.0,1281.0,92.14,7.86,1813.0,11.43
22,2022-11-17,1084.0,1074.0,1060.0,53.863225,1165.0,MUTHOOTFIN.NS,-6.91,1639.0,956.0,18.81,81.19,1207.0,11.35
24,2022-11-17,1594.0,1538.0,1507.0,65.518764,1565.0,INFY.NS,1.88,1940.0,1365.0,39.90,60.10,1765.0,10.73
29,2022-11-17,2677.0,2529.0,2445.0,74.402930,2427.0,HDFC.NS,10.31,2948.0,2053.0,69.75,30.25,2940.0,9.82
43,2022-11-17,223.0,226.0,226.0,44.600249,230.0,TATAPOWER.NS,-3.24,290.0,195.0,29.00,71.00,232.0,4.04
48,2022-11-17,1095.0,1053.0,1010.0,72.738983,1029.0,HCLTECH.NS,6.40,1352.0,883.0,45.18,54.82,1117.0,2.01
51,2022-11-17,3353.0,3241.0,3194.0,70.398393,3314.0,TCS.NS,1.17,4019.0,2982.0,35.75,64.25,3385.0,0.95

In [14]:
df_prec_dev[df_prec_dev['Stock'].isin(mypf[mypf['InPortfolio'] == 1].Stock.values)]['Upside%']*100/df_prec_dev[df_prec_dev['Stock'].isin(mypf[mypf['InPortfolio'] == 1].Stock.values)]['Upside%'].sum()

0     16.518173
1     10.552868
2     10.263748
3      8.231060
4      7.540713
5      7.139485
6      6.794312
7      6.720557
10     6.292778
14     5.097947
21     3.372079
22     3.348478
24     3.165565
29     2.897097
43     1.191881
48     0.592990
51     0.280269
Name: Upside%, dtype: float64

In [15]:
# prospects buy
df_prec_dev[~df_prec_dev['Stock'].isin(mypf[mypf['InPortfolio'] == 1].Stock.values)]

,Date,Close Price,20_EMA,50_EMA,RSI,200_EMA,Stock,Dev%_200,Max,Min,Premium%,Discount%,Forecast,Upside%
8,2022-11-17,1143.0,1151.0,1140.0,46.722369,1040.0,INDUSINDBK.NS,9.87,1264.0,778.0,75.02,24.98,1394.0,21.96
9,2022-11-17,860.0,854.0,820.0,55.354091,755.0,AXISBANK.NS,13.91,915.0,626.0,80.97,19.03,1044.0,21.40
11,2022-11-17,253.0,262.0,262.0,38.379833,264.0,ZEEL.NS,-4.07,371.0,209.0,27.31,72.69,302.0,19.37
12,2022-11-17,601.0,586.0,563.0,62.618031,522.0,SBIN.NS,15.22,616.0,435.0,91.96,8.04,709.0,17.97
13,2022-11-17,555.0,583.0,592.0,34.021019,603.0,JUBLFOOD.NS,-7.96,786.0,464.0,28.26,71.74,651.0,17.30
15,2022-11-17,920.0,906.0,888.0,58.855416,818.0,ICICIBANK.NS,12.44,926.0,654.0,97.72,2.28,1075.0,16.85
16,2022-11-17,425.0,421.0,422.0,52.618341,443.0,TATAMOTORS.NS,-4.16,530.0,372.0,33.26,66.74,493.0,16.00
17,2022-11-17,6929.0,7099.0,7125.0,40.085015,6933.0,BAJFINANCE.NS,-0.06,7853.0,5284.0,64.03,35.97,7978.0,15.14
18,2022-11-17,2465.0,2521.0,2550.0,38.268348,2451.0,HINDUNILVR.NS,0.57,2702.0,1944.0,68.73,31.27,2828.0,14.73
19,2022-11-17,842.0,837.0,850.0,50.391501,850.0,GODREJCP.NS,-1.00,968.0,665.0,58.25,41.75,958.0,13.78
20,2022-11-17,553.0,551.0,552.0,52.219998,555.0,DABUR.NS,-0.36,612.0,485.0,53.54,46.46,625.0,13.02
23,2022-11-17,106.0,105.0,104.0,56.928595,108.0,TATASTEEL.NS,-1.53,137.0,84.0,42.17,57.83,118.0,11.32
25,2022-11-17,787.0,772.0,778.0,57.558246,778.0,TATACONSUM.NS,1.21,849.0,660.0,67.41,32.59,871.0,10.67
26,2022-11-17,1270.0,1296.0,1276.0,43.668486,1125.0,M&M.NS,12.93,1354.0,691.0,87.41,12.59,1404.0,10.55
27,2022-11-17,135.0,133.0,127.0,57.162373,110.0,FEDERALBNK.NS,22.55,138.0,81.0,94.39,5.61,149.0,10.37
28,2022-11-17,2154.0,2210.0,2170.0,44.017707,2112.0,DEEPAKNTR.NS,1.99,2660.0,1720.0,46.17,53.83,2371.0,10.07
30,2022-11-17,2608.0,2555.0,2522.0,61.064193,2515.0,RELIANCE.NS,3.71,2820.0,2236.0,63.75,36.25,2854.0,9.43
31,2022-11-17,1059.0,1053.0,1052.0,52.608012,1180.0,TECHM.NS,-10.25,1806.0,965.0,11.18,88.82,1156.0,9.16
32,2022-11-17,397.0,393.0,398.0,54.626033,465.0,WIPRO.NS,-14.58,722.0,375.0,6.40,93.60,433.0,9.07
33,2022-11-17,4429.0,4449.0,4379.0,49.966696,4350.0,DRREDDY.NS,1.81,4907.0,3719.0,59.73,40.27,4829.0,9.03
34,2022-11-17,3085.0,3121.0,3191.0,42.020350,3172.0,ASIANPAINT.NS,-2.74,3576.0,2580.0,50.71,49.29,3361.0,8.95
35,2022-11-17,1224.0,1231.0,1254.0,46.179642,1262.0,HAVELLS.NS,-2.97,1418.0,1070.0,44.40,55.60,1327.0,8.42
36,2022-11-17,6898.0,6724.0,6557.0,63.329436,6566.0,ULTRACEMCO.NS,5.06,7870.0,5177.0,63.92,36.08,7420.0,7.57
37,2022-11-17,610.0,603.0,614.0,52.262848,652.0,BERGEPAINT.NS,-6.44,792.0,561.0,21.21,78.79,651.0,6.72
38,2022-11-17,2751.0,2666.0,2671.0,62.875485,2662.0,HEROMOTOCO.NS,3.33,2913.0,2199.0,77.27,22.73,2919.0,6.11
39,2022-11-17,3960.0,4158.0,4223.0,25.468772,4232.0,DMART.NS,-6.44,5126.0,3231.0,38.45,61.55,4177.0,5.48
40,2022-11-17,1959.0,1902.0,1878.0,63.902427,1858.0,KOTAKBANK.NS,5.44,2053.0,1642.0,77.13,22.87,2055.0,4.90
41,2022-11-17,2593.0,2670.0,2627.0,40.135241,2478.0,TITAN.NS,4.63,2770.0,1936.0,78.74,21.26,2715.0,4.70
42,2022-11-17,1014.0,1007.0,971.0,57.740124,902.0,SUNPHARMA.NS,12.36,1052.0,737.0,87.78,12.22,1056.0,4.14
44,2022-11-17,9015.0,9101.0,8980.0,47.574646,8520.0,MARUTI.NS,5.81,9528.0,6769.0,81.40,18.60,9356.0,3.78
45,2022-11-17,82.0,83.0,81.0,49.975896,86.0,SAIL.NS,-4.65,115.0,65.0,34.00,66.00,85.0,3.66
46,2022-11-17,848.0,819.0,792.0,68.989654,741.0,BHARTIARTL.NS,14.39,848.0,641.0,99.83,0.17,879.0,3.66
47,2022-11-17,1564.0,1587.0,1590.0,41.614704,1559.0,COLPAL.NS,0.32,1678.0,1394.0,59.86,40.14,1606.0,2.69
49,2022-11-17,345.0,347.0,338.0,49.243119,297.0,ITC.NS,16.13,361.0,208.0,89.48,10.52,350.0,1.45
50,2022-11-17,3448.0,3604.0,3544.0,37.593769,3123.0,EICHERMOT.NS,10.40,3850.0,2256.0,74.77,25.23,3490.0,1.22
52,2022-11-17,308.0,290.0,266.0,72.427852,235.0,CANBK.NS,30.98,314.0,175.0,95.54,4.46,310.0,0.65
53,2022-11-17,882.0,876.0,857.0,54.180844,846.0,MCDOWELL-N.NS,4.28,947.0,732.0,69.86,30.14,885.0,0.34
54,2022-11-17,2043.0,1983.0,1933.0,64.459845,1839.0,LT.NS,11.08,2069.0,1472.0,95.60,4.40,2036.0,-0.34
55,2022-11-17,3546.0,3513.0,3403.0,54.286202,3554.0,MINDTREE.NS,-0.23,4989.0,2742.0,35.78,64.22,3520.0,-0.73
56,2022-11-17,1124.0,1131.0,1107.0,48.518239,1023.0,CIPLA.NS,9.86,1173.0,860.0,84.30,15.70,1092.0,-2.85
57,2022-11-17,4127.0,3968.0,3853.0,68.448519,3665.0,BRITANNIA.NS,12.62,4175.0,3094.0,95.60,4.40,3935.0,-4.65
58,2022-11-17,4936.0,4874.0,4740.0,55.867489,5074.0,LTI.NS,-2.72,7562.0,3824.0,29.75,70.25,4615.0,-6.50
59,2022-11-17,2678.0,2657.0,2654.0,53.541017,2516.0,PIDILITIND.NS,6.42,2902.0,1999.0,75.16,24.84,2448.0,-8.59
60,2022-11-17,731.0,741.0,725.0,46.339877,727.0,IRCTC.NS,0.58,904.0,571.0,48.12,51.88,571.0,-21.89

In [16]:
# CCI buy
df_prec_dev[df_prec_dev['Stock'].isin(mypf[mypf['CCIFlag'] == 1].Stock.values)]

,Date,Close Price,20_EMA,50_EMA,RSI,200_EMA,Stock,Dev%_200,Max,Min,Premium%,Discount%,Forecast,Upside%
6,2022-11-17,3304.0,3468.0,3566.0,36.099867,3878.0,DIVISLAB.NS,-14.79,4938.0,3271.0,1.99,98.01,4065.0,23.03
13,2022-11-17,555.0,583.0,592.0,34.021019,603.0,JUBLFOOD.NS,-7.96,786.0,464.0,28.26,71.74,651.0,17.30
18,2022-11-17,2465.0,2521.0,2550.0,38.268348,2451.0,HINDUNILVR.NS,0.57,2702.0,1944.0,68.73,31.27,2828.0,14.73
24,2022-11-17,1594.0,1538.0,1507.0,65.518764,1565.0,INFY.NS,1.88,1940.0,1365.0,39.90,60.10,1765.0,10.73
31,2022-11-17,1059.0,1053.0,1052.0,52.608012,1180.0,TECHM.NS,-10.25,1806.0,965.0,11.18,88.82,1156.0,9.16
32,2022-11-17,397.0,393.0,398.0,54.626033,465.0,WIPRO.NS,-14.58,722.0,375.0,6.40,93.60,433.0,9.07
34,2022-11-17,3085.0,3121.0,3191.0,42.020350,3172.0,ASIANPAINT.NS,-2.74,3576.0,2580.0,50.71,49.29,3361.0,8.95
35,2022-11-17,1224.0,1231.0,1254.0,46.179642,1262.0,HAVELLS.NS,-2.97,1418.0,1070.0,44.40,55.60,1327.0,8.42
37,2022-11-17,610.0,603.0,614.0,52.262848,652.0,BERGEPAINT.NS,-6.44,792.0,561.0,21.21,78.79,651.0,6.72
41,2022-11-17,2593.0,2670.0,2627.0,40.135241,2478.0,TITAN.NS,4.63,2770.0,1936.0,78.74,21.26,2715.0,4.70
48,2022-11-17,1095.0,1053.0,1010.0,72.738983,1029.0,HCLTECH.NS,6.40,1352.0,883.0,45.18,54.82,1117.0,2.01
49,2022-11-17,345.0,347.0,338.0,49.243119,297.0,ITC.NS,16.13,361.0,208.0,89.48,10.52,350.0,1.45
51,2022-11-17,3353.0,3241.0,3194.0,70.398393,3314.0,TCS.NS,1.17,4019.0,2982.0,35.75,64.25,3385.0,0.95
55,2022-11-17,3546.0,3513.0,3403.0,54.286202,3554.0,MINDTREE.NS,-0.23,4989.0,2742.0,35.78,64.22,3520.0,-0.73
57,2022-11-17,4127.0,3968.0,3853.0,68.448519,3665.0,BRITANNIA.NS,12.62,4175.0,3094.0,95.60,4.40,3935.0,-4.65
58,2022-11-17,4936.0,4874.0,4740.0,55.867489,5074.0,LTI.NS,-2.72,7562.0,3824.0,29.75,70.25,4615.0,-6.50
59,2022-11-17,2678.0,2657.0,2654.0,53.541017,2516.0,PIDILITIND.NS,6.42,2902.0,1999.0,75.16,24.84,2448.0,-8.59