<a href="https://colab.research.google.com/github/ankit-rathi/Data-Science-with-Python/blob/master/Stock_Analysis/Nifty100_Performance_Over_Time.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install yfinance

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: yfinance in /usr/local/lib/python3.10/dist-packages (0.2.18)
Requirement already satisfied: pandas>=1.3.0 in /usr/local/lib/python3.10/dist-packages (from yfinance) (1.5.3)
Requirement already satisfied: requests>=2.26 in /usr/local/lib/python3.10/dist-packages (from yfinance) (2.27.1)
Requirement already satisfied: appdirs>=1.4.4 in /usr/local/lib/python3.10/dist-packages (from yfinance) (1.4.4)
Requirement already satisfied: frozendict>=2.3.4 in /usr/local/lib/python3.10/dist-packages (from yfinance) (2.3.7)
Requirement already satisfied: beautifulsoup4>=4.11.1 in /usr/local/lib/python3.10/dist-packages (from yfinance) (4.11.2)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.10/dist-packages (from yfinance) (0.0.11)
Requirement already satisfied: pytz>=2022.5 in /usr/local/lib/python3.10/dist-packages (from yfinance) (2022.7.1)
Requirement already satisfied: lxml>=4.9.1 in /usr/local/lib/python3.10/dist-packages (from yfinance) (4.9.2)
Requirement already satisfied: html5lib>=1.1 in /usr/local/lib/python3.10/dist-packages (from yfinance) (1.1)
Requirement already satisfied: numpy>=1.16.5 in /usr/local/lib/python3.10/dist-packages (from yfinance) (1.22.4)
Requirement already satisfied: cryptography>=3.3.2 in /usr/local/lib/python3.10/dist-packages (from yfinance) (40.0.2)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.10/dist-packages (from beautifulsoup4>=4.11.1->yfinance) (2.4.1)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.10/dist-packages (from cryptography>=3.3.2->yfinance) (1.15.1)
Requirement already satisfied: webencodings in /usr/local/lib/python3.10/dist-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.10/dist-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests>=2.26->yfinance) (1.26.15)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests>=2.26->yfinance) (2.0.12)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests>=2.26->yfinance) (2022.12.7)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests>=2.26->yfinance) (3.4)
Requirement already satisfied: pycparser in /usr/local/lib/python3.10/dist-packages (from cffi>=1.12->cryptography>=3.3.2->yfinance) (2.21)

In [2]:
import pandas as pd
import numpy as np
from google.colab import drive
drive.mount('/content/drive')

mypf = pd.read_csv('/content/drive/My Drive/data/stocks/Nifty100Scrips.csv')

#mypf = mypf[mypf['Nifty100'] == 1]

stock_n100 = mypf['Symbol'].unique()

exclude = ['CADILAHC','MMTC']

stock_n100 = mypf[~mypf['Symbol'].isin(exclude) ]['Symbol']

#stock_ids

stock_ids = stock_n100

Mounted at /content/drive

In [3]:
import pandas as pd
import datetime
import warnings
warnings.filterwarnings('ignore')
import pandas_datareader.data as web
import yfinance as yfin
yfin.pdr_override()

start_date = (datetime.date.today() + datetime.timedelta(days=-5)).strftime('%Y-%m-%d')
end_date = (datetime.date.today() + datetime.timedelta(days=1)).strftime('%Y-%m-%d')

df_perform = pd.DataFrame()

for stock_id in stock_ids:
    stock_id = stock_id.upper() + '.NS'
    tmp = pd.DataFrame(web.DataReader(tickers = stock_id, start = start_date, end = end_date))
    tmp['Stock'] = stock_id
    tmp['Prev_Close'] = tmp['Close'].shift(1)
    tmp['Change%'] = round((tmp['Close'] - tmp['Prev_Close'])*100/tmp['Prev_Close'],2)
    tmp = tmp.tail(1)
    df_perform = df_perform.append(tmp)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [4]:
# losers
df_perform.sort_values(by = 'Change%')

,Open,High,Low,Close,Adj Close,Volume,Stock,Prev_Close,Change%
Date,,,,,,,,,
2023-05-04,239.649994,240.699997,236.850006,236.899994,236.899994,2090867,POWERGRID.NS,239.699997,-1.17
2023-05-04,2176.949951,2180.000000,2132.550049,2142.949951,2142.949951,182411,INDIGO.NS,2164.100098,-0.98
2023-05-04,6935.000000,6937.500000,6862.799805,6879.350098,6879.350098,5085,BAJAJHLDNG.NS,6945.200195,-0.95
2023-05-04,490.000000,490.700012,484.250000,486.350006,486.350006,449679,IGL.NS,490.700012,-0.89
2023-05-04,1957.900024,1957.900024,1930.750000,1936.800049,1936.800049,90845,DEEPAKNTR.NS,1952.199951,-0.79
...,...,...,...,...,...,...,...,...,...
2023-05-04,435.000000,439.000000,431.250000,437.250000,437.250000,495819,ICICIPRULI.NS,430.250000,1.63
2023-05-04,1022.500000,1041.300049,1016.700012,1039.300049,1039.300049,516320,MUTHOOTFIN.NS,1019.099976,1.98
2023-05-04,259.049988,265.950012,256.350006,264.450012,264.450012,2692792,HINDPETRO.NS,256.600006,3.06
2023-05-04,8.200000,8.600000,8.200000,8.450000,8.450000,67587074,SUZLON.NS,8.100000,4.32
2023-05-04,920.049988,970.000000,920.049988,949.700012,949.700012,6444210,CHOLAFIN.NS,886.599976,7.12

In [5]:
# gainers
df_perform.sort_values(by = 'Change%', ascending=False)

,Open,High,Low,Close,Adj Close,Volume,Stock,Prev_Close,Change%
Date,,,,,,,,,
2023-05-04,920.049988,970.000000,920.049988,949.700012,949.700012,6444210,CHOLAFIN.NS,886.599976,7.12
2023-05-04,8.200000,8.600000,8.200000,8.450000,8.450000,67587074,SUZLON.NS,8.100000,4.32
2023-05-04,259.049988,265.950012,256.350006,264.450012,264.450012,2692792,HINDPETRO.NS,256.600006,3.06
2023-05-04,1022.500000,1041.300049,1016.700012,1039.300049,1039.300049,516320,MUTHOOTFIN.NS,1019.099976,1.98
2023-05-04,435.000000,439.000000,431.250000,437.250000,437.250000,495819,ICICIPRULI.NS,430.250000,1.63
...,...,...,...,...,...,...,...,...,...
2023-05-04,1957.900024,1957.900024,1930.750000,1936.800049,1936.800049,90845,DEEPAKNTR.NS,1952.199951,-0.79
2023-05-04,490.000000,490.700012,484.250000,486.350006,486.350006,449679,IGL.NS,490.700012,-0.89
2023-05-04,6935.000000,6937.500000,6862.799805,6879.350098,6879.350098,5085,BAJAJHLDNG.NS,6945.200195,-0.95
2023-05-04,2176.949951,2180.000000,2132.550049,2142.949951,2142.949951,182411,INDIGO.NS,2164.100098,-0.98
2023-05-04,239.649994,240.699997,236.850006,236.899994,236.899994,2090867,POWERGRID.NS,239.699997,-1.17

In [6]:
d = 365*5
start_date = (datetime.date.today() + datetime.timedelta(days=-d)).strftime('%Y-%m-%d')
end_date = (datetime.date.today() + datetime.timedelta(days=0)).strftime('%Y-%m-%d')

df_perform = pd.DataFrame()

for stock_id in stock_ids:
    stock_id = stock_id.upper() + '.NS'


    df_stock = pd.DataFrame(web.DataReader(tickers = stock_id, start = start_date, end = end_date))

    CMP = df_stock['Close'].values[-1]
    D1 = round((df_stock['Close'].values[-1] - df_stock['Close'].shift(1).values[-1])*100/df_stock['Close'].shift(1).values[-1],2)
    W1 = round((df_stock['Close'].values[-1] - df_stock['Close'].shift(5).values[-1])*100/df_stock['Close'].shift(5).values[-1],2)
    M1 = round((df_stock['Close'].values[-1] - df_stock['Close'].shift(20).values[-1])*100/df_stock['Close'].shift(20).values[-1],2)
    M3 = round((df_stock['Close'].values[-1] - df_stock['Close'].shift(60).values[-1])*100/df_stock['Close'].shift(60).values[-1],2)
    M6 = round((df_stock['Close'].values[-1] - df_stock['Close'].shift(120).values[-1])*100/df_stock['Close'].shift(120).values[-1],2)
    Y1 = round((df_stock['Close'].values[-1] - df_stock['Close'].shift(240).values[-1])*100/df_stock['Close'].shift(240).values[-1],2)
    Y2 = round(((df_stock['Close'].values[-1]/df_stock['Close'].shift(240*2).values[-1])**.5 - 1)*100,2)
    Y3 = round(((df_stock['Close'].values[-1]/df_stock['Close'].shift(240*3).values[-1])**.33 - 1)*100,2)
    Y5 = round(((df_stock['Close'].values[-1]/df_stock['Close'].shift(240*5).values[-1])**.2 - 1)*100,2)
    
    
    tmp = {'Stock':[stock_id],
           'CMP': CMP,
           '1D%' : [D1],
           '1W%' : [W1],
           '1M%' : [M1],
           '3M%' : [M3],
           '6M%' : [M6],
           '1Y%' : [Y1],
           '2Y%' : [Y2],
           '3Y%' : [Y3],
           '5Y%' : [Y5]
           }

    tmp = pd.DataFrame(tmp)
    
    df_perform = df_perform.append(tmp)

df_perform

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

,Stock,CMP,1D%,1W%,1M%,3M%,6M%,1Y%,2Y%,3Y%,5Y%
0,ACC.NS,1743.599976,-1.16,0.43,7.24,-11.42,-29.71,-17.49,-6.10,10.87,6.46
0,ADANIENT.NS,1839.000000,-4.21,-0.30,5.67,-38.16,-52.03,-10.47,17.91,127.74,85.14
0,ADANIGREEN.NS,942.049988,-3.34,1.17,5.33,-23.03,-55.59,-56.62,-13.69,41.62,97.94
0,ADANIPORTS.NS,669.650024,-1.74,-0.27,5.18,9.30,-22.40,-5.14,-6.03,24.28,12.86
0,ADANITRANS.NS,993.049988,-2.83,-1.96,-1.04,-44.02,-70.08,-54.67,-15.55,70.31,45.54
...,...,...,...,...,...,...,...,...,...,...,...
0,VOLTAS.NS,809.900024,1.04,-3.99,-0.20,0.90,-4.18,-13.04,-9.52,13.39,9.13
0,WHIRLPOOL.NS,1335.050049,1.38,0.74,3.16,-4.03,-12.18,-14.13,-21.45,-13.35,-2.76
0,WIPRO.NS,385.100006,-0.84,2.52,7.26,-3.45,-1.40,-17.83,-14.54,20.84,14.61
0,YESBANK.NS,16.150000,1.25,3.86,8.03,-6.38,-1.82,29.72,9.58,-18.84,-45.51
0,ZEEL.NS,195.850006,-0.25,4.59,-9.35,-13.65,-26.12,-18.14,-2.48,1.04,-18.98

In [7]:
df_perform.sort_values(by = '1M%', ascending = False).head(20)

,Stock,CMP,1D%,1W%,1M%,3M%,6M%,1Y%,2Y%,3Y%,5Y%
0,IBREALEST.NS,71.900002,-1.84,6.05,50.26,-0.48,-8.06,1.70,-16.51,10.87,-15.52
0,BANDHANBNK.NS,231.899994,0.00,3.80,22.12,-5.04,1.71,-26.95,-10.90,-4.75,-15.54
0,DLF.NS,427.549988,0.78,4.24,21.27,20.08,10.39,34.07,21.17,39.24,16.33
0,AUROPHARMA.NS,616.549988,-0.12,2.67,20.98,51.06,11.37,9.60,-22.38,-8.12,-0.07
0,INDIGO.NS,2164.100098,4.68,8.60,18.56,1.88,20.36,33.19,12.03,27.53,13.75
0,CHOLAFIN.NS,886.599976,1.36,5.73,18.55,25.41,16.11,40.27,27.65,77.54,22.07
0,BAJAJHLDNG.NS,6945.200195,0.79,6.93,18.38,18.04,3.32,40.59,39.51,40.68,17.31
0,TATAMOTORS.NS,483.700012,0.72,2.14,18.21,6.99,13.72,19.64,23.82,62.34,9.62
0,BIOCON.NS,238.250000,-0.27,3.18,18.18,1.36,-13.05,-26.95,-21.13,-15.01,-5.24
0,NAM-INDIA.NS,238.899994,0.31,1.59,17.02,-4.04,-9.90,-13.21,-17.32,-4.87,1.79
0,AUBANK.NS,684.799988,0.12,3.73,16.95,10.65,11.11,5.87,19.25,40.69,14.08
0,PIIND.NS,3425.699951,0.63,10.57,16.60,14.29,3.74,43.82,15.69,27.76,34.75
0,DIVISLAB.NS,3268.750000,0.46,1.31,15.90,-1.40,-12.75,-23.65,-10.70,10.81,24.72
0,INDIGOPNTS.NS,1167.250000,0.82,1.03,15.55,-0.84,-24.33,-19.16,-32.63,NaN,NaN
0,INDIANB.NS,334.450012,1.61,5.47,14.89,9.75,33.94,129.78,53.09,81.00,-1.17
0,NESTLEIND.NS,21875.699219,0.60,5.86,14.82,15.03,7.10,33.36,11.67,9.68,17.60
0,BAJAJ-AUTO.NS,4447.850098,-1.11,2.42,14.66,16.49,17.95,22.12,3.32,17.66,9.16
0,EICHERMOT.NS,3348.350098,-0.23,4.05,14.13,2.60,-8.69,37.64,12.76,24.85,2.35
0,CANBK.NS,319.500000,-0.16,3.83,13.68,5.12,7.54,65.29,46.16,44.44,4.08
0,PNB.NS,52.549999,-0.38,5.52,13.50,-1.87,25.72,79.35,15.71,15.62,-9.42

In [8]:
df_perform.sort_values(by = '1M%', ascending = True).head(20)

,Stock,CMP,1D%,1W%,1M%,3M%,6M%,1Y%,2Y%,3Y%,5Y%
0,ZEEL.NS,195.850006,-0.25,4.59,-9.35,-13.65,-26.12,-18.14,-2.48,1.04,-18.98
0,INFY.NS,1269.150024,-0.65,3.61,-8.27,-17.25,-16.17,-15.64,-4.69,20.80,15.35
0,SHREECEM.NS,24258.550781,0.28,0.75,-5.99,2.42,5.64,7.50,-5.35,4.04,9.37
0,TECHM.NS,1039.599976,-1.31,4.27,-3.84,2.42,-1.33,-13.57,1.57,20.52,8.53
0,SUNPHARMA.NS,963.599976,-0.97,-0.92,-2.85,-6.85,-7.34,9.19,17.01,24.24,11.30
0,GODREJCP.NS,939.200012,1.72,-2.49,-2.80,2.84,13.27,17.81,6.70,13.93,3.92
0,LTIM.NS,4498.000000,-1.10,7.44,-2.65,2.96,-6.43,9.42,8.80,33.18,21.90
0,PVR.NS,1484.800049,0.28,0.42,-2.09,-12.54,-18.88,-14.98,8.31,14.45,1.58
0,HINDUNILVR.NS,2486.000000,1.40,-0.18,-1.77,-3.52,-1.36,13.30,2.77,5.40,9.18
0,VEDL.NS,278.250000,-1.01,-0.16,-1.24,-16.29,-13.57,-5.00,1.73,37.46,4.00
0,ADANITRANS.NS,993.049988,-2.83,-1.96,-1.04,-44.02,-70.08,-54.67,-15.55,70.31,45.54
0,ULTRACEMCO.NS,7507.200195,0.68,0.91,-0.84,5.95,8.91,21.15,6.81,25.27,15.51
0,HCLTECH.NS,1058.949951,-0.81,0.52,-0.80,-5.64,1.30,0.65,5.81,22.07,18.38
0,VOLTAS.NS,809.900024,1.04,-3.99,-0.20,0.90,-4.18,-13.04,-9.52,13.39,9.13
0,NMDC.NS,110.150002,0.27,1.24,-0.05,-10.56,-1.39,-19.07,-21.14,6.93,0.18
0,DABUR.NS,537.950012,0.28,2.19,0.43,-3.55,-3.51,7.42,0.54,5.16,7.21
0,ICICIPRULI.NS,430.250000,-2.12,-0.99,0.88,-4.90,-16.39,-12.09,-9.55,2.69,2.07
0,TCS.NS,3179.899902,-1.23,0.12,1.31,-5.32,-1.17,-6.88,0.34,14.52,11.78
0,NTPC.NS,176.350006,0.43,3.07,1.35,3.04,-0.34,22.34,25.99,21.33,6.15
0,ICICIGI.NS,1088.449951,0.13,1.37,1.42,-3.66,-6.26,-14.99,-14.15,-6.12,8.18

In [9]:
import pandas as pd
import datetime
import warnings
warnings.filterwarnings('ignore')
import pandas_datareader.data as web
import yfinance as yfin
yfin.pdr_override()

start_date = (datetime.date.today() + datetime.timedelta(days=-60)).strftime('%Y-%m-%d')
end_date = (datetime.date.today() + datetime.timedelta(days=0)).strftime('%Y-%m-%d')

df_perform = pd.DataFrame()

for stock_id in stock_ids:
    stock_id = stock_id.upper() + '.NS'
    tmp = pd.DataFrame(web.DataReader(tickers = stock_id, start = start_date, end = end_date))
    tmp['Stock'] = stock_id
    tmp['Prev_Close'] = tmp['Close'].shift(1)
    tmp['Change%'] = round((tmp['Close'] - tmp['Prev_Close'])*100/tmp['Prev_Close'],2)
    df_perform = df_perform.append(tmp)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [10]:
# losers
df_perform.sort_values(by = 'Change%').head(20)

,Open,High,Low,Close,Adj Close,Volume,Stock,Prev_Close,Change%
Date,,,,,,,,,
2023-04-17,1250.300049,1261.150024,1185.300049,1258.300049,1258.300049,53171705,INFY.NS,1389.199951,-9.42
2023-03-17,223.000000,223.399994,200.000000,202.300003,202.300003,43622635,BIOCON.NS,221.850006,-8.81
2023-03-14,281.700012,285.700012,254.000000,258.500000,258.500000,5100639,INDIANB.NS,282.399994,-8.46
2023-03-13,1119.000000,1119.500000,1055.000000,1060.099976,1060.099976,12242080,INDUSINDBK.NS,1144.800049,-7.40
2023-03-14,1874.000000,1874.849976,1651.349976,1738.199951,1738.199951,12679663,ADANIENT.NS,1874.400024,-7.27
2023-03-28,1727.949951,1733.000000,1573.000000,1600.849976,1600.849976,8144878,ADANIENT.NS,1723.050049,-7.09
2023-03-24,56.200001,56.950001,52.000000,52.250000,52.250000,2526118,NETWORK18.NS,56.200001,-7.03
2023-04-17,4482.000000,4490.000000,4181.799805,4332.600098,4332.600098,1763639,LTIM.NS,4646.399902,-6.75
2023-03-28,622.599976,627.799988,571.549988,593.400024,593.400024,19860622,ADANIPORTS.NS,629.099976,-5.67
2023-03-24,54.549999,54.599998,51.150002,51.599998,51.599998,7032836,IBREALEST.NS,54.650002,-5.58
2023-03-13,63.349998,63.549999,58.700001,59.500000,59.500000,7554516,IBREALEST.NS,63.000000,-5.56
2023-03-14,217.899994,218.149994,205.199997,206.050003,206.050003,15322776,BANDHANBNK.NS,217.899994,-5.44
2023-04-27,830.500000,847.200012,805.000000,808.400024,808.400024,4067448,VOLTAS.NS,854.599976,-5.41
2023-03-13,745.400024,747.500000,703.250000,706.349976,706.349976,2021591,PEL.NS,745.400024,-5.24
2023-04-17,1035.000000,1038.000000,1002.000000,1029.949951,1029.949951,4349422,TECHM.NS,1086.849976,-5.24
2023-03-28,195.800003,195.800003,182.149994,187.449997,187.449997,26339803,BANDHANBNK.NS,197.800003,-5.23
2023-03-16,400.600006,400.850006,383.100006,384.950012,384.950012,16739755,HINDALCO.NS,406.149994,-5.22
2023-03-13,14.400000,16.299999,14.400000,15.650000,15.650000,560565493,YESBANK.NS,16.500000,-5.15
2023-03-15,54.250000,55.000000,50.299999,50.950001,50.950001,966681,NETWORK18.NS,53.700001,-5.12
2023-04-03,997.000000,1008.700012,943.400024,943.400024,943.400024,818446,ADANITRANS.NS,993.049988,-5.00

In [11]:
# gainers
df_perform.sort_values(by = 'Change%', ascending=False).head(20)

,Open,High,Low,Close,Adj Close,Volume,Stock,Prev_Close,Change%
Date,,,,,,,,,
2023-04-13,630.000000,689.900024,625.000000,679.200012,679.200012,30807207,AUBANK.NS,580.150024,17.07
2023-04-19,1235.000000,1477.849976,1232.050049,1416.949951,1416.949951,6725689,GLAND.NS,1231.550049,15.05
2023-03-29,7.100000,8.100000,7.050000,7.950000,7.950000,131787323,SUZLON.NS,7.050000,12.77
2023-03-20,45.000000,62.799999,45.000000,59.200001,59.200001,7507743,NETWORK18.NS,52.549999,12.65
2023-04-24,57.500000,65.000000,56.900002,63.500000,63.500000,54103208,IBREALEST.NS,56.950001,11.50
2023-04-28,3240.000000,3462.250000,3240.000000,3384.500000,3384.500000,2940105,PIIND.NS,3065.699951,10.40
2023-04-12,2941.000000,3227.500000,2941.000000,3212.100098,3212.100098,4323187,DIVISLAB.NS,2927.350098,9.73
2023-03-16,189.100006,207.949997,187.449997,206.699997,206.699997,22589250,ZEEL.NS,189.050003,9.34
2023-03-29,1602.949951,1756.000000,1591.099976,1740.400024,1740.400024,9332702,ADANIENT.NS,1600.849976,8.72
2023-04-18,15.350000,16.799999,15.300000,16.650000,16.650000,346144836,YESBANK.NS,15.350000,8.47
2023-04-03,148.000000,158.800003,146.705002,157.914993,157.914993,140880,TIPSINDLTD.NS,146.035004,8.14
2023-04-17,287.950012,312.000000,285.350006,309.500000,309.500000,4882455,INDIANB.NS,287.049988,7.82
2023-04-06,795.000000,847.049988,795.000000,841.400024,841.400024,12172829,CHOLAFIN.NS,782.650024,7.51
2023-03-16,52.000000,55.950001,49.700001,54.700001,54.700001,5701925,NETWORK18.NS,50.950001,7.36
2023-03-29,593.349976,642.549988,590.099976,636.650024,636.650024,17057169,ADANIPORTS.NS,593.400024,7.29
2023-04-27,55.150002,62.400002,54.900002,58.900002,58.900002,7242741,NETWORK18.NS,55.000000,7.09
2023-04-28,144.850006,160.399994,144.850006,155.000000,155.000000,46124871,INDUSTOWER.NS,144.850006,7.01
2023-04-05,50.900002,54.450001,50.200001,54.000000,54.000000,17486844,IBREALEST.NS,50.500000,6.93
2023-03-13,1125.000000,1164.699951,1125.000000,1133.800049,1133.800049,13080169,TECHM.NS,1061.250000,6.84
2023-04-25,64.000000,68.300003,63.799999,67.800003,67.800003,36817670,IBREALEST.NS,63.500000,6.77

In [12]:
df_perform[df_perform['Stock'] == 'RELIANCE.NS']

,Open,High,Low,Close,Adj Close,Volume,Stock,Prev_Close,Change%
Date,,,,,,,,,
2023-03-06,2400.000000,2424.600098,2400.000000,2408.699951,2408.699951,4694338,RELIANCE.NS,NaN,NaN
2023-03-08,2408.699951,2419.000000,2385.000000,2417.350098,2417.350098,7283694,RELIANCE.NS,2408.699951,0.36
2023-03-09,2416.000000,2416.899902,2355.100098,2359.250000,2359.250000,7492509,RELIANCE.NS,2417.350098,-2.40
2023-03-10,2341.500000,2344.000000,2315.050049,2322.699951,2322.699951,6153681,RELIANCE.NS,2359.250000,-1.55
2023-03-13,2329.000000,2344.000000,2275.000000,2284.500000,2284.500000,5894088,RELIANCE.NS,2322.699951,-1.64
2023-03-14,2280.000000,2304.949951,2269.050049,2275.949951,2275.949951,7396699,RELIANCE.NS,2284.500000,-0.37
2023-03-15,2284.100098,2298.300049,2227.399902,2237.050049,2237.050049,10027725,RELIANCE.NS,2275.949951,-1.71
2023-03-16,2243.000000,2254.000000,2202.199951,2225.899902,2225.899902,8474595,RELIANCE.NS,2237.050049,-0.50
2023-03-17,2244.750000,2251.949951,2212.699951,2223.100098,2223.100098,15697554,RELIANCE.NS,2225.899902,-0.13
2023-03-20,2215.000000,2220.000000,2180.000000,2201.250000,2201.250000,9010595,RELIANCE.NS,2223.100098,-0.98
2023-03-21,2218.949951,2274.000000,2217.000000,2269.699951,2269.699951,9876263,RELIANCE.NS,2201.250000,3.11
2023-03-22,2285.000000,2291.449951,2270.000000,2276.600098,2276.600098,5039622,RELIANCE.NS,2269.699951,0.30
2023-03-23,2268.000000,2269.899902,2243.050049,2247.800049,2247.800049,7499082,RELIANCE.NS,2276.600098,-1.27
2023-03-24,2245.250000,2250.000000,2198.000000,2203.300049,2203.300049,5711497,RELIANCE.NS,2247.800049,-1.98
2023-03-27,2217.500000,2254.000000,2200.199951,2237.550049,2237.550049,6486068,RELIANCE.NS,2203.300049,1.55
2023-03-28,2245.000000,2256.500000,2237.000000,2248.000000,2248.000000,5804018,RELIANCE.NS,2237.550049,0.47
2023-03-29,2239.000000,2244.800049,2211.100098,2234.699951,2234.699951,8678073,RELIANCE.NS,2248.000000,-0.59
2023-03-31,2255.000000,2343.449951,2254.699951,2331.050049,2331.050049,13001005,RELIANCE.NS,2234.699951,4.31
2023-04-03,2345.000000,2349.000000,2315.000000,2331.449951,2331.449951,4750238,RELIANCE.NS,2331.050049,0.02
2023-04-05,2348.000000,2348.000000,2308.550049,2325.850098,2325.850098,7505339,RELIANCE.NS,2331.449951,-0.24
2023-04-06,2318.149902,2354.000000,2318.149902,2341.449951,2341.449951,8507771,RELIANCE.NS,2325.850098,0.67
2023-04-10,2350.000000,2350.399902,2321.550049,2324.850098,2324.850098,5981688,RELIANCE.NS,2341.449951,-0.71
2023-04-11,2334.000000,2341.000000,2324.050049,2336.350098,2336.350098,4865301,RELIANCE.NS,2324.850098,0.49
2023-04-12,2336.350098,2367.800049,2330.050049,2346.649902,2346.649902,8389646,RELIANCE.NS,2336.350098,0.44
2023-04-13,2353.000000,2365.800049,2342.000000,2355.500000,2355.500000,5712541,RELIANCE.NS,2346.649902,0.38
2023-04-17,2424.949951,2424.949951,2349.050049,2367.449951,2367.449951,8274452,RELIANCE.NS,2355.500000,0.51
2023-04-18,2377.000000,2377.000000,2326.000000,2340.350098,2340.350098,4802172,RELIANCE.NS,2367.449951,-1.14
2023-04-19,2339.050049,2357.899902,2332.199951,2352.000000,2352.000000,5664207,RELIANCE.NS,2340.350098,0.50
2023-04-20,2354.100098,2359.000000,2332.100098,2346.050049,2346.050049,3233882,RELIANCE.NS,2352.000000,-0.25
2023-04-21,2350.649902,2361.000000,2336.399902,2349.000000,2349.000000,3529236,RELIANCE.NS,2346.050049,0.13
2023-04-24,2375.000000,2380.899902,2348.000000,2358.000000,2358.000000,5970048,RELIANCE.NS,2349.000000,0.38
2023-04-25,2366.000000,2380.600098,2350.500000,2376.050049,2376.050049,4262471,RELIANCE.NS,2358.000000,0.77
2023-04-26,2379.000000,2386.100098,2354.050049,2362.100098,2362.100098,3977129,RELIANCE.NS,2376.050049,-0.59
2023-04-27,2375.000000,2384.000000,2364.000000,2377.050049,2377.050049,4230627,RELIANCE.NS,2362.100098,0.63
2023-04-28,2382.000000,2423.899902,2381.750000,2420.500000,2420.500000,7183342,RELIANCE.NS,2377.050049,1.83
2023-05-02,2436.199951,2445.800049,2428.100098,2441.050049,2441.050049,5991101,RELIANCE.NS,2420.500000,0.85
2023-05-03,2445.000000,2445.000000,2413.050049,2420.100098,2420.100098,3259053,RELIANCE.NS,2441.050049,-0.86

In [13]:
stock_id = '^NSEI'
nifty = pd.DataFrame(web.DataReader(tickers = stock_id, start = '2020-01-01', end = '2021-11-30'))
nifty['Stock'] = stock_id
nifty['Prev_Close'] = nifty['Close'].shift(1)
nifty['Change%'] = round((nifty['Close'] - nifty['Prev_Close'])*100/nifty['Prev_Close'],2)

nifty

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume,Stock,Prev_Close,Change%
Date,,,,,,,,,
2020-01-01,12202.150391,12222.200195,12165.299805,12182.500000,12182.500000,304100,^NSEI,NaN,NaN
2020-01-02,12198.549805,12289.900391,12195.250000,12282.200195,12282.200195,407700,^NSEI,12182.500000,0.82
2020-01-03,12261.099609,12265.599609,12191.349609,12226.650391,12226.650391,428800,^NSEI,12282.200195,-0.45
2020-01-06,12170.599609,12179.099609,11974.200195,11993.049805,11993.049805,396500,^NSEI,12226.650391,-1.91
2020-01-07,12079.099609,12152.150391,12005.349609,12052.950195,12052.950195,447800,^NSEI,11993.049805,0.50
...,...,...,...,...,...,...,...,...,...
2021-11-23,17281.750000,17553.699219,17216.099609,17503.349609,17503.349609,308800,^NSEI,17416.550781,0.50
2021-11-24,17550.050781,17600.599609,17354.000000,17415.050781,17415.050781,298100,^NSEI,17503.349609,-0.50
2021-11-25,17417.300781,17564.349609,17351.699219,17536.250000,17536.250000,255900,^NSEI,17415.050781,0.70
2021-11-26,17338.750000,17355.400391,16985.699219,17026.449219,17026.449219,356300,^NSEI,17536.250000,-2.91
2021-11-29,17055.800781,17160.699219,16782.400391,17053.949219,17053.949219,348900,^NSEI,17026.449219,0.16

In [14]:
nifty.sort_values(by = 'Change%', ascending=True).head(20)

,Open,High,Low,Close,Adj Close,Volume,Stock,Prev_Close,Change%
Date,,,,,,,,,
2020-03-23,7945.700195,8159.250000,7583.600098,7610.250000,7610.250000,653500,^NSEI,8745.450195,-12.98
2020-03-12,10039.950195,10040.750000,9508.000000,9590.150391,9590.150391,1343500,^NSEI,10458.400391,-8.30
2020-03-16,9587.799805,9602.200195,9165.099609,9197.400391,9197.400391,897700,^NSEI,9955.200195,-7.61
2020-05-04,9533.500000,9533.500000,9266.950195,9293.500000,9293.500000,687500,^NSEI,9859.900391,-5.74
2020-03-18,9088.450195,9127.549805,8407.049805,8468.799805,8468.799805,1516600,^NSEI,8967.049805,-5.56
2020-03-09,10742.049805,10751.549805,10294.450195,10451.450195,10451.450195,1565500,^NSEI,10989.450195,-4.90
2020-03-30,8385.950195,8576.000000,8244.000000,8281.099609,8281.099609,593300,^NSEI,8660.250000,-4.38
2020-04-01,8584.099609,8588.099609,8198.349609,8253.799805,8253.799805,506300,^NSEI,8597.750000,-4.00
2021-02-26,14888.599609,14919.450195,14467.750000,14529.150391,14529.150391,1103600,^NSEI,15097.349609,-3.76
2020-02-28,11382.000000,11384.799805,11175.049805,11201.750000,11201.750000,809900,^NSEI,11633.299805,-3.71
2021-04-12,14644.650391,14652.500000,14248.700195,14310.799805,14310.799805,650200,^NSEI,14834.849609,-3.53
2020-05-18,9158.299805,9158.299805,8806.750000,8823.250000,8823.250000,773000,^NSEI,9136.849609,-3.43
2020-12-21,13741.900391,13777.500000,13131.450195,13328.400391,13328.400391,687300,^NSEI,13760.549805,-3.14
2020-04-21,9016.950195,9044.400391,8909.400391,8981.450195,8981.450195,655100,^NSEI,9261.849609,-3.03
2020-09-24,11011.000000,11015.299805,10790.200195,10805.549805,10805.549805,706100,^NSEI,11131.849609,-2.93
2021-11-26,17338.750000,17355.400391,16985.699219,17026.449219,17026.449219,356300,^NSEI,17536.250000,-2.91
2020-05-14,9213.950195,9281.099609,9119.750000,9142.750000,9142.750000,602600,^NSEI,9383.549805,-2.57
2020-03-17,9285.400391,9403.799805,8915.599609,8967.049805,8967.049805,935600,^NSEI,9197.400391,-2.50
2020-03-06,10942.650391,11035.099609,10827.400391,10989.450195,10989.450195,1811000,^NSEI,11269.000000,-2.48
2020-10-15,12023.450195,12025.450195,11661.299805,11680.349609,11680.349609,608900,^NSEI,11971.049805,-2.43

In [15]:
nifty.sort_values(by = 'Change%', ascending=False).head(20)

,Open,High,Low,Close,Adj Close,Volume,Stock,Prev_Close,Change%
Date,,,,,,,,,
2020-04-07,8446.299805,8819.400391,8360.950195,8792.200195,8792.200195,814200,^NSEI,8083.799805,8.76
2020-03-25,7735.149902,8376.750000,7714.750000,8317.849609,8317.849609,736900,^NSEI,7801.049805,6.62
2020-03-20,8284.450195,8883.000000,8178.200195,8745.450195,8745.450195,1071500,^NSEI,8263.450195,5.83
2021-02-01,13758.599609,14336.349609,13661.750000,14281.200195,14281.200195,870500,^NSEI,13634.599609,4.74
2020-04-09,8973.049805,9128.349609,8904.549805,9111.900391,9111.900391,742100,^NSEI,8748.750000,4.15
2020-03-26,8451.000000,8749.049805,8304.900391,8641.450195,8641.450195,865600,^NSEI,8317.849609,3.89
2020-03-31,8529.349609,8678.299805,8358.000000,8597.750000,8597.750000,712700,^NSEI,8281.099609,3.82
2020-03-13,9107.599609,10159.400391,8555.150391,9955.200195,9955.200195,1388000,^NSEI,9590.150391,3.81
2020-04-30,9753.500000,9889.049805,9731.500000,9859.900391,9859.900391,931200,^NSEI,9553.349609,3.21
2020-05-27,9082.200195,9334.000000,9004.250000,9314.950195,9314.950195,763500,^NSEI,9029.049805,3.17
2020-04-17,9323.450195,9324.000000,9091.349609,9266.750000,9266.750000,684200,^NSEI,8992.799805,3.05
2021-02-02,14481.099609,14731.700195,14469.150391,14647.849609,14647.849609,915000,^NSEI,14281.200195,2.57
2020-06-01,9726.849609,9931.599609,9706.950195,9826.150391,9826.150391,794200,^NSEI,9580.299805,2.57
2020-03-24,7848.299805,8036.950195,7511.100098,7801.049805,7801.049805,738400,^NSEI,7610.250000,2.51
2021-03-30,14628.500000,14876.299805,14617.599609,14845.099609,14845.099609,594500,^NSEI,14507.299805,2.33
2020-02-04,11786.250000,11986.150391,11783.400391,11979.650391,11979.650391,560400,^NSEI,11707.900391,2.32
2020-04-22,9026.750000,9209.750000,8946.250000,9187.299805,9187.299805,734400,^NSEI,8981.450195,2.29
2020-09-25,10910.400391,11072.599609,10854.849609,11050.250000,11050.250000,559600,^NSEI,10805.549805,2.26
2021-03-03,15064.400391,15273.150391,14995.799805,15245.599609,15245.599609,544200,^NSEI,14919.099609,2.19
2020-06-18,9863.250000,10111.200195,9845.049805,10091.650391,10091.650391,622900,^NSEI,9881.150391,2.13

In [16]:
stock_id = '^NSEI'
nifty = pd.DataFrame(web.DataReader(tickers = stock_id, start = '2020-03-01', end = '2021-12-10'))
nifty['Stock'] = stock_id
nifty['Prev_Close'] = nifty['Close'].shift(1)
nifty['Change%'] = round((nifty['Close'] - nifty['Prev_Close'])*100/nifty['Prev_Close'],2)

nifty

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume,Stock,Prev_Close,Change%
Date,,,,,,,,,
2020-03-02,11387.349609,11433.000000,11036.250000,11132.750000,11132.750000,680800,^NSEI,NaN,NaN
2020-03-03,11217.549805,11342.250000,11152.549805,11303.299805,11303.299805,696500,^NSEI,11132.750000,1.53
2020-03-04,11351.349609,11356.599609,11082.150391,11251.000000,11251.000000,797700,^NSEI,11303.299805,-0.46
2020-03-05,11306.049805,11389.500000,11244.599609,11269.000000,11269.000000,1352500,^NSEI,11251.000000,0.16
2020-03-06,10942.650391,11035.099609,10827.400391,10989.450195,10989.450195,1811000,^NSEI,11269.000000,-2.48
...,...,...,...,...,...,...,...,...,...
2021-12-03,17424.900391,17489.800781,17180.800781,17196.699219,17196.699219,292500,^NSEI,17401.650391,-1.18
2021-12-06,17209.050781,17216.750000,16891.699219,16912.250000,16912.250000,231700,^NSEI,17196.699219,-1.65
2021-12-07,17044.099609,17251.650391,16987.750000,17176.699219,17176.699219,254100,^NSEI,16912.250000,1.56
2021-12-08,17315.250000,17484.599609,17308.949219,17469.750000,17469.750000,257800,^NSEI,17176.699219,1.71
2021-12-09,17524.400391,17543.250000,17379.599609,17516.849609,17516.849609,237200,^NSEI,17469.750000,0.27

In [17]:
cols = ['Adj Close', 'Change%']
nifty[nifty['Change%'] < -1][cols].tail(6)['Adj Close']

Date
2021-10-28    17857.250000
2021-10-29    17671.650391
2021-11-22    17416.550781
2021-11-26    17026.449219
2021-12-03    17196.699219
2021-12-06    16912.250000
Name: Adj Close, dtype: float64

In [18]:
stock_id = 'NIFTYBEES.NS'
nifty20 = pd.DataFrame(web.DataReader(tickers = stock_id, start = '2020-03-01', end = '2021-12-10'))
nifty20['Stock'] = stock_id
nifty20['Prev_Close'] = nifty['Close'].shift(1)
nifty20['Change%'] = round((nifty['Close'] - nifty['Prev_Close'])*100/nifty['Prev_Close'],2)

nifty20

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume,Stock,Prev_Close,Change%
Date,,,,,,,,,
2020-03-02,122.050003,122.050003,117.209999,118.389999,118.389999,2355594,NIFTYBEES.NS,NaN,NaN
2020-03-03,119.440002,121.010002,118.550003,120.400002,120.400002,1810345,NIFTYBEES.NS,11132.750000,1.53
2020-03-04,121.400002,121.400002,117.910004,119.519997,119.519997,2300345,NIFTYBEES.NS,11303.299805,-0.46
2020-03-05,142.949997,142.949997,118.599998,119.750000,119.750000,513870,NIFTYBEES.NS,11251.000000,0.16
2020-03-06,118.489998,118.489998,115.599998,117.180000,117.180000,3370046,NIFTYBEES.NS,11269.000000,-2.48
...,...,...,...,...,...,...,...,...,...
2021-12-03,192.500000,192.500000,185.750000,186.000000,186.000000,1581371,NIFTYBEES.NS,17401.650391,-1.18
2021-12-06,192.399994,192.399994,182.800003,183.009995,183.009995,2784801,NIFTYBEES.NS,17196.699219,-1.65
2021-12-07,190.000000,190.000000,180.100006,185.710007,185.710007,1224647,NIFTYBEES.NS,16912.250000,1.56
2021-12-08,191.000000,191.000000,185.710007,188.479996,188.479996,1425972,NIFTYBEES.NS,17176.699219,1.71
2021-12-09,192.500000,192.500000,187.160004,189.139999,189.139999,1108273,NIFTYBEES.NS,17469.750000,0.27

In [19]:
cols = ['Adj Close', 'Change%']
nifty20[nifty20['Change%'] < -1][cols].tail(6)['Adj Close']

Date
2021-10-28    193.679993
2021-10-29    191.160004
2021-11-22    188.529999
2021-11-26    184.509995
2021-12-03    186.000000
2021-12-06    183.009995
Name: Adj Close, dtype: float64