<a href="https://colab.research.google.com/github/ankit-rathi/Data-Science-with-Python/blob/master/Stock_Analysis/Nifty100_Performance_Over_Time.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install yfinance

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: yfinance in /usr/local/lib/python3.8/dist-packages (0.1.89)
Requirement already satisfied: appdirs>=1.4.4 in /usr/local/lib/python3.8/dist-packages (from yfinance) (1.4.4)
Requirement already satisfied: numpy>=1.16.5 in /usr/local/lib/python3.8/dist-packages (from yfinance) (1.21.6)
Requirement already satisfied: pandas>=1.3.0 in /usr/local/lib/python3.8/dist-packages (from yfinance) (1.3.5)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.8/dist-packages (from yfinance) (0.0.11)
Requirement already satisfied: requests>=2.26 in /usr/local/lib/python3.8/dist-packages (from yfinance) (2.28.1)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=1.3.0->yfinance) (2022.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.7.3->pandas>=1.3.0->yfinance) (1.15.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (2022.9.24)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (1.24.3)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (2.10)
Requirement already satisfied: charset-normalizer<3,>=2 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (2.1.1)

In [2]:
import pandas as pd
import numpy as np

mypf = pd.read_csv('https://raw.githubusercontent.com/ankit-rathi/Data-Science-with-Python/master/Stock_Analysis/data/Nifty100Scrips.csv')

mypf = mypf[mypf['InScope'] == 1]

stock_n100 = mypf['Symbol'].unique()

exclude = ['CADILAHC','MMTC']

stock_n100 = mypf[~mypf['Symbol'].isin(exclude) ]['Symbol']

#stock_ids

stock_ids = stock_n100

In [3]:
import pandas as pd
import datetime
import warnings
warnings.filterwarnings('ignore')
import pandas_datareader.data as web
import yfinance as yfin
yfin.pdr_override()

start_date = (datetime.date.today() + datetime.timedelta(days=-5)).strftime('%Y-%m-%d')
end_date = (datetime.date.today() + datetime.timedelta(days=1)).strftime('%Y-%m-%d')

df_perform = pd.DataFrame()

for stock_id in stock_ids:
    stock_id = stock_id.upper() + '.NS'
    tmp = pd.DataFrame(web.DataReader(tickers = stock_id, data_source='yahoo', start = start_date, end = end_date))
    tmp['Stock'] = stock_id
    tmp['Prev_Close'] = tmp['Close'].shift(1)
    tmp['Change%'] = round((tmp['Close'] - tmp['Prev_Close'])*100/tmp['Prev_Close'],2)
    tmp = tmp.tail(1)
    df_perform = df_perform.append(tmp)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

1 Failed download:
- MINDTREE.NS: No data found for this date range, symbol may be delisted
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [4]:
# losers
df_perform.sort_values(by = 'Change%')

,Open,High,Low,Close,Adj Close,Volume,Stock,Prev_Close,Change%
Date,,,,,,,,,
2022-12-13,897.200012,900.849976,877.049988,877.500000,877.500000,314274.0,GODREJCP.NS,895.349976,-1.99
2022-12-12,4380.000000,4390.000000,4281.000000,4330.950195,4330.950195,671381.0,LTI.NS,4401.750000,-1.61
2022-12-13,1178.000000,1179.550049,1147.000000,1149.900024,1149.900024,533885.0,HAVELLS.NS,1167.000000,-1.47
2022-12-13,603.200012,604.849976,593.250000,594.700012,594.700012,570775.0,DABUR.NS,602.450012,-1.29
2022-12-13,623.000000,623.450012,610.000000,614.500000,614.500000,426657.0,BERGEPAINT.NS,622.400024,-1.27
...,...,...,...,...,...,...,...,...,...
2022-12-13,1268.000000,1285.949951,1267.000000,1280.800049,1280.800049,1088131.0,M&M.NS,1264.000000,1.33
2022-12-13,1212.800049,1229.650024,1209.500000,1225.599976,1225.599976,2041697.0,INDUSINDBK.NS,1206.750000,1.56
2022-12-13,134.600006,137.399994,134.100006,136.300003,136.300003,4683950.0,FEDERALBNK.NS,134.000000,1.72
2022-12-13,6507.000000,6648.000000,6507.000000,6625.250000,6625.250000,590765.0,BAJFINANCE.NS,6506.500000,1.83
2022-12-13,4064.000000,4210.000000,4059.000000,4145.049805,4145.049805,471569.0,NAUKRI.NS,4049.949951,2.35

In [5]:
# gainers
df_perform.sort_values(by = 'Change%', ascending=False)

,Open,High,Low,Close,Adj Close,Volume,Stock,Prev_Close,Change%
Date,,,,,,,,,
2022-12-13,4064.000000,4210.000000,4059.000000,4145.049805,4145.049805,471569.0,NAUKRI.NS,4049.949951,2.35
2022-12-13,6507.000000,6648.000000,6507.000000,6625.250000,6625.250000,590765.0,BAJFINANCE.NS,6506.500000,1.83
2022-12-13,134.600006,137.399994,134.100006,136.300003,136.300003,4683950.0,FEDERALBNK.NS,134.000000,1.72
2022-12-13,1212.800049,1229.650024,1209.500000,1225.599976,1225.599976,2041697.0,INDUSINDBK.NS,1206.750000,1.56
2022-12-13,1268.000000,1285.949951,1267.000000,1280.800049,1280.800049,1088131.0,M&M.NS,1264.000000,1.33
...,...,...,...,...,...,...,...,...,...
2022-12-13,623.000000,623.450012,610.000000,614.500000,614.500000,426657.0,BERGEPAINT.NS,622.400024,-1.27
2022-12-13,603.200012,604.849976,593.250000,594.700012,594.700012,570775.0,DABUR.NS,602.450012,-1.29
2022-12-13,1178.000000,1179.550049,1147.000000,1149.900024,1149.900024,533885.0,HAVELLS.NS,1167.000000,-1.47
2022-12-12,4380.000000,4390.000000,4281.000000,4330.950195,4330.950195,671381.0,LTI.NS,4401.750000,-1.61
2022-12-13,897.200012,900.849976,877.049988,877.500000,877.500000,314274.0,GODREJCP.NS,895.349976,-1.99

In [6]:
d = 365*5
start_date = (datetime.date.today() + datetime.timedelta(days=-d)).strftime('%Y-%m-%d')
end_date = (datetime.date.today() + datetime.timedelta(days=0)).strftime('%Y-%m-%d')

df_perform = pd.DataFrame()

for stock_id in stock_ids:
    stock_id = stock_id.upper() + '.NS'


    df_stock = pd.DataFrame(web.DataReader(tickers = stock_id, data_source='yahoo', start = start_date, end = end_date))

    CMP = df_stock['Close'].values[-1]
    D1 = round((df_stock['Close'].values[-1] - df_stock['Close'].shift(1).values[-1])*100/df_stock['Close'].shift(1).values[-1],2)
    W1 = round((df_stock['Close'].values[-1] - df_stock['Close'].shift(5).values[-1])*100/df_stock['Close'].shift(5).values[-1],2)
    M1 = round((df_stock['Close'].values[-1] - df_stock['Close'].shift(20).values[-1])*100/df_stock['Close'].shift(20).values[-1],2)
    M3 = round((df_stock['Close'].values[-1] - df_stock['Close'].shift(60).values[-1])*100/df_stock['Close'].shift(60).values[-1],2)
    M6 = round((df_stock['Close'].values[-1] - df_stock['Close'].shift(120).values[-1])*100/df_stock['Close'].shift(120).values[-1],2)
    Y1 = round((df_stock['Close'].values[-1] - df_stock['Close'].shift(240).values[-1])*100/df_stock['Close'].shift(240).values[-1],2)
    Y2 = round(((df_stock['Close'].values[-1]/df_stock['Close'].shift(240*2).values[-1])**.5 - 1)*100,2)
    Y3 = round(((df_stock['Close'].values[-1]/df_stock['Close'].shift(240*3).values[-1])**.33 - 1)*100,2)
    Y5 = round(((df_stock['Close'].values[-1]/df_stock['Close'].shift(240*5).values[-1])**.2 - 1)*100,2)
    
    
    tmp = {'Stock':[stock_id],
           'CMP': CMP,
           '1D%' : [D1],
           '1W%' : [W1],
           '1M%' : [M1],
           '3M%' : [M3],
           '6M%' : [M6],
           '1Y%' : [Y1],
           '2Y%' : [Y2],
           '3Y%' : [Y3],
           '5Y%' : [Y5]
           }

    tmp = pd.DataFrame(tmp)
    
    df_perform = df_perform.append(tmp)

df_perform

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

,Stock,CMP,1D%,1W%,1M%,3M%,6M%,1Y%,2Y%,3Y%,5Y%
0,ASIANPAINT.NS,3166.350098,-1.88,0.30,3.71,-7.93,22.72,-3.11,7.23,19.83,22.92
0,AXISBANK.NS,938.650024,0.53,4.39,10.30,16.89,47.77,38.28,22.58,8.17,9.60
0,BAJFINANCE.NS,6506.500000,-0.17,-2.31,-7.39,-13.05,20.06,-5.94,11.69,15.25,31.14
0,BERGEPAINT.NS,622.400024,1.18,0.03,3.49,-5.39,10.99,-17.07,-10.59,3.35,19.98
0,BHARTIARTL.NS,828.400024,-0.78,-1.86,0.79,5.75,28.70,22.05,26.57,18.13,15.45
...,...,...,...,...,...,...,...,...,...,...,...
0,TIPSINDLTD.NS,1833.449951,0.09,-0.47,2.68,9.52,39.15,12.64,104.18,156.41,77.45
0,TITAN.NS,2584.649902,-1.18,-1.19,-1.72,-4.29,33.47,10.93,29.09,29.21,24.34
0,ULTRACEMCO.NS,7146.850098,0.98,-0.72,4.27,3.94,38.04,-2.64,15.83,16.61,10.28
0,WIPRO.NS,396.350006,0.58,-3.88,-0.05,-4.79,-2.18,-42.93,-0.01,16.26,11.64
0,ZEEL.NS,262.549988,0.71,-2.11,1.14,-5.74,22.23,-22.36,9.48,-2.30,-15.06

In [7]:
df_perform.sort_values(by = '3M%', ascending = False).head(20)

,Stock,CMP,1D%,1W%,1M%,3M%,6M%,1Y%,2Y%,3Y%,5Y%
0,CANBK.NS,320.500000,0.93,-0.62,5.36,25.54,77.22,59.85,54.65,12.95,-1.25
0,BRITANNIA.NS,4432.549805,0.50,0.66,8.01,18.30,33.03,24.70,11.70,12.23,13.61
0,AXISBANK.NS,938.650024,0.53,4.39,10.30,16.89,47.77,38.28,22.58,8.17,9.60
0,SUZLON.NS,10.250000,10.22,2.50,24.24,12.02,33.12,32.26,21.01,59.30,-6.83
0,SUNPHARMA.NS,987.400024,-0.55,-5.00,-2.90,11.73,24.45,24.60,27.82,29.17,11.23
0,FEDERALBNK.NS,134.000000,0.11,-2.40,-1.51,10.97,53.49,63.12,37.82,13.38,5.93
0,LT.NS,2163.699951,0.45,3.74,8.20,10.74,45.22,15.19,28.29,18.18,8.84
0,HCLTECH.NS,1028.400024,0.09,-9.06,-6.42,10.34,7.26,-16.22,2.42,19.54,15.83
0,TIPSINDLTD.NS,1833.449951,0.09,-0.47,2.68,9.52,39.15,12.64,104.18,156.41,77.45
0,HDFC.NS,2685.750000,0.51,0.37,0.91,9.47,30.84,4.46,2.06,3.02,6.54
0,MCDOWELL-N.NS,932.549988,-0.58,0.32,5.80,9.35,27.35,3.14,26.33,16.84,7.25
0,INDIGO.NS,2053.949951,3.11,7.03,15.67,7.82,25.86,4.28,8.49,11.60,11.07
0,HDFCBANK.NS,1643.750000,0.78,1.91,1.78,7.53,27.45,13.83,7.74,8.66,10.39
0,SBIN.NS,613.049988,-0.56,-0.69,3.46,7.22,39.01,32.75,47.69,24.19,14.37
0,DABUR.NS,602.450012,0.62,2.61,8.90,6.25,24.32,5.80,5.30,7.08,11.12
0,BHARTIARTL.NS,828.400024,-0.78,-1.86,0.79,5.75,28.70,22.05,26.57,18.13,15.45
0,HINDUNILVR.NS,2717.250000,-0.18,3.72,10.56,5.67,28.75,18.11,5.82,9.56,14.69
0,DRREDDY.NS,4452.250000,1.02,-0.61,2.03,5.65,7.37,-5.17,-8.11,13.49,14.88
0,TCS.NS,3286.449951,-0.19,-4.07,-1.47,5.32,6.40,-10.27,3.98,13.84,16.13
0,MUTHOOTFIN.NS,1095.300049,-0.73,-4.10,0.74,5.16,9.55,-26.70,-6.17,11.86,21.41

In [8]:
df_perform.sort_values(by = '3M%', ascending = True).head(20)

,Stock,CMP,1D%,1W%,1M%,3M%,6M%,1Y%,2Y%,3Y%,5Y%
0,ICICIPRULI.NS,450.899994,-1.30,-5.13,-7.15,-22.05,-11.12,-19.86,-5.41,-2.14,2.08
0,JUBLFOOD.NS,528.000000,-1.43,-4.67,-6.07,-16.89,7.63,-25.31,-1.97,14.55,20.91
0,MOTILALOFS.NS,665.099976,0.20,-0.53,-3.57,-16.80,-14.83,-27.58,3.72,-8.76,-12.35
0,HAVELLS.NS,1167.000000,-1.27,-5.46,-5.86,-14.74,9.10,-14.99,12.70,22.01,17.44
0,BAJFINANCE.NS,6506.500000,-0.17,-2.31,-7.39,-13.05,20.06,-5.94,11.69,15.25,31.14
0,TATAPOWER.NS,217.699997,-0.77,-2.90,-4.39,-9.86,3.52,-0.16,65.74,51.72,19.59
0,DMART.NS,4057.350098,1.37,0.72,-1.00,-9.40,17.25,-12.71,18.31,26.49,28.03
0,DIVISLAB.NS,3338.800049,1.98,-0.89,1.93,-8.99,-4.11,-25.45,-7.02,20.38,26.29
0,TATAMOTORS.NS,414.149994,0.21,-3.41,-4.51,-8.01,6.48,-12.32,47.14,27.72,0.72
0,ASIANPAINT.NS,3166.350098,-1.88,0.30,3.71,-7.93,22.72,-3.11,7.23,19.83,22.92
0,TECHM.NS,1032.099976,-0.31,-6.15,-3.12,-7.41,6.95,-38.70,1.49,9.75,10.99
0,PIDILITIND.NS,2688.149902,-1.88,-1.67,1.27,-6.31,34.44,11.02,22.72,22.65,24.57
0,EICHERMOT.NS,3320.449951,-1.12,-0.72,-5.58,-6.25,27.47,33.88,11.82,15.79,4.28
0,LTI.NS,4330.950195,-1.61,-12.95,-16.00,-6.22,8.18,-38.42,6.13,31.19,27.75
0,NATIONALUM.NS,77.650002,0.98,-3.18,-0.38,-6.05,2.58,-25.19,28.47,18.48,0.62
0,ZEEL.NS,262.549988,0.71,-2.11,1.14,-5.74,22.23,-22.36,9.48,-2.30,-15.06
0,BERGEPAINT.NS,622.400024,1.18,0.03,3.49,-5.39,10.99,-17.07,-10.59,3.35,19.98
0,WIPRO.NS,396.350006,0.58,-3.88,-0.05,-4.79,-2.18,-42.93,-0.01,16.26,11.64
0,KOTAKBANK.NS,1865.750000,-1.18,-3.75,-2.97,-4.55,11.48,5.08,-2.57,3.16,10.97
0,NAUKRI.NS,4049.949951,0.87,-0.16,-7.13,-4.37,12.55,-24.81,-8.46,15.74,24.54

In [9]:
import pandas as pd
import datetime
import warnings
warnings.filterwarnings('ignore')
import pandas_datareader.data as web
import yfinance as yfin
yfin.pdr_override()

start_date = (datetime.date.today() + datetime.timedelta(days=-60)).strftime('%Y-%m-%d')
end_date = (datetime.date.today() + datetime.timedelta(days=0)).strftime('%Y-%m-%d')

df_perform = pd.DataFrame()

for stock_id in stock_ids:
    stock_id = stock_id.upper() + '.NS'
    tmp = pd.DataFrame(web.DataReader(tickers = stock_id, data_source='yahoo', start = start_date, end = end_date))
    tmp['Stock'] = stock_id
    tmp['Prev_Close'] = tmp['Close'].shift(1)
    tmp['Change%'] = round((tmp['Close'] - tmp['Prev_Close'])*100/tmp['Prev_Close'],2)
    df_perform = df_perform.append(tmp)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [10]:
# losers
df_perform.sort_values(by = 'Change%').head(20)

,Open,High,Low,Close,Adj Close,Volume,Stock,Prev_Close,Change%
Date,,,,,,,,,
2022-11-10,2095.000000,2149.899902,2074.000000,2079.350098,2079.350098,2828479,DEEPAKNTR.NS,2299.000000,-9.55
2022-11-07,3749.000000,3771.699951,3405.000000,3414.550049,3414.550049,2860839,DIVISLAB.NS,3746.300049,-8.86
2022-11-09,610.000000,610.000000,564.049988,566.450012,566.450012,13734814,JUBLFOOD.NS,612.700012,-7.55
2022-12-09,87.900002,88.699997,83.099998,83.750000,83.750000,18291890,IBREALEST.NS,90.250000,-7.20
2022-12-09,1075.000000,1075.000000,1020.700012,1027.500000,1027.500000,12415478,HCLTECH.NS,1101.349976,-6.71
2022-11-17,4140.000000,4140.049805,3901.000000,3907.550049,3897.550049,1076159,NAUKRI.NS,4147.799805,-5.79
2022-10-21,615.000000,616.400024,583.349976,585.349976,585.349976,2762223,BERGEPAINT.NS,618.849976,-5.41
2022-12-09,9.850000,9.900000,9.250000,9.300000,9.300000,137661963,SUZLON.NS,9.800000,-5.10
2022-11-11,3730.000000,3739.000000,3501.000000,3519.649902,3519.649902,2463500,EICHERMOT.NS,3700.850098,-4.90
2022-11-10,420.500000,420.549988,409.200012,412.200012,412.200012,26251660,TATAMOTORS.NS,433.149994,-4.84
2022-10-20,1214.000000,1214.000000,1150.099976,1159.949951,1159.949951,11242103,INDUSINDBK.NS,1218.400024,-4.80
2022-11-15,4349.700195,4349.700195,4145.000000,4154.700195,4144.067871,886015,NAUKRI.NS,4360.850098,-4.73
2022-10-25,8.800000,8.800000,8.350000,8.400000,8.400000,56177096,SUZLON.NS,8.800000,-4.55
2022-10-28,82.800003,82.800003,78.349998,78.949997,78.949997,29330156,SAIL.NS,82.550003,-4.36
2022-11-09,615.200012,617.450012,578.000000,588.700012,588.700012,2228310,BERGEPAINT.NS,614.450012,-4.19
2022-11-16,86.099998,86.500000,82.300003,82.599998,82.599998,25739336,SAIL.NS,86.199997,-4.18
2022-11-22,83.199997,83.699997,80.250000,80.800003,80.800003,10039549,IBREALEST.NS,84.250000,-4.09
2022-11-14,4400.000000,4483.850098,4315.000000,4363.649902,4363.649902,744485,DRREDDY.NS,4539.450195,-3.87
2022-10-21,3990.000000,3997.000000,3808.850098,3822.149902,3812.368652,407110,NAUKRI.NS,3974.850098,-3.84
2022-10-20,9.300000,9.600000,8.100000,8.900000,8.900000,597335268,SUZLON.NS,9.250000,-3.78

In [11]:
# gainers
df_perform.sort_values(by = 'Change%', ascending=False).head(20)

,Open,High,Low,Close,Adj Close,Volume,Stock,Prev_Close,Change%
Date,,,,,,,,,
2022-10-19,7.850000,9.300000,7.800000,9.250000,9.250000,612128665,SUZLON.NS,7.750000,19.35
2022-10-17,6.800000,7.600000,6.750000,7.450000,7.450000,249793767,SUZLON.NS,6.700000,11.19
2022-12-12,9.300000,10.350000,9.250000,10.250000,10.250000,278382339,SUZLON.NS,9.300000,10.22
2022-10-21,860.099976,906.000000,855.849976,900.400024,900.400024,58057724,AXISBANK.NS,825.849976,9.03
2022-11-07,3930.050049,4190.000000,3930.050049,4139.250000,4139.250000,3142443,BRITANNIA.NS,3804.199951,8.81
2022-11-11,3909.949951,4127.950195,3900.100098,4100.200195,4089.707275,1187322,NAUKRI.NS,3815.149902,7.47
2022-11-25,7.900000,8.600000,7.850000,8.450000,8.450000,228974026,SUZLON.NS,7.900000,6.96
2022-11-18,81.500000,87.750000,78.750000,86.800003,86.800003,19456697,IBREALEST.NS,81.300003,6.77
2022-11-14,4125.000000,4400.000000,4118.000000,4360.850098,4349.689941,2104229,NAUKRI.NS,4100.200195,6.36
2022-11-01,3626.000000,3850.149902,3615.050049,3836.449951,3836.449951,1860907,DIVISLAB.NS,3608.899902,6.31
2022-11-29,559.849976,598.299988,558.099976,593.099976,593.099976,11072058,DABUR.NS,558.599976,6.18
2022-11-14,81.000000,83.750000,79.300003,82.800003,82.800003,17109596,IBREALEST.NS,78.099998,6.02
2022-10-24,1699.000000,1850.000000,1660.050049,1692.449951,1692.449951,47096,TIPSINDLTD.NS,1597.949951,5.91
2022-11-11,2526.000000,2688.000000,2523.050049,2651.699951,2651.699951,9663942,HDFC.NS,2504.100098,5.89
2022-12-05,9.550000,10.400000,9.500000,10.000000,10.000000,439811540,SUZLON.NS,9.450000,5.82
2022-11-30,8.800000,9.350000,8.750000,9.250000,9.250000,226695872,SUZLON.NS,8.750000,5.71
2022-11-11,1545.000000,1637.000000,1538.000000,1611.150024,1611.150024,28361169,HDFCBANK.NS,1524.750000,5.67
2022-10-18,240.000000,251.100006,239.500000,250.250000,250.250000,20511341,CANBK.NS,237.399994,5.41
2022-11-11,3550.000000,3678.000000,3535.250000,3664.399902,3664.399902,1279876,MINDTREE.NS,3479.800049,5.30
2022-10-25,271.500000,288.000000,266.799988,284.200012,284.200012,35875913,CANBK.NS,270.500000,5.06

In [12]:
df_perform[df_perform['Stock'] == 'RELIANCE.NS']

,Open,High,Low,Close,Adj Close,Volume,Stock,Prev_Close,Change%
Date,,,,,,,,,
2022-10-14,2415.000000,2416.350098,2369.100098,2370.699951,2370.699951,4202459,RELIANCE.NS,NaN,NaN
2022-10-17,2355.000000,2414.000000,2343.600098,2408.750000,2408.750000,7720595,RELIANCE.NS,2370.699951,1.61
2022-10-18,2422.000000,2463.000000,2420.149902,2451.250000,2451.250000,5729899,RELIANCE.NS,2408.750000,1.76
2022-10-19,2454.500000,2527.850098,2441.699951,2493.899902,2493.899902,8882553,RELIANCE.NS,2451.250000,1.74
2022-10-20,2485.000000,2519.000000,2485.000000,2500.600098,2500.600098,4022919,RELIANCE.NS,2493.899902,0.27
2022-10-21,2507.699951,2516.800049,2467.000000,2471.600098,2471.600098,3804352,RELIANCE.NS,2500.600098,-1.16
2022-10-24,2460.000000,2502.500000,2455.300049,2479.850098,2479.850098,1555270,RELIANCE.NS,2471.600098,0.33
2022-10-25,2499.000000,2499.000000,2438.000000,2441.550049,2441.550049,5645639,RELIANCE.NS,2479.850098,-1.54
2022-10-27,2458.000000,2468.449951,2432.800049,2451.149902,2451.149902,5774775,RELIANCE.NS,2441.550049,0.39
2022-10-28,2465.000000,2535.000000,2459.449951,2526.149902,2526.149902,8126824,RELIANCE.NS,2451.149902,3.06
2022-10-31,2541.000000,2560.949951,2532.199951,2549.600098,2549.600098,5731802,RELIANCE.NS,2526.149902,0.93
2022-11-01,2600.000000,2600.000000,2508.000000,2529.850098,2529.850098,6443999,RELIANCE.NS,2549.600098,-0.77
2022-11-02,2532.300049,2550.199951,2515.000000,2545.649902,2545.649902,4145144,RELIANCE.NS,2529.850098,0.62
2022-11-03,2529.850098,2559.550049,2525.050049,2555.149902,2555.149902,3089026,RELIANCE.NS,2545.649902,0.37
2022-11-04,2553.899902,2600.000000,2551.100098,2592.750000,2592.750000,5803737,RELIANCE.NS,2555.149902,1.47
2022-11-07,2591.000000,2610.300049,2574.000000,2606.600098,2606.600098,5440967,RELIANCE.NS,2592.750000,0.53
2022-11-09,2610.300049,2621.949951,2590.050049,2604.000000,2604.000000,5193814,RELIANCE.NS,2606.600098,-0.10
2022-11-10,2590.000000,2596.550049,2563.000000,2572.500000,2572.500000,2753420,RELIANCE.NS,2604.000000,-1.21
2022-11-11,2600.000000,2636.000000,2588.000000,2631.800049,2631.800049,5681124,RELIANCE.NS,2572.500000,2.31
2022-11-14,2630.750000,2642.000000,2605.149902,2619.050049,2619.050049,4173395,RELIANCE.NS,2631.800049,-0.48
2022-11-15,2622.300049,2626.399902,2590.000000,2607.300049,2607.300049,3270388,RELIANCE.NS,2619.050049,-0.45
2022-11-16,2610.000000,2615.949951,2581.350098,2592.350098,2592.350098,4484007,RELIANCE.NS,2607.300049,-0.57
2022-11-17,2584.949951,2613.000000,2580.000000,2599.050049,2599.050049,3074259,RELIANCE.NS,2592.350098,0.26
2022-11-18,2606.750000,2609.000000,2571.100098,2597.649902,2597.649902,2447425,RELIANCE.NS,2599.050049,-0.05
2022-11-21,2588.000000,2588.000000,2543.100098,2550.899902,2550.899902,2949108,RELIANCE.NS,2597.649902,-1.80
2022-11-22,2545.000000,2568.500000,2536.500000,2565.050049,2565.050049,3051201,RELIANCE.NS,2550.899902,0.55
2022-11-23,2575.000000,2577.899902,2552.250000,2557.050049,2557.050049,2959787,RELIANCE.NS,2565.050049,-0.31
2022-11-24,2566.000000,2594.000000,2548.199951,2579.100098,2579.100098,4333225,RELIANCE.NS,2557.050049,0.86
2022-11-25,2589.000000,2624.899902,2582.100098,2617.600098,2617.600098,3391988,RELIANCE.NS,2579.100098,1.49
2022-11-28,2608.899902,2721.050049,2502.000000,2707.550049,2707.550049,14549929,RELIANCE.NS,2617.600098,3.44
2022-11-29,2703.949951,2731.649902,2694.000000,2712.199951,2712.199951,5103687,RELIANCE.NS,2707.550049,0.17
2022-11-30,2712.500000,2745.449951,2698.199951,2731.350098,2731.350098,12075137,RELIANCE.NS,2712.199951,0.71
2022-12-01,2741.800049,2755.000000,2716.000000,2723.300049,2723.300049,4377696,RELIANCE.NS,2731.350098,-0.29
2022-12-02,2730.000000,2748.000000,2700.600098,2722.149902,2722.149902,5348595,RELIANCE.NS,2723.300049,-0.04
2022-12-05,2712.000000,2716.750000,2678.000000,2682.449951,2682.449951,6843367,RELIANCE.NS,2722.149902,-1.46
2022-12-06,2665.100098,2697.000000,2661.000000,2690.199951,2690.199951,3966243,RELIANCE.NS,2682.449951,0.29
2022-12-07,2685.000000,2695.000000,2642.149902,2650.500000,2650.500000,3905263,RELIANCE.NS,2690.199951,-1.48
2022-12-08,2660.000000,2665.000000,2640.100098,2649.250000,2649.250000,3579858,RELIANCE.NS,2650.500000,-0.05
2022-12-09,2646.000000,2660.000000,2601.850098,2609.100098,2609.100098,5840633,RELIANCE.NS,2649.250000,-1.52
2022-12-12,2585.500000,2623.000000,2585.000000,2613.100098,2613.100098,4374946,RELIANCE.NS,2609.100098,0.15

In [13]:
stock_id = '^NSEI'
nifty = pd.DataFrame(web.DataReader(tickers = stock_id, data_source='yahoo', start = '2020-01-01', end = '2021-11-30'))
nifty['Stock'] = stock_id
nifty['Prev_Close'] = nifty['Close'].shift(1)
nifty['Change%'] = round((nifty['Close'] - nifty['Prev_Close'])*100/nifty['Prev_Close'],2)

nifty

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume,Stock,Prev_Close,Change%
Date,,,,,,,,,
2020-01-01,12202.150391,12222.200195,12165.299805,12182.500000,12182.500000,304100,^NSEI,NaN,NaN
2020-01-02,12198.549805,12289.900391,12195.250000,12282.200195,12282.200195,407700,^NSEI,12182.500000,0.82
2020-01-03,12261.099609,12265.599609,12191.349609,12226.650391,12226.650391,428800,^NSEI,12282.200195,-0.45
2020-01-06,12170.599609,12179.099609,11974.200195,11993.049805,11993.049805,396500,^NSEI,12226.650391,-1.91
2020-01-07,12079.099609,12152.150391,12005.349609,12052.950195,12052.950195,447800,^NSEI,11993.049805,0.50
...,...,...,...,...,...,...,...,...,...
2021-11-23,17281.750000,17553.699219,17216.099609,17503.349609,17503.349609,308800,^NSEI,17416.550781,0.50
2021-11-24,17550.050781,17600.599609,17354.000000,17415.050781,17415.050781,298100,^NSEI,17503.349609,-0.50
2021-11-25,17417.300781,17564.349609,17351.699219,17536.250000,17536.250000,255900,^NSEI,17415.050781,0.70
2021-11-26,17338.750000,17355.400391,16985.699219,17026.449219,17026.449219,356300,^NSEI,17536.250000,-2.91
2021-11-29,17055.800781,17160.699219,16782.400391,17053.949219,17053.949219,348900,^NSEI,17026.449219,0.16

In [14]:
nifty.sort_values(by = 'Change%', ascending=True).head(20)

,Open,High,Low,Close,Adj Close,Volume,Stock,Prev_Close,Change%
Date,,,,,,,,,
2020-03-23,7945.700195,8159.250000,7583.600098,7610.250000,7610.250000,653500,^NSEI,8745.450195,-12.98
2020-03-12,10039.950195,10040.750000,9508.000000,9590.150391,9590.150391,1343500,^NSEI,10458.400391,-8.30
2020-03-16,9587.799805,9602.200195,9165.099609,9197.400391,9197.400391,897700,^NSEI,9955.200195,-7.61
2020-05-04,9533.500000,9533.500000,9266.950195,9293.500000,9293.500000,687500,^NSEI,9859.900391,-5.74
2020-03-18,9088.450195,9127.549805,8407.049805,8468.799805,8468.799805,1516600,^NSEI,8967.049805,-5.56
2020-03-09,10742.049805,10751.549805,10294.450195,10451.450195,10451.450195,1565500,^NSEI,10989.450195,-4.90
2020-03-30,8385.950195,8576.000000,8244.000000,8281.099609,8281.099609,593300,^NSEI,8660.250000,-4.38
2020-04-01,8584.099609,8588.099609,8198.349609,8253.799805,8253.799805,506300,^NSEI,8597.750000,-4.00
2021-02-26,14888.599609,14919.450195,14467.750000,14529.150391,14529.150391,1103600,^NSEI,15097.349609,-3.76
2020-02-28,11382.000000,11384.799805,11175.049805,11201.750000,11201.750000,809900,^NSEI,11633.299805,-3.71
2021-04-12,14644.650391,14652.500000,14248.700195,14310.799805,14310.799805,650200,^NSEI,14834.849609,-3.53
2020-05-18,9158.299805,9158.299805,8806.750000,8823.250000,8823.250000,773000,^NSEI,9136.849609,-3.43
2020-12-21,13741.900391,13777.500000,13131.450195,13328.400391,13328.400391,687300,^NSEI,13760.549805,-3.14
2020-04-21,9016.950195,9044.400391,8909.400391,8981.450195,8981.450195,655100,^NSEI,9261.849609,-3.03
2020-09-24,11011.000000,11015.299805,10790.200195,10805.549805,10805.549805,706100,^NSEI,11131.849609,-2.93
2021-11-26,17338.750000,17355.400391,16985.699219,17026.449219,17026.449219,356300,^NSEI,17536.250000,-2.91
2020-05-14,9213.950195,9281.099609,9119.750000,9142.750000,9142.750000,602600,^NSEI,9383.549805,-2.57
2020-03-17,9285.400391,9403.799805,8915.599609,8967.049805,8967.049805,935600,^NSEI,9197.400391,-2.50
2020-03-06,10942.650391,11035.099609,10827.400391,10989.450195,10989.450195,1811000,^NSEI,11269.000000,-2.48
2020-10-15,12023.450195,12025.450195,11661.299805,11680.349609,11680.349609,608900,^NSEI,11971.049805,-2.43

In [15]:
nifty.sort_values(by = 'Change%', ascending=False).head(20)

,Open,High,Low,Close,Adj Close,Volume,Stock,Prev_Close,Change%
Date,,,,,,,,,
2020-04-07,8446.299805,8819.400391,8360.950195,8792.200195,8792.200195,814200,^NSEI,8083.799805,8.76
2020-03-25,7735.149902,8376.750000,7714.750000,8317.849609,8317.849609,736900,^NSEI,7801.049805,6.62
2020-03-20,8284.450195,8883.000000,8178.200195,8745.450195,8745.450195,1071500,^NSEI,8263.450195,5.83
2021-02-01,13758.599609,14336.349609,13661.750000,14281.200195,14281.200195,870500,^NSEI,13634.599609,4.74
2020-04-09,8973.049805,9128.349609,8904.549805,9111.900391,9111.900391,742100,^NSEI,8748.750000,4.15
2020-03-26,8451.000000,8749.049805,8304.900391,8641.450195,8641.450195,865600,^NSEI,8317.849609,3.89
2020-03-31,8529.349609,8678.299805,8358.000000,8597.750000,8597.750000,712700,^NSEI,8281.099609,3.82
2020-03-13,9107.599609,10159.400391,8555.150391,9955.200195,9955.200195,1388000,^NSEI,9590.150391,3.81
2020-04-30,9753.500000,9889.049805,9731.500000,9859.900391,9859.900391,931200,^NSEI,9553.349609,3.21
2020-05-27,9082.200195,9334.000000,9004.250000,9314.950195,9314.950195,763500,^NSEI,9029.049805,3.17
2020-04-17,9323.450195,9324.000000,9091.349609,9266.750000,9266.750000,684200,^NSEI,8992.799805,3.05
2021-02-02,14481.099609,14731.700195,14469.150391,14647.849609,14647.849609,915000,^NSEI,14281.200195,2.57
2020-06-01,9726.849609,9931.599609,9706.950195,9826.150391,9826.150391,794200,^NSEI,9580.299805,2.57
2020-03-24,7848.299805,8036.950195,7511.100098,7801.049805,7801.049805,738400,^NSEI,7610.250000,2.51
2021-03-30,14628.500000,14876.299805,14617.599609,14845.099609,14845.099609,594500,^NSEI,14507.299805,2.33
2020-02-04,11786.250000,11986.150391,11783.400391,11979.650391,11979.650391,560400,^NSEI,11707.900391,2.32
2020-04-22,9026.750000,9209.750000,8946.250000,9187.299805,9187.299805,734400,^NSEI,8981.450195,2.29
2020-09-25,10910.400391,11072.599609,10854.849609,11050.250000,11050.250000,559600,^NSEI,10805.549805,2.26
2021-03-03,15064.400391,15273.150391,14995.799805,15245.599609,15245.599609,544200,^NSEI,14919.099609,2.19
2020-06-18,9863.250000,10111.200195,9845.049805,10091.650391,10091.650391,622900,^NSEI,9881.150391,2.13

In [16]:
stock_id = '^NSEI'
nifty = pd.DataFrame(web.DataReader(tickers = stock_id, data_source='yahoo', start = '2020-03-01', end = '2021-12-10'))
nifty['Stock'] = stock_id
nifty['Prev_Close'] = nifty['Close'].shift(1)
nifty['Change%'] = round((nifty['Close'] - nifty['Prev_Close'])*100/nifty['Prev_Close'],2)

nifty

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume,Stock,Prev_Close,Change%
Date,,,,,,,,,
2020-03-02,11387.349609,11433.000000,11036.250000,11132.750000,11132.750000,680800,^NSEI,NaN,NaN
2020-03-03,11217.549805,11342.250000,11152.549805,11303.299805,11303.299805,696500,^NSEI,11132.750000,1.53
2020-03-04,11351.349609,11356.599609,11082.150391,11251.000000,11251.000000,797700,^NSEI,11303.299805,-0.46
2020-03-05,11306.049805,11389.500000,11244.599609,11269.000000,11269.000000,1352500,^NSEI,11251.000000,0.16
2020-03-06,10942.650391,11035.099609,10827.400391,10989.450195,10989.450195,1811000,^NSEI,11269.000000,-2.48
...,...,...,...,...,...,...,...,...,...
2021-12-03,17424.900391,17489.800781,17180.800781,17196.699219,17196.699219,292500,^NSEI,17401.650391,-1.18
2021-12-06,17209.050781,17216.750000,16891.699219,16912.250000,16912.250000,231700,^NSEI,17196.699219,-1.65
2021-12-07,17044.099609,17251.650391,16987.750000,17176.699219,17176.699219,254100,^NSEI,16912.250000,1.56
2021-12-08,17315.250000,17484.599609,17308.949219,17469.750000,17469.750000,257800,^NSEI,17176.699219,1.71
2021-12-09,17524.400391,17543.250000,17379.599609,17516.849609,17516.849609,237200,^NSEI,17469.750000,0.27

In [17]:
cols = ['Adj Close', 'Change%']
nifty[nifty['Change%'] < -1][cols].tail(6)['Adj Close']

Date
2021-10-28    17857.250000
2021-10-29    17671.650391
2021-11-22    17416.550781
2021-11-26    17026.449219
2021-12-03    17196.699219
2021-12-06    16912.250000
Name: Adj Close, dtype: float64

In [18]:
stock_id = 'NIFTYBEES.NS'
nifty20 = pd.DataFrame(web.DataReader(tickers = stock_id, data_source='yahoo', start = '2020-03-01', end = '2021-12-10'))
nifty20['Stock'] = stock_id
nifty20['Prev_Close'] = nifty['Close'].shift(1)
nifty20['Change%'] = round((nifty['Close'] - nifty['Prev_Close'])*100/nifty['Prev_Close'],2)

nifty20

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume,Stock,Prev_Close,Change%
Date,,,,,,,,,
2020-03-02,122.050003,122.050003,117.209999,118.389999,118.389999,2355594,NIFTYBEES.NS,NaN,NaN
2020-03-03,119.440002,121.010002,118.550003,120.400002,120.400002,1810345,NIFTYBEES.NS,11132.750000,1.53
2020-03-04,121.400002,121.400002,117.910004,119.519997,119.519997,2300345,NIFTYBEES.NS,11303.299805,-0.46
2020-03-05,142.949997,142.949997,118.599998,119.750000,119.750000,513870,NIFTYBEES.NS,11251.000000,0.16
2020-03-06,118.489998,118.489998,115.599998,117.180000,117.180000,3370046,NIFTYBEES.NS,11269.000000,-2.48
...,...,...,...,...,...,...,...,...,...
2021-12-03,192.500000,192.500000,185.750000,186.000000,186.000000,1581371,NIFTYBEES.NS,17401.650391,-1.18
2021-12-06,192.399994,192.399994,182.800003,183.009995,183.009995,2784801,NIFTYBEES.NS,17196.699219,-1.65
2021-12-07,190.000000,190.000000,180.100006,185.710007,185.710007,1224647,NIFTYBEES.NS,16912.250000,1.56
2021-12-08,191.000000,191.000000,185.710007,188.479996,188.479996,1425972,NIFTYBEES.NS,17176.699219,1.71
2021-12-09,192.500000,192.500000,187.160004,189.139999,189.139999,1108273,NIFTYBEES.NS,17469.750000,0.27

In [19]:
cols = ['Adj Close', 'Change%']
nifty20[nifty20['Change%'] < -1][cols].tail(6)['Adj Close']

Date
2021-10-28    193.679993
2021-10-29    191.160004
2021-11-22    188.529999
2021-11-26    184.509995
2021-12-03    186.000000
2021-12-06    183.009995
Name: Adj Close, dtype: float64