<a href="https://colab.research.google.com/github/ankit-rathi/Data-Science-with-Python/blob/master/Stock_Analysis/Nifty100_Upside_Analysis_ATH.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# install libraries
!pip install yfinance
!pip install pandas-ta
#!pip install talib-binary

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: yfinance in /usr/local/lib/python3.10/dist-packages (0.2.18)
Requirement already satisfied: pandas>=1.3.0 in /usr/local/lib/python3.10/dist-packages (from yfinance) (1.5.3)
Requirement already satisfied: numpy>=1.16.5 in /usr/local/lib/python3.10/dist-packages (from yfinance) (1.22.4)
Requirement already satisfied: requests>=2.26 in /usr/local/lib/python3.10/dist-packages (from yfinance) (2.27.1)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.10/dist-packages (from yfinance) (0.0.11)
Requirement already satisfied: lxml>=4.9.1 in /usr/local/lib/python3.10/dist-packages (from yfinance) (4.9.2)
Requirement already satisfied: appdirs>=1.4.4 in /usr/local/lib/python3.10/dist-packages (from yfinance) (1.4.4)
Requirement already satisfied: pytz>=2022.5 in /usr/local/lib/python3.10/dist-packages (from yfinance) (2022.7.1)
Requirement already satisfied: frozendict>=2.3.4 in /usr/local/lib/python3.10/dist-packages (from yfinance) (2.3.7)
Requirement already satisfied: cryptography>=3.3.2 in /usr/local/lib/python3.10/dist-packages (from yfinance) (40.0.2)
Requirement already satisfied: beautifulsoup4>=4.11.1 in /usr/local/lib/python3.10/dist-packages (from yfinance) (4.11.2)
Requirement already satisfied: html5lib>=1.1 in /usr/local/lib/python3.10/dist-packages (from yfinance) (1.1)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.10/dist-packages (from beautifulsoup4>=4.11.1->yfinance) (2.4.1)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.10/dist-packages (from cryptography>=3.3.2->yfinance) (1.15.1)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.10/dist-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.10/dist-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests>=2.26->yfinance) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests>=2.26->yfinance) (2022.12.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests>=2.26->yfinance) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests>=2.26->yfinance) (3.4)
Requirement already satisfied: pycparser in /usr/local/lib/python3.10/dist-packages (from cffi>=1.12->cryptography>=3.3.2->yfinance) (2.21)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pandas-ta
  Downloading pandas_ta-0.3.14b.tar.gz (115 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 115.1/115.1 kB 5.0 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (from pandas-ta) (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas->pandas-ta) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas->pandas-ta) (2022.7.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas->pandas-ta) (1.22.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas->pandas-ta) (1.16.0)
Building wheels for collected packages: pandas-ta
  Building wheel for pandas-ta (setup.py) ... done
  Created wheel for pandas-ta: filename=pandas_ta-0.3.14b0-py3-none-any.whl size=218908 sha256=f368c44200bc84901445945b36496e4b602777871bec92df750d559fa0369fe9
  Stored in directory: /root/.cache/pip/wheels/69/00/ac/f7fa862c34b0e2ef320175100c233377b4c558944f12474cf0
Successfully built pandas-ta
Installing collected packages: pandas-ta
Successfully installed pandas-ta-0.3.14b0

In [2]:
# set start and end date
import datetime
start_date = (datetime.date.today() + datetime.timedelta(days=-1000)).strftime('%Y-%m-%d')
end_date = (datetime.date.today() + datetime.timedelta(days=1)).strftime('%Y-%m-%d')

In [3]:
# fetch nifty200 scrips

import pandas as pd
import numpy as np
from google.colab import drive
drive.mount('/content/drive')

mypf = pd.read_csv('/content/drive/My Drive/data/stocks/Nifty100Scrips.csv')

#mypf = mypf[mypf['Nifty100'] == 1]

stock_n100 = mypf['Symbol'].unique()

exclude = ['CADILAHC','MMTC']

stock_n100 = mypf[~mypf['Symbol'].isin(exclude) ]['Symbol'].unique()

stock_ids = stock_n100

#mypf = mypf[mypf.Forecast.notnull()]
#stock_ids = mypf['Symbol'].unique()

stock_ids.sort()

Mounted at /content/drive

In [4]:
# star stocks & my stocks
star_stocks = list(mypf[mypf['StarStock'] == 1]['Stock'].values)
my_stocks = list(mypf[mypf['InPortfolio'] == 1]['Symbol'].values)

In [5]:
# update Nifty features
'''
stock = 'INFY'
column = 'Conviction'
value = 'H'
nifty100_df.loc[nifty100_df['Symbol'] == stock, column] = value

mypf.to_csv('/content/drive/My Drive/data/stocks/Nifty100Scrips.csv',index=False)
'''
mypf['Conviction'].value_counts()

M    71
L    63
H    37
Name: Conviction, dtype: int64

In [6]:
# star stocks
mypf['StarStock'].value_counts()

0    104
1     67
Name: StarStock, dtype: int64

In [7]:
# v40/v40n stocks
mypf['Criteria'].value_counts()

V40N    39
V40     38
2T3Y     5
SS       4
TBD      1
Name: Criteria, dtype: int64

In [8]:
# latest quarter
mypf['LatestQtr'].value_counts()

1    116
0     55
Name: LatestQtr, dtype: int64

In [9]:
# star + v40/v40n stocks
mypf[(mypf['Criteria'] == 'V40') | (mypf['Criteria'] == 'V40N')]['StarStock'].value_counts()

0    46
1    31
Name: StarStock, dtype: int64

In [10]:
# stocks in portfolio
mypf['InPortfolio'].value_counts()

0    148
1     23
Name: InPortfolio, dtype: int64

In [11]:
# import libraries 

%matplotlib inline
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import datetime
from tabulate import tabulate
import warnings
warnings.filterwarnings('ignore')
import pandas_datareader.data as web
import yfinance as yfin
#import talib 
yfin.pdr_override()
import pandas_ta as ta

In [12]:
# fetch current PE
import requests
from bs4 import BeautifulSoup

def get_current_pe(stock_name):

  link_blueprint = "https://www.screener.in/company/"

  stocks = ['INDIGOPNTS', 'IRCTC', 'GILLETTE', 'PAGEIND']

  if stock_name in stocks:
    actual_link = link_blueprint + stock_name.upper()  
  else:
    actual_link = link_blueprint + stock_name.upper() + "/consolidated/"

  page = requests.get(actual_link)
  #print(actual_link)
  link_soup = BeautifulSoup(page.content, 'html.parser')

  test_list = link_soup.find(id="top").text.replace("  ", "").split('\n')

  while("" in test_list) :
      test_list.remove("")
  while("\r" in test_list) :
      test_list.remove("\r")        
  while(" \r" in test_list) :
      test_list.remove(" \r")

  try:
    current_pe = float(test_list[test_list.index('Stock P/E')+1:test_list.index('Stock P/E')+2][0])
  except ValueError as ve:
    current_pe = 1000 

  return current_pe

In [13]:
# function to compute stock attributes

def stock_prec_dev(stock_symbol):
    #stock_symbol = 'ULTRACEMCO.NS'
    short_window = 20 
    mid_window = 50
    long_window = 200
    moving_avg = 'SMA'
    
    # import the closing price data of the stock for the aforementioned period of time in Pandas dataframe
    start = datetime.datetime(*map(int, start_date.split('-')))
    end = datetime.datetime(*map(int, end_date.split('-'))) 
    stock_df = yfin.Ticker(stock_symbol).history(period='3y')[map(str.title, ['open', 'close', 'low', 'high', 'volume'])]
    stock_df = stock_df[(stock_df.index <= end_date) & (stock_df.index >= start_date)]
    #stock_df = pd.DataFrame(stock_df) # convert Series object to dataframe 
    #stock_df.columns = {'Close Price'} # assign new colun name
    stock_df.dropna(axis = 0, inplace = True) # remove any null rows 

    # column names for long and short moving average columns
    short_window_col = str(short_window) + '_' + moving_avg
    mid_window_col = str(mid_window) + '_' + moving_avg
    long_window_col = str(long_window) + '_' + moving_avg  

    #print(stock_df)

    # Create short exponential moving average column
    stock_df[short_window_col] = round(stock_df['Close'].rolling(window = short_window, min_periods = 1).mean(),0)

    stock_df[mid_window_col] = round(stock_df['Close'].rolling(window = mid_window, min_periods = 1).mean(),0)     

    #stock_df['RSI'] = round(talib.RSI(stock_df['Close Price'], timeperiod=14),0)

    # Create a long exponential moving average column
    stock_df[long_window_col] = round(stock_df['Close'].rolling(window = long_window, min_periods = 1).mean(),0)
    stock_df['Stock'] = stock_symbol
    stock_df['Dev%_200'] = round((stock_df['Close'] - stock_df['200_SMA'])*100/stock_df['200_SMA'],2)
    stock_df['200_SMA_Lag10'] = stock_df['200_SMA'].shift(10)
    stock_df['Slope%_200'] = round((stock_df['200_SMA'] - stock_df['200_SMA_Lag10'])*100/stock_df['200_SMA'],2)
    stock_df['50_SMA_Lag5'] = stock_df['50_SMA'].shift(5)
    stock_df['Slope%_50'] = round((stock_df['50_SMA'] - stock_df['50_SMA_Lag5'])*100/stock_df['50_SMA'],2)
    
    #stock_df.ta.rsi(append=True)
    #stock_df.rename(columns={'RSI_14':'RSI'}, inplace=True)
    stock_df['Close'] = round(stock_df['Close'],0)    
    #stock_df['RSI'] = round(stock_df['RSI'],0) 
    stock_df['Max'] = round(max(stock_df['Close']),0)
    stock_df['Min'] = round(min(stock_df['Close']),0)   
    stock_df['Discount%'] = round((stock_df['Max']-stock_df['Close'])*100/(stock_df['Max']-stock_df['Min']),2)
    stock_df['Upside%ATH'] = round((stock_df['Max']-stock_df['Close'])*100/(stock_df['Close']),0)
    stock_df.drop(['Open', 'Low', 'High', 'Volume','20_SMA','50_SMA','200_SMA','200_SMA_Lag10','50_SMA_Lag5'
                   ], axis=1, inplace=True)   
    
    return stock_df

df_prec_dev = pd.DataFrame()

#tmp = stock_prec_dev('ULTRACEMCO.NS')
#df_perform = df_perform.append(tmp)
for stock_id in stock_ids:
    #print(stock_id)
    if stock_id in my_stocks:
      current_pe = get_current_pe(stock_id)
    else:
      current_pe = 1000

    stock_id = stock_id.upper() + '.NS'    
    tmp = stock_prec_dev(stock_id)
    tmp = tmp.reset_index()
    tmp = tmp.tail(1)
    tmp['Avg_Cost'] = mypf[(mypf['Symbol']+'.NS') == stock_id.upper()]['AvgCost'].values[0]
    tmp['Shares'] = mypf[(mypf['Symbol']+'.NS') == stock_id.upper()]['Shares'].values[0]
    tmp['Med_PE'] = mypf[(mypf['Symbol']+'.NS') == stock_id.upper()]['MedianPE'].values[0]    
    tmp['Curr_PE'] = current_pe
    tmp['BizOutlook'] = mypf[(mypf['Symbol']+'.NS') == stock_id.upper()]['BizOutlook'].values[0] 
    tmp['BizDurability'] = mypf[(mypf['Symbol']+'.NS') == stock_id.upper()]['BizDurability'].values[0]   
    tmp['Conviction'] = mypf[(mypf['Symbol']+'.NS') == stock_id.upper()]['Conviction'].values[0]    
    tmp['LatestQtr'] = mypf[(mypf['Symbol']+'.NS') == stock_id.upper()]['LatestQtr'].values[0]  
    tmp['StarStock'] = mypf[(mypf['Symbol']+'.NS') == stock_id.upper()]['StarStock'].values[0]       
    tmp['Criteria'] = mypf[(mypf['Symbol']+'.NS') == stock_id.upper()]['Criteria'].values[0] 
    tmp['Strategy'] = mypf[(mypf['Symbol']+'.NS') == stock_id.upper()]['Strategy'].values[0]
    df_prec_dev = df_prec_dev.append(tmp)

In [14]:
# nifty in last 5 weeks
stock_prec_dev('^NSEI')[-21::5]

,Close,Stock,Dev%_200,Slope%_200,Slope%_50,Max,Min,Discount%,Upside%ATH
Date,,,,,,,,,
2023-04-20 00:00:00+05:30,17624.0,^NSEI,0.16,0.60,0.03,18812.0,10806.0,14.84,7.0
2023-04-27 00:00:00+05:30,17915.0,^NSEI,1.53,0.57,-0.03,18812.0,10806.0,11.20,5.0
2023-05-05 00:00:00+05:30,18069.0,^NSEI,2.11,0.56,0.12,18812.0,10806.0,9.28,4.0
2023-05-12 00:00:00+05:30,18315.0,^NSEI,3.18,0.59,0.31,18812.0,10806.0,6.21,3.0
2023-05-19 00:00:00+05:30,18203.0,^NSEI,2.32,0.54,0.48,18812.0,10806.0,7.61,3.0

In [15]:
stock_ids = df_prec_dev['Stock'].values
df_prec_dev.reset_index(drop=True, inplace=True)
df_prec_dev.drop(['Date'], axis=1, inplace=True)

mypf['Stock'] = mypf['Symbol'] + '.NS'
#df_prec_dev.drop(['Med_PE'], axis=1, inplace=True)

In [16]:
df_prec_dev['Discount%PE'] = round((df_prec_dev['Med_PE']-df_prec_dev['Curr_PE'])*100/(df_prec_dev['Med_PE']),0)
#df_prec_dev['Upside%Estimate'] = round((df_prec_dev['Max']-df_prec_dev['Avg_Cost'])*100/(df_prec_dev['Avg_Cost']),0)
df_prec_dev = df_prec_dev.set_index('Stock')

In [17]:
# portfolio stocks
cols = ['Close',	'Dev%_200',	'Slope%_200',	'Slope%_50', 'Discount%',	'Upside%ATH',	'Avg_Cost',	'Med_PE',	'Curr_PE',	'Conviction', 'Discount%PE', 'LatestQtr', 'StarStock', 'Criteria', 'Strategy']
tmp_df = df_prec_dev[cols]
tmp_df = tmp_df[tmp_df.index.isin(mypf[mypf['InPortfolio'] == 1].Stock.values)]
print('qualified stocks: '+str(tmp_df.shape[0]))
tmp_df.sort_values(by = 'Upside%ATH', ascending=False)

qualified stocks: 23

,Close,Dev%_200,Slope%_200,Slope%_50,Discount%,Upside%ATH,Avg_Cost,Med_PE,Curr_PE,Conviction,Discount%PE,LatestQtr,StarStock,Criteria,Strategy
Stock,,,,,,,,,,,,,,,
GLAND.NS,1066.0,-37.57,-3.05,0.00,100.00,305.0,1354.78,45.2,21.3,M,53.0,1,0,2T3Y,2T3Y
VALIANTORG.NS,485.0,-15.64,-1.39,1.52,92.86,282.0,481.73,24.0,15.5,M,35.0,0,0,2T3Y,2T3Y
VAIBHAVGBL.NS,296.0,-7.71,0.00,-0.33,96.40,226.0,320.64,35.4,46.6,M,-32.0,1,0,2T3Y,2T3Y
LUXIND.NS,1446.0,-8.70,-1.20,1.21,90.72,214.0,1499.87,21.4,24.1,M,-13.0,0,0,V40N,2T3Y
INDIGOPNTS.NS,1404.0,6.99,-0.30,3.19,80.26,122.0,1215.89,104.9,56.7,M,46.0,0,1,V40N,2T3Y
JUBLFOOD.NS,469.0,-10.38,-0.96,0.89,88.75,93.0,468.21,90.5,87.6,H,3.0,1,1,SS,ATH
IRCTC.NS,610.0,-7.80,0.30,0.17,61.08,91.0,629.08,77.4,51.8,H,33.0,0,1,SS,ATH
WIPRO.NS,386.0,-2.23,-0.25,0.00,73.15,85.0,382.90,20.9,18.7,L,11.0,1,0,2T3Y,2T3Y
HDFCAMC.NS,1805.0,-8.26,-0.20,0.11,91.05,79.0,1856.05,38.5,27.1,M,30.0,1,0,V40,ATH
RELAXO.NS,867.0,-4.07,-0.66,1.21,70.40,65.0,881.19,101.9,1000.0,M,-881.0,1,0,V40N,2T3Y
DMART.NS,3395.0,-13.01,-0.49,-0.06,57.60,57.0,3702.36,160.1,92.7,H,42.0,1,1,SS,ATH
INFY.NS,1269.0,-13.97,-0.68,-1.87,61.07,50.0,1252.12,29.0,22.0,H,24.0,1,1,V40,ATH
ICICIGI.NS,1077.0,-7.35,-0.52,0.09,96.96,50.0,1106.17,46.2,1000.0,M,-2065.0,1,1,V40,ATH
AMBUJACEM.NS,403.0,-11.59,0.44,1.30,45.45,46.0,408.85,23.9,28.6,L,-20.0,0,0,TBD,ATH
BATAINDIA.NS,1534.0,-7.19,-0.73,0.90,67.48,42.0,1501.51,126.0,61.0,H,52.0,1,0,V40,ATH
GILLETTE.NS,4396.0,-10.32,-0.65,-0.61,88.05,35.0,4479.47,61.2,43.2,M,29.0,0,0,V40,ATH
PAGEIND.NS,41675.0,-5.79,-0.28,1.11,33.30,29.0,39840.50,97.7,68.0,H,30.0,0,1,V40,ATH
ASIANPAINT.NS,3084.0,0.37,0.13,1.07,28.44,16.0,2954.17,87.9,71.4,H,19.0,1,1,V40,ATH
BAJFINANCE.NS,6784.0,2.65,0.47,0.99,22.85,16.0,6365.23,52.6,35.7,H,32.0,1,1,V40,ATH
RELIANCE.NS,2442.0,-1.26,0.08,0.42,37.65,15.0,2464.49,29.1,24.8,H,15.0,1,1,V40,ATH
PIDILITIND.NS,2567.0,0.89,0.47,1.08,22.13,13.0,2442.09,94.6,102.0,H,-8.0,1,1,V40,ATH
TATACONSUM.NS,765.0,1.12,0.00,0.97,24.51,13.0,758.64,68.8,66.0,H,4.0,1,1,SS,ATH
EICHERMOT.NS,3571.0,7.40,0.75,1.47,15.11,8.0,3336.21,44.7,33.5,H,25.0,1,1,V40N,ATH

In [18]:
# top 7 from portfolio for SIP
tmp_df.sort_values(by = 'Upside%ATH', ascending=False).head(7)

,Close,Dev%_200,Slope%_200,Slope%_50,Discount%,Upside%ATH,Avg_Cost,Med_PE,Curr_PE,Conviction,Discount%PE,LatestQtr,StarStock,Criteria,Strategy
Stock,,,,,,,,,,,,,,,
GLAND.NS,1066.0,-37.57,-3.05,0.00,100.00,305.0,1354.78,45.2,21.3,M,53.0,1,0,2T3Y,2T3Y
VALIANTORG.NS,485.0,-15.64,-1.39,1.52,92.86,282.0,481.73,24.0,15.5,M,35.0,0,0,2T3Y,2T3Y
VAIBHAVGBL.NS,296.0,-7.71,0.00,-0.33,96.40,226.0,320.64,35.4,46.6,M,-32.0,1,0,2T3Y,2T3Y
LUXIND.NS,1446.0,-8.70,-1.20,1.21,90.72,214.0,1499.87,21.4,24.1,M,-13.0,0,0,V40N,2T3Y
INDIGOPNTS.NS,1404.0,6.99,-0.30,3.19,80.26,122.0,1215.89,104.9,56.7,M,46.0,0,1,V40N,2T3Y
JUBLFOOD.NS,469.0,-10.38,-0.96,0.89,88.75,93.0,468.21,90.5,87.6,H,3.0,1,1,SS,ATH
IRCTC.NS,610.0,-7.80,0.30,0.17,61.08,91.0,629.08,77.4,51.8,H,33.0,0,1,SS,ATH

In [19]:
# top 7 from portfolio to book profits
tmp_df.sort_values(by = 'Upside%ATH', ascending=True).head(7)

,Close,Dev%_200,Slope%_200,Slope%_50,Discount%,Upside%ATH,Avg_Cost,Med_PE,Curr_PE,Conviction,Discount%PE,LatestQtr,StarStock,Criteria,Strategy
Stock,,,,,,,,,,,,,,,
EICHERMOT.NS,3571.0,7.40,0.75,1.47,15.11,8.0,3336.21,44.7,33.5,H,25.0,1,1,V40N,ATH
TATACONSUM.NS,765.0,1.12,0.00,0.97,24.51,13.0,758.64,68.8,66.0,H,4.0,1,1,SS,ATH
PIDILITIND.NS,2567.0,0.89,0.47,1.08,22.13,13.0,2442.09,94.6,102.0,H,-8.0,1,1,V40,ATH
RELIANCE.NS,2442.0,-1.26,0.08,0.42,37.65,15.0,2464.49,29.1,24.8,H,15.0,1,1,V40,ATH
ASIANPAINT.NS,3084.0,0.37,0.13,1.07,28.44,16.0,2954.17,87.9,71.4,H,19.0,1,1,V40,ATH
BAJFINANCE.NS,6784.0,2.65,0.47,0.99,22.85,16.0,6365.23,52.6,35.7,H,32.0,1,1,V40,ATH
PAGEIND.NS,41675.0,-5.79,-0.28,1.11,33.30,29.0,39840.50,97.7,68.0,H,30.0,0,1,V40,ATH

In [20]:
df_prec_dev.drop([ 'Avg_Cost', 'Shares', 'Med_PE', 'Curr_PE', 'Discount%PE'], axis=1, inplace=True)

In [21]:
# star + v40/v40n stocks (for upside)

tmp_df = df_prec_dev[df_prec_dev.index.isin(star_stocks)]
tmp_df = tmp_df[~tmp_df.index.isin(mypf[mypf['InPortfolio'] == 1].Stock.values)]
tmp_df = tmp_df[(tmp_df['Criteria'] == 'V40') | (tmp_df['Criteria'] == 'V40N')]
tmp_df = tmp_df[(tmp_df['Upside%ATH'] >= 20)]
print('qualified stocks: '+str(tmp_df.shape[0]))
tmp_df.sort_values(by = 'Upside%ATH', ascending=False)

qualified stocks: 9

,Close,Dev%_200,Slope%_200,Slope%_50,Max,Min,Discount%,Upside%ATH,BizOutlook,BizDurability,Conviction,LatestQtr,StarStock,Criteria,Strategy
Stock,,,,,,,,,,,,,,,
TEAMLEASE.NS,2263.0,-14.98,-2.63,-1.16,5281.0,2028.0,92.78,133.0,NaN,NaN,M,1,1,V40N,NaN
BERGEPAINT.NS,625.0,3.35,0.33,0.84,858.0,533.0,71.69,37.0,1.0,0.0,M,1,1,V40,NaN
BAJAJFINSV.NS,1415.0,-6.47,0.53,0.52,1907.0,542.0,36.04,35.0,0.0,0.0,M,1,1,V40,NaN
SUNTV.NS,426.0,-9.38,0.21,0.23,577.0,388.0,79.89,35.0,NaN,NaN,M,1,1,V40N,NaN
UJJIVANSFB.NS,33.0,25.58,3.85,0.00,42.0,13.0,31.03,27.0,0.0,1.0,M,1,1,V40N,NaN
DABUR.NS,519.0,-5.96,-0.18,0.00,645.0,464.0,69.61,24.0,1.0,0.0,H,1,1,V40,NaN
OFSS.NS,3550.0,19.33,0.87,1.82,4392.0,2442.0,43.18,24.0,1.0,0.0,M,1,1,V40N,NaN
MCDOWELL-N.NS,817.0,-0.60,-0.12,0.78,1004.0,496.0,36.81,23.0,0.0,1.0,L,1,1,V40N,NaN
TCS.NS,3223.0,-0.00,0.37,-0.37,3886.0,2132.0,37.80,21.0,1.0,0.0,H,1,1,V40,NaN

In [22]:
# top 5 from star + v40/v40n for SIP
tmp_df.sort_values(by = 'Dev%_200', ascending=True).head(5)

,Close,Dev%_200,Slope%_200,Slope%_50,Max,Min,Discount%,Upside%ATH,BizOutlook,BizDurability,Conviction,LatestQtr,StarStock,Criteria,Strategy
Stock,,,,,,,,,,,,,,,
TEAMLEASE.NS,2263.0,-14.98,-2.63,-1.16,5281.0,2028.0,92.78,133.0,NaN,NaN,M,1,1,V40N,NaN
SUNTV.NS,426.0,-9.38,0.21,0.23,577.0,388.0,79.89,35.0,NaN,NaN,M,1,1,V40N,NaN
BAJAJFINSV.NS,1415.0,-6.47,0.53,0.52,1907.0,542.0,36.04,35.0,0.0,0.0,M,1,1,V40,NaN
DABUR.NS,519.0,-5.96,-0.18,0.00,645.0,464.0,69.61,24.0,1.0,0.0,H,1,1,V40,NaN
MCDOWELL-N.NS,817.0,-0.60,-0.12,0.78,1004.0,496.0,36.81,23.0,0.0,1.0,L,1,1,V40N,NaN

In [23]:
# star + v40/v40n stocks (for breakout)

tmp_df = df_prec_dev[df_prec_dev.index.isin(star_stocks)]
tmp_df = tmp_df[~tmp_df.index.isin(mypf[mypf['InPortfolio'] == 1].Stock.values)]
tmp_df = tmp_df[(tmp_df['Criteria'] == 'V40') | (tmp_df['Criteria'] == 'V40N')]
tmp_df = tmp_df[(tmp_df['Upside%ATH'] < 5)]
print('qualified stocks: '+str(tmp_df.shape[0]))
tmp_df.sort_values(by = 'Upside%ATH', ascending=False)

qualified stocks: 9

,Close,Dev%_200,Slope%_200,Slope%_50,Max,Min,Discount%,Upside%ATH,BizOutlook,BizDurability,Conviction,LatestQtr,StarStock,Criteria,Strategy
Stock,,,,,,,,,,,,,,,
HDFCBANK.NS,1647.0,6.05,0.97,0.43,1708.0,1003.0,8.65,4.0,1.0,0.0,H,1,1,V40,NaN
HINDUNILVR.NS,2641.0,2.86,0.08,0.71,2728.0,1897.0,10.47,3.0,1.0,1.0,H,1,1,V40,NaN
ITC.NS,420.0,19.62,1.71,1.00,431.0,146.0,3.86,3.0,1.0,1.0,H,1,1,V40,NaN
TITAN.NS,2702.0,5.86,1.02,1.44,2790.0,1090.0,5.18,3.0,1.0,1.0,H,1,1,V40,NaN
BAJAJ-AUTO.NS,4483.0,16.48,0.73,1.93,4565.0,2649.0,4.28,2.0,NaN,NaN,L,1,1,V40,NaN
EQUITASBNK.NS,81.0,42.46,3.51,1.41,83.0,33.0,4.00,2.0,1.0,1.0,M,1,1,V40N,NaN
CERA.NS,7497.0,32.18,2.50,1.51,7497.0,2229.0,0.00,0.0,1.0,1.0,H,1,1,V40N,NaN
ICICIBANK.NS,954.0,7.95,0.90,1.12,954.0,333.0,0.00,0.0,1.0,1.0,H,1,1,V40,NaN
POLYCAB.NS,3441.0,24.22,2.06,1.13,3441.0,793.0,0.00,0.0,1.0,0.0,M,1,1,V40N,NaN

In [24]:
# star stocks (for upside)

tmp_df = df_prec_dev[df_prec_dev.index.isin(star_stocks)]
tmp_df = tmp_df[~tmp_df.index.isin(mypf[mypf['InPortfolio'] == 1].Stock.values)]
tmp_df = tmp_df[(tmp_df['Criteria'] != 'V40') & (tmp_df['Criteria'] != 'V40N')]
#tmp_df = tmp_df[(tmp_df['BizOutlook'] == 1) & (tmp_df['BizDurability'] != -1)]
#tmp_df = tmp_df[(tmp_df['Upside%ATH'] >= 25) & (tmp_df['Discount%'] >= 60)]
tmp_df = tmp_df[(tmp_df['Upside%ATH'] >= 20)]
print('qualified stocks: '+str(tmp_df.shape[0]))
tmp_df.sort_values(by = 'Upside%ATH', ascending=False)

qualified stocks: 11

,Close,Dev%_200,Slope%_200,Slope%_50,Max,Min,Discount%,Upside%ATH,BizOutlook,BizDurability,Conviction,LatestQtr,StarStock,Criteria,Strategy
Stock,,,,,,,,,,,,,,,
ADANIGREEN.NS,897.0,-45.37,-3.71,4.37,2970.0,414.0,81.10,231.0,-1.0,-1.0,L,1,1,NaN,NaN
ADANIENT.NS,1956.0,-32.39,-0.93,2.70,4165.0,248.0,56.40,113.0,1.0,0.0,M,1,1,NaN,NaN
BANDHANBNK.NS,238.0,-2.88,-0.82,0.46,422.0,187.0,78.30,77.0,1.0,1.0,L,1,1,NaN,NaN
LTIM.NS,4803.0,4.73,0.48,-0.04,7439.0,2267.0,50.97,55.0,1.0,0.0,M,1,1,NaN,NaN
TATAPOWER.NS,206.0,-4.26,-0.47,0.00,287.0,49.0,34.03,39.0,1.0,0.0,M,1,1,NaN,NaN
GODREJIND.NS,470.0,6.56,0.23,1.15,644.0,354.0,60.00,37.0,0.0,1.0,L,1,1,NaN,NaN
CIPLA.NS,916.0,-10.78,-0.19,0.00,1173.0,701.0,54.45,28.0,1.0,0.0,M,1,1,NaN,NaN
SBICARD.NS,892.0,8.86,0.00,1.82,1133.0,673.0,52.39,27.0,1.0,0.0,M,1,1,NaN,NaN
UPL.NS,668.0,-8.49,-0.14,-0.56,832.0,391.0,37.19,25.0,NaN,NaN,L,1,1,NaN,NaN
DRREDDY.NS,4392.0,-0.50,0.20,0.17,5451.0,3669.0,59.43,24.0,1.0,1.0,H,1,1,NaN,NaN
PNB.NS,49.0,7.07,2.17,0.00,60.0,26.0,32.35,22.0,NaN,NaN,L,1,1,NaN,NaN

In [25]:
# star stocks (for breakout)

tmp_df = df_prec_dev[df_prec_dev.index.isin(star_stocks)]
tmp_df = tmp_df[~tmp_df.index.isin(mypf[mypf['InPortfolio'] == 1].Stock.values)]
tmp_df = tmp_df[(tmp_df['BizOutlook'] == 1) & (tmp_df['BizDurability'] != -1)]
#tmp_df = tmp_df[(tmp_df['Upside%ATH'] >= 25) & (tmp_df['Discount%'] >= 60)]
tmp_df = tmp_df[(tmp_df['Upside%ATH'] < 5)]
print('qualified stocks: '+str(tmp_df.shape[0]))
tmp_df.sort_values(by = 'Upside%ATH', ascending=True)

qualified stocks: 11

,Close,Dev%_200,Slope%_200,Slope%_50,Max,Min,Discount%,Upside%ATH,BizOutlook,BizDurability,Conviction,LatestQtr,StarStock,Criteria,Strategy
Stock,,,,,,,,,,,,,,,
AUBANK.NS,754.0,19.27,1.11,2.04,754.0,317.0,0.00,0.0,1.0,0.0,M,1,1,NaN,NaN
CERA.NS,7497.0,32.18,2.50,1.51,7497.0,2229.0,0.00,0.0,1.0,1.0,H,1,1,V40N,NaN
ICICIBANK.NS,954.0,7.95,0.90,1.12,954.0,333.0,0.00,0.0,1.0,1.0,H,1,1,V40,NaN
POLYCAB.NS,3441.0,24.22,2.06,1.13,3441.0,793.0,0.00,0.0,1.0,0.0,M,1,1,V40N,NaN
INDUSINDBK.NS,1248.0,9.28,1.40,1.26,1264.0,484.0,2.05,1.0,1.0,1.0,H,1,1,NaN,NaN
EQUITASBNK.NS,81.0,42.46,3.51,1.41,83.0,33.0,4.00,2.0,1.0,1.0,M,1,1,V40N,NaN
BRITANNIA.NS,4500.0,9.86,1.12,0.57,4635.0,2945.0,7.99,3.0,1.0,1.0,H,1,1,NaN,NaN
HINDUNILVR.NS,2641.0,2.86,0.08,0.71,2728.0,1897.0,10.47,3.0,1.0,1.0,H,1,1,V40,NaN
ITC.NS,420.0,19.62,1.71,1.00,431.0,146.0,3.86,3.0,1.0,1.0,H,1,1,V40,NaN
TITAN.NS,2702.0,5.86,1.02,1.44,2790.0,1090.0,5.18,3.0,1.0,1.0,H,1,1,V40,NaN
HDFCBANK.NS,1647.0,6.05,0.97,0.43,1708.0,1003.0,8.65,4.0,1.0,0.0,H,1,1,V40,NaN

In [26]:
# stocks excluded from all time high

excluded_stocks = ['ACC.NS','AMBUJACEM.NS','CADILAHC.NS','GILLETTE.NS','NESTLEIND.NS','PGHH.NS', 'PVRINOX.NS', 'SIEMENS.NS']

tmp_df = df_prec_dev[df_prec_dev.index.isin(excluded_stocks)]
tmp_df = tmp_df[~tmp_df.index.isin(mypf[mypf['InPortfolio'] == 1].Stock.values)]
#tmp_df = tmp_df[(tmp_df['BizOutlook'] == 1) & (tmp_df['BizDurability'] != -1)]
#tmp_df = tmp_df[(tmp_df['Upside%ATH'] >= 25) & (tmp_df['Discount%'] >= 60)]
#tmp_df = tmp_df[(tmp_df['Upside%ATH'] >= 20)]
print('qualified stocks: '+str(tmp_df.shape[0]))
tmp_df.sort_values(by = 'Upside%ATH', ascending=False)

qualified stocks: 5

,Close,Dev%_200,Slope%_200,Slope%_50,Max,Min,Discount%,Upside%ATH,BizOutlook,BizDurability,Conviction,LatestQtr,StarStock,Criteria,Strategy
Stock,,,,,,,,,,,,,,,
ACC.NS,1729.0,-20.47,-0.92,0.06,2748.0,1259.0,68.44,59.0,0.0,0.0,L,0,0,NaN,NaN
PGHH.NS,13591.0,-2.48,-0.03,0.01,15778.0,9190.0,33.20,16.0,0.0,0.0,L,0,0,V40,NaN
PVRINOX.NS,1373.0,-4.55,-3.13,-1.18,1483.0,1367.0,94.83,8.0,1.0,-1.0,L,0,0,NaN,NaN
SIEMENS.NS,3723.0,22.94,1.82,1.78,3891.0,1143.0,6.11,5.0,1.0,1.0,H,0,0,NaN,NaN
NESTLEIND.NS,21690.0,10.99,0.88,1.58,22050.0,14623.0,4.85,2.0,1.0,1.0,H,0,0,V40,NaN

In [36]:
# stocks prospects 

excluded_stocks = ['BANDHANBNK.NS','GICRE.NS','JMFINANCIL.NS','NIACL.NS','PNB.NS','UJJIVANSFB.NS']

tmp_df = df_prec_dev[df_prec_dev.index.isin(excluded_stocks)]
tmp_df = tmp_df[~tmp_df.index.isin(mypf[mypf['InPortfolio'] == 1].Stock.values)]
#tmp_df = tmp_df[(tmp_df['BizOutlook'] == 1) & (tmp_df['BizDurability'] != -1)]
#tmp_df = tmp_df[(tmp_df['Upside%ATH'] >= 25) & (tmp_df['Discount%'] >= 60)]
#tmp_df = tmp_df[(tmp_df['Upside%ATH'] >= 20)]
print('qualified stocks: '+str(tmp_df.shape[0]))
tmp_df.sort_values(by = 'Upside%ATH', ascending=False)

qualified stocks: 4

,Close,Dev%_200,Slope%_200,Slope%_50,Max,Min,Discount%,Upside%ATH,BizOutlook,BizDurability,Conviction,LatestQtr,StarStock,Criteria,Strategy
Stock,,,,,,,,,,,,,,,
BANDHANBNK.NS,238.0,-2.88,-0.82,0.46,422.0,187.0,78.30,77.0,1.0,1.0,L,1,1,NaN,NaN
GICRE.NS,174.0,19.76,2.07,2.00,223.0,108.0,42.61,28.0,NaN,NaN,M,0,0,2T3Y,2T3Y
UJJIVANSFB.NS,33.0,25.58,3.85,0.00,42.0,13.0,31.03,27.0,0.0,1.0,M,1,1,V40N,NaN
PNB.NS,49.0,7.07,2.17,0.00,60.0,26.0,32.35,22.0,NaN,NaN,L,1,1,NaN,NaN

In [27]:
# prospects with heavy upside
tmp_df = df_prec_dev[~df_prec_dev.index.isin(mypf[mypf['InPortfolio'] == 1].Stock.values)]
tmp_df = tmp_df[(tmp_df['BizOutlook'] == 1) & (tmp_df['BizDurability'] == 1)]
tmp_df = tmp_df[tmp_df['Upside%ATH'] > 40]
print('qualified stocks: '+str(tmp_df.shape[0]))
tmp_df.sort_values(by = 'Upside%ATH', ascending=False)

qualified stocks: 2

,Close,Dev%_200,Slope%_200,Slope%_50,Max,Min,Discount%,Upside%ATH,BizOutlook,BizDurability,Conviction,LatestQtr,StarStock,Criteria,Strategy
Stock,,,,,,,,,,,,,,,
INDUSTOWER.NS,145.0,-19.05,-2.23,-1.35,303.0,137.0,95.18,109.0,1.0,1.0,H,1,0,NaN,NaN
BANDHANBNK.NS,238.0,-2.88,-0.82,0.46,422.0,187.0,78.30,77.0,1.0,1.0,L,1,1,NaN,NaN

In [28]:
# prospects near 52W low
tmp_df = df_prec_dev[~df_prec_dev.index.isin(mypf[mypf['InPortfolio'] == 1].Stock.values)]
tmp_df = tmp_df[(tmp_df['BizOutlook'] == 1) & (tmp_df['BizDurability'] == 1)]
tmp_df = tmp_df[tmp_df['Discount%'] > 60]
print('qualified stocks: '+str(tmp_df.shape[0]))
tmp_df.sort_values(by = 'Discount%', ascending=False)

qualified stocks: 3

,Close,Dev%_200,Slope%_200,Slope%_50,Max,Min,Discount%,Upside%ATH,BizOutlook,BizDurability,Conviction,LatestQtr,StarStock,Criteria,Strategy
Stock,,,,,,,,,,,,,,,
INDUSTOWER.NS,145.0,-19.05,-2.23,-1.35,303.0,137.0,95.18,109.0,1.0,1.0,H,1,0,NaN,NaN
BANDHANBNK.NS,238.0,-2.88,-0.82,0.46,422.0,187.0,78.30,77.0,1.0,1.0,L,1,1,NaN,NaN
HDFCLIFE.NS,558.0,2.50,0.37,1.35,757.0,461.0,67.23,36.0,1.0,1.0,H,1,0,V40,NaN

In [29]:
# prospects near 52W high
tmp_df = df_prec_dev[~df_prec_dev.index.isin(mypf[mypf['InPortfolio'] == 1].Stock.values)]
tmp_df = tmp_df[(tmp_df['BizOutlook'] == 1) & (tmp_df['BizDurability'] == 1)]
tmp_df = tmp_df[tmp_df['Discount%'] < 15]
print('qualified stocks: '+str(tmp_df.shape[0]))
tmp_df.sort_values(by = 'Discount%', ascending=True)

qualified stocks: 13

,Close,Dev%_200,Slope%_200,Slope%_50,Max,Min,Discount%,Upside%ATH,BizOutlook,BizDurability,Conviction,LatestQtr,StarStock,Criteria,Strategy
Stock,,,,,,,,,,,,,,,
CERA.NS,7497.0,32.18,2.50,1.51,7497.0,2229.0,0.00,0.0,1.0,1.0,H,1,1,V40N,NaN
ICICIBANK.NS,954.0,7.95,0.90,1.12,954.0,333.0,0.00,0.0,1.0,1.0,H,1,1,V40,NaN
INDUSINDBK.NS,1248.0,9.28,1.40,1.26,1264.0,484.0,2.05,1.0,1.0,1.0,H,1,1,NaN,NaN
ITC.NS,420.0,19.62,1.71,1.00,431.0,146.0,3.86,3.0,1.0,1.0,H,1,1,V40,NaN
EQUITASBNK.NS,81.0,42.46,3.51,1.41,83.0,33.0,4.00,2.0,1.0,1.0,M,1,1,V40N,NaN
NESTLEIND.NS,21690.0,10.99,0.88,1.58,22050.0,14623.0,4.85,2.0,1.0,1.0,H,0,0,V40,NaN
TITAN.NS,2702.0,5.86,1.02,1.44,2790.0,1090.0,5.18,3.0,1.0,1.0,H,1,1,V40,NaN
SIEMENS.NS,3723.0,22.94,1.82,1.78,3891.0,1143.0,6.11,5.0,1.0,1.0,H,0,0,NaN,NaN
BANKBARODA.NS,182.0,14.40,2.52,1.72,193.0,39.0,7.14,6.0,1.0,1.0,H,1,1,NaN,NaN
BRITANNIA.NS,4500.0,9.86,1.12,0.57,4635.0,2945.0,7.99,3.0,1.0,1.0,H,1,1,NaN,NaN
BHARTIARTL.NS,806.0,3.30,0.77,0.52,851.0,396.0,9.89,6.0,1.0,1.0,H,1,1,NaN,NaN
HINDUNILVR.NS,2641.0,2.86,0.08,0.71,2728.0,1897.0,10.47,3.0,1.0,1.0,H,1,1,V40,NaN
MARUTI.NS,9106.0,4.00,0.31,0.54,9528.0,6217.0,12.75,5.0,1.0,1.0,H,1,0,NaN,NaN

In [30]:
# prospects in bull run
tmp_df = df_prec_dev[~df_prec_dev.index.isin(mypf[mypf['InPortfolio'] == 1].Stock.values)]
tmp_df = tmp_df[(tmp_df['BizOutlook'] == 1) & (tmp_df['BizDurability'] == 1)]
tmp_df = tmp_df[(tmp_df['Slope%_200'] > 0) & (tmp_df['Slope%_50'] > tmp_df['Slope%_200'])]
print('qualified stocks: '+str(tmp_df.shape[0]))
tmp_df.sort_values(by = 'Slope%_50', ascending=False)

qualified stocks: 8

,Close,Dev%_200,Slope%_200,Slope%_50,Max,Min,Discount%,Upside%ATH,BizOutlook,BizDurability,Conviction,LatestQtr,StarStock,Criteria,Strategy
Stock,,,,,,,,,,,,,,,
NESTLEIND.NS,21690.0,10.99,0.88,1.58,22050.0,14623.0,4.85,2.0,1.0,1.0,H,0,0,V40,NaN
TITAN.NS,2702.0,5.86,1.02,1.44,2790.0,1090.0,5.18,3.0,1.0,1.0,H,1,1,V40,NaN
HDFCLIFE.NS,558.0,2.50,0.37,1.35,757.0,461.0,67.23,36.0,1.0,1.0,H,1,0,V40,NaN
COLPAL.NS,1609.0,5.01,0.20,1.18,1719.0,1246.0,23.26,7.0,1.0,1.0,H,1,1,V40,NaN
ICICIBANK.NS,954.0,7.95,0.90,1.12,954.0,333.0,0.00,0.0,1.0,1.0,H,1,1,V40,NaN
HINDUNILVR.NS,2641.0,2.86,0.08,0.71,2728.0,1897.0,10.47,3.0,1.0,1.0,H,1,1,V40,NaN
HAVELLS.NS,1260.0,2.24,0.16,0.66,1461.0,606.0,23.51,16.0,1.0,1.0,H,1,0,V40,NaN
MARUTI.NS,9106.0,4.00,0.31,0.54,9528.0,6217.0,12.75,5.0,1.0,1.0,H,1,0,NaN,NaN

In [31]:
# prospects about to turn around
tmp_df = df_prec_dev[~df_prec_dev.index.isin(mypf[mypf['InPortfolio'] == 1].Stock.values)]
tmp_df = tmp_df[(tmp_df['BizOutlook'] == 1) & (tmp_df['BizDurability'] == 1)]
tmp_df = tmp_df[(tmp_df['Slope%_200'] < 0) & (tmp_df['Slope%_50'] > tmp_df['Slope%_200'])]
print('qualified stocks: '+str(tmp_df.shape[0]))
tmp_df.sort_values(by = 'Slope%_50', ascending=False)

qualified stocks: 2

,Close,Dev%_200,Slope%_200,Slope%_50,Max,Min,Discount%,Upside%ATH,BizOutlook,BizDurability,Conviction,LatestQtr,StarStock,Criteria,Strategy
Stock,,,,,,,,,,,,,,,
BANDHANBNK.NS,238.0,-2.88,-0.82,0.46,422.0,187.0,78.30,77.0,1.0,1.0,L,1,1,NaN,NaN
INDUSTOWER.NS,145.0,-19.05,-2.23,-1.35,303.0,137.0,95.18,109.0,1.0,1.0,H,1,0,NaN,NaN

In [32]:
# cross-check the features
tmp_df = df_prec_dev[~df_prec_dev.index.isin(mypf[mypf['InPortfolio'] == 1].Stock.values)]
tmp_df = tmp_df[(tmp_df['BizOutlook'] != 1) | (tmp_df['BizDurability'] != 1)]
tmp_df = tmp_df[tmp_df['Upside%ATH'] > 40]
print('qualified stocks: '+str(tmp_df.shape[0]))
tmp_df.sort_values(by = 'Upside%ATH', ascending=False)

qualified stocks: 52

,Close,Dev%_200,Slope%_200,Slope%_50,Max,Min,Discount%,Upside%ATH,BizOutlook,BizDurability,Conviction,LatestQtr,StarStock,Criteria,Strategy
Stock,,,,,,,,,,,,,,,
ADANITRANS.NS,787.0,-66.74,-4.44,1.26,4105.0,235.0,85.74,422.0,1.0,-1.0,L,0,0,NaN,NaN
PEL.NS,741.0,-20.65,-5.35,-0.42,2866.0,635.0,95.25,287.0,-1.0,0.0,L,1,0,NaN,NaN
IBREALEST.NS,55.0,-23.75,-1.39,0.00,191.0,47.0,94.44,247.0,-1.0,-1.0,L,0,0,NaN,NaN
ADANIGREEN.NS,897.0,-45.37,-3.71,4.37,2970.0,414.0,81.10,231.0,-1.0,-1.0,L,1,1,NaN,NaN
JCHAC.NS,1086.0,-12.17,-1.94,-0.81,2837.0,1017.0,96.21,161.0,NaN,NaN,M,0,0,V40N,NaN
TEAMLEASE.NS,2263.0,-14.98,-2.63,-1.16,5281.0,2028.0,92.78,133.0,NaN,NaN,M,1,1,V40N,NaN
LALPATHLAB.NS,1940.0,-12.65,-0.18,0.21,4186.0,1748.0,92.12,116.0,NaN,NaN,M,1,0,V40N,NaN
ADANIENT.NS,1956.0,-32.39,-0.93,2.70,4165.0,248.0,56.40,113.0,1.0,0.0,M,1,1,NaN,NaN
BIOCON.NS,242.0,-7.38,-1.92,0.89,483.0,199.0,84.86,100.0,1.0,0.0,M,0,0,NaN,NaN
NETWORK18.NS,58.0,-8.59,0.00,0.00,114.0,32.0,68.29,97.0,-1.0,-1.0,L,1,0,NaN,NaN
ZEEL.NS,186.0,-20.96,-0.85,0.00,367.0,164.0,89.16,97.0,-1.0,1.0,L,0,0,NaN,NaN
WHIRLPOOL.NS,1368.0,-8.94,-1.20,0.38,2667.0,1254.0,91.93,95.0,1.0,0.0,M,1,0,V40,NaN
TASTYBITE.NS,10763.0,0.30,-0.94,1.44,20395.0,8010.0,77.77,89.0,NaN,NaN,M,1,0,NaN,NaN
DIXON.NS,3035.0,-16.89,-1.20,0.34,5750.0,1618.0,65.71,89.0,NaN,NaN,M,0,0,V40N,NaN
SFL.NS,1044.0,-18.15,-1.25,-1.13,1972.0,623.0,68.79,89.0,NaN,NaN,M,1,0,V40N,NaN
NAM-INDIA.NS,236.0,-6.97,-0.79,0.44,438.0,201.0,85.23,86.0,1.0,0.0,L,1,0,V40,NaN
NAUKRI.NS,3829.0,-1.21,-0.13,0.95,6984.0,3217.0,83.75,82.0,1.0,0.0,M,0,0,NaN,NaN
5PAISA.NS,313.0,1.11,0.65,1.01,553.0,243.0,77.42,77.0,NaN,NaN,M,0,0,V40N,NaN
MOTILALOFS.NS,622.0,-8.40,-1.18,0.33,1095.0,527.0,83.27,76.0,-1.0,0.0,L,1,0,V40N,NaN
AUROPHARMA.NS,590.0,16.84,0.59,2.74,1026.0,402.0,69.87,74.0,-1.0,0.0,L,0,0,NaN,NaN
AVANTIFEED.NS,367.0,-10.80,-0.97,0.00,640.0,329.0,87.78,74.0,NaN,NaN,M,0,0,NaN,NaN
DIVISLAB.NS,3098.0,-7.18,-0.66,1.15,5331.0,2751.0,86.55,72.0,-1.0,1.0,L,1,0,NaN,NaN
ISEC.NS,493.0,0.52,0.41,0.66,829.0,354.0,70.74,68.0,NaN,NaN,M,1,0,V40N,NaN
ICICIPRULI.NS,426.0,-11.10,-1.04,0.70,716.0,384.0,87.35,68.0,1.0,0.0,M,1,0,V40,NaN
NMDC.NS,106.0,-8.13,0.00,0.00,178.0,62.0,62.07,68.0,0.0,1.0,L,0,0,NaN,NaN
VOLTAS.NS,797.0,-8.04,-1.15,-1.20,1330.0,625.0,75.60,67.0,0.0,1.0,L,1,0,NaN,NaN
RAJESHEXPO.NS,580.0,-13.71,0.00,-1.17,949.0,440.0,72.50,64.0,NaN,NaN,M,0,0,V40N,NaN
TTKPRESTIG.NS,716.0,-14.23,-0.96,-0.70,1165.0,540.0,71.84,63.0,NaN,NaN,M,0,0,V40N,NaN
TECHM.NS,1072.0,2.11,0.38,-0.56,1750.0,662.0,62.32,63.0,-1.0,1.0,L,1,0,NaN,NaN
SYMPHONY.NS,873.0,-7.67,0.00,-2.66,1420.0,807.0,89.23,63.0,NaN,NaN,M,1,0,V40N,NaN
KANSAINER.NS,408.0,-6.76,0.23,0.00,664.0,361.0,84.49,63.0,NaN,NaN,M,1,0,V40N,NaN
SUZLON.NS,8.0,-5.56,0.00,0.00,13.0,3.0,50.00,62.0,-1.0,0.0,L,0,0,NaN,NaN
FINEORG.NS,4432.0,-20.15,-0.52,-0.48,7196.0,2199.0,55.31,62.0,NaN,NaN,M,0,0,V40N,NaN
MUTHOOTFIN.NS,1035.0,1.16,0.29,1.11,1651.0,897.0,81.70,60.0,-1.0,0.0,L,1,0,NaN,NaN
ACC.NS,1729.0,-20.47,-0.92,0.06,2748.0,1259.0,68.44,59.0,0.0,0.0,L,0,0,NaN,NaN
LUPIN.NS,774.0,10.31,0.85,1.74,1233.0,587.0,71.05,59.0,1.0,0.0,M,1,0,NaN,NaN
SAIL.NS,82.0,0.18,0.00,0.00,130.0,29.0,47.52,59.0,-1.0,1.0,L,0,0,NaN,NaN
ANGELONE.NS,1196.0,-9.40,-0.08,1.93,1894.0,208.0,41.40,58.0,NaN,NaN,M,0,0,V40N,NaN
PFIZER.NS,3824.0,-6.72,-0.37,0.05,6009.0,3442.0,85.12,57.0,0.0,1.0,L,1,0,V40,NaN
LTIM.NS,4803.0,4.73,0.48,-0.04,7439.0,2267.0,50.97,55.0,1.0,0.0,M,1,1,NaN,NaN
HINDALCO.NS,407.0,-5.41,0.70,-0.24,626.0,157.0,46.70,54.0,-1.0,1.0,L,0,0,NaN,NaN
TATAELXSI.NS,7027.0,-2.71,-0.76,1.22,10685.0,1060.0,38.01,52.0,NaN,NaN,M,0,0,V40N,NaN
NATIONALUM.NS,81.0,6.51,1.32,1.23,122.0,25.0,42.27,51.0,0.0,1.0,L,0,0,NaN,NaN
MCX.NS,1351.0,-5.23,0.00,-0.35,2039.0,1135.0,76.11,51.0,NaN,NaN,M,1,0,V40N,NaN
DEEPAKNTR.NS,1941.0,-2.80,0.40,0.65,2915.0,680.0,43.58,50.0,-1.0,1.0,L,1,0,NaN,NaN
EMAMILTD.NS,392.0,-8.16,-0.94,0.00,588.0,321.0,73.41,50.0,-1.0,1.0,L,0,0,NaN,NaN
YESBANK.NS,16.0,-7.94,0.00,0.00,24.0,11.0,61.54,50.0,0.0,0.0,L,1,0,NaN,NaN
ASTRAZEN.NS,3201.0,-1.74,0.37,-0.28,4650.0,2454.0,65.98,45.0,NaN,NaN,M,0,0,V40N,NaN
BAYERCROP.NS,4136.0,-9.74,-1.07,-0.46,6002.0,3970.0,91.83,45.0,NaN,NaN,M,0,0,V40N,NaN
TIPSINDLTD.NS,165.0,-0.33,0.00,1.27,236.0,17.0,32.42,43.0,0.0,1.0,L,1,0,NaN,NaN
SIS.NS,389.0,-1.84,-0.76,0.82,549.0,321.0,70.18,41.0,NaN,NaN,M,1,0,V40N,NaN
ADANIPORTS.NS,688.0,-10.05,-0.26,1.49,970.0,309.0,42.66,41.0,1.0,0.0,M,0,0,NaN,NaN

In [33]:
# analyse individual stock
stock_id = 'PVRINOX.NS'
df_prec_dev[df_prec_dev.index == stock_id]

,Close,Dev%_200,Slope%_200,Slope%_50,Max,Min,Discount%,Upside%ATH,BizOutlook,BizDurability,Conviction,LatestQtr,StarStock,Criteria,Strategy
Stock,,,,,,,,,,,,,,,
PVRINOX.NS,1373.0,-4.55,-3.13,-1.18,1483.0,1367.0,94.83,8.0,1.0,-1.0,L,0,0,NaN,NaN

In [34]:
# save the output
#df_prec_dev = df_prec_dev.reset_index()
#df_prec_dev.to_csv('/content/drive/My Drive/data/stocks/Nifty100-Upside-Analysis-ATH.csv', index=False)

In [35]:
# nifty in last 5 weeks
#stock_ids = ['ICICIGI','DABUR','MOTILALOFS','JPPOWER','EQUITAS','GLAND','JMFINANCIL','LUXIND','UJJIVANSFB','VAIBHAVGBL','VALIANTORG']
stock_prec_dev('BHARTIARTL.NS')[-21::5]

,Close,Stock,Dev%_200,Slope%_200,Slope%_50,Max,Min,Discount%,Upside%ATH
Date,,,,,,,,,
2023-04-20 00:00:00+05:30,772.0,BHARTIARTL.NS,0.56,0.65,0.00,851.0,396.0,17.36,10.0
2023-04-27 00:00:00+05:30,786.0,BHARTIARTL.NS,2.01,0.65,-0.26,851.0,396.0,14.29,8.0
2023-05-05 00:00:00+05:30,787.0,BHARTIARTL.NS,1.72,0.78,0.26,851.0,396.0,14.07,8.0
2023-05-12 00:00:00+05:30,792.0,BHARTIARTL.NS,1.92,0.77,0.26,851.0,396.0,12.97,7.0
2023-05-19 00:00:00+05:30,806.0,BHARTIARTL.NS,3.30,0.77,0.52,851.0,396.0,9.89,6.0