<a href="https://colab.research.google.com/github/ankit-rathi/Data-Science-with-Python/blob/master/Stock_Analysis/Nifty100_Performance_Over_Time.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install yfinance

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: yfinance in /usr/local/lib/python3.10/dist-packages (0.2.18)
Requirement already satisfied: requests>=2.26 in /usr/local/lib/python3.10/dist-packages (from yfinance) (2.27.1)
Requirement already satisfied: html5lib>=1.1 in /usr/local/lib/python3.10/dist-packages (from yfinance) (1.1)
Requirement already satisfied: frozendict>=2.3.4 in /usr/local/lib/python3.10/dist-packages (from yfinance) (2.3.7)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.10/dist-packages (from yfinance) (0.0.11)
Requirement already satisfied: numpy>=1.16.5 in /usr/local/lib/python3.10/dist-packages (from yfinance) (1.22.4)
Requirement already satisfied: lxml>=4.9.1 in /usr/local/lib/python3.10/dist-packages (from yfinance) (4.9.2)
Requirement already satisfied: cryptography>=3.3.2 in /usr/local/lib/python3.10/dist-packages (from yfinance) (40.0.2)
Requirement already satisfied: pandas>=1.3.0 in /usr/local/lib/python3.10/dist-packages (from yfinance) (1.5.3)
Requirement already satisfied: pytz>=2022.5 in /usr/local/lib/python3.10/dist-packages (from yfinance) (2022.7.1)
Requirement already satisfied: appdirs>=1.4.4 in /usr/local/lib/python3.10/dist-packages (from yfinance) (1.4.4)
Requirement already satisfied: beautifulsoup4>=4.11.1 in /usr/local/lib/python3.10/dist-packages (from yfinance) (4.11.2)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.10/dist-packages (from beautifulsoup4>=4.11.1->yfinance) (2.4.1)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.10/dist-packages (from cryptography>=3.3.2->yfinance) (1.15.1)
Requirement already satisfied: webencodings in /usr/local/lib/python3.10/dist-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.10/dist-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests>=2.26->yfinance) (2.0.12)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests>=2.26->yfinance) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests>=2.26->yfinance) (2022.12.7)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests>=2.26->yfinance) (3.4)
Requirement already satisfied: pycparser in /usr/local/lib/python3.10/dist-packages (from cffi>=1.12->cryptography>=3.3.2->yfinance) (2.21)

In [2]:
import pandas as pd
import numpy as np
from google.colab import drive
drive.mount('/content/drive')

mypf = pd.read_csv('/content/drive/My Drive/data/stocks/Nifty100Scrips.csv')

mypf = mypf[mypf['StarStock'] == 1]

stock_n100 = mypf['Symbol'].unique()

exclude = ['CADILAHC','MMTC']

stock_n100 = mypf[~mypf['Symbol'].isin(exclude) ]['Symbol']

#stock_ids

stock_ids = stock_n100

Mounted at /content/drive

In [3]:
import pandas as pd
import datetime
import warnings
warnings.filterwarnings('ignore')
import pandas_datareader.data as web
import yfinance as yfin
yfin.pdr_override()

start_date = (datetime.date.today() + datetime.timedelta(days=-5)).strftime('%Y-%m-%d')
end_date = (datetime.date.today() + datetime.timedelta(days=1)).strftime('%Y-%m-%d')

df_perform = pd.DataFrame()

for stock_id in stock_ids:
    stock_id = stock_id.upper() + '.NS'
    tmp = pd.DataFrame(web.DataReader(tickers = stock_id, start = start_date, end = end_date))
    tmp['Stock'] = stock_id
    tmp['Prev_Close'] = tmp['Close'].shift(1)
    tmp['Change%'] = round((tmp['Close'] - tmp['Prev_Close'])*100/tmp['Prev_Close'],2)
    tmp = tmp.tail(1)
    df_perform = df_perform.append(tmp)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [4]:
# losers
df_perform.sort_values(by = 'Change%')

,Open,High,Low,Close,Adj Close,Volume,Stock,Prev_Close,Change%
Date,,,,,,,,,
2023-05-08,332.049988,333.350006,318.299988,320.100006,320.100006,744055,INDIANB.NS,331.899994,-3.56
2023-05-08,922.000000,925.950012,903.299988,915.299988,915.299988,1087866,ADANIGREEN.NS,940.549988,-2.68
2023-05-08,232.500000,233.399994,230.000000,231.050003,231.050003,4783880,COALINDIA.NS,237.399994,-2.67
2023-05-08,318.200012,319.399994,311.149994,312.000000,312.000000,3943551,CANBK.NS,318.549988,-2.06
2023-05-08,1920.300049,1926.900024,1876.000000,1889.000000,1889.000000,1272370,ADANIENT.NS,1920.300049,-1.63
2023-05-08,4945.000000,4966.700195,4910.950195,4911.000000,4911.000000,46381,DRREDDY.NS,4942.500000,-0.64
2023-05-08,2377.449951,2385.000000,2362.350098,2366.199951,2366.199951,399321,LT.NS,2377.500000,-0.48
2023-05-08,927.200012,929.799988,920.549988,922.000000,922.000000,530071,CIPLA.NS,924.799988,-0.30
2023-05-08,3015.000000,3035.699951,2993.000000,3006.149902,3006.149902,253064,ASIANPAINT.NS,3012.949951,-0.23
2023-05-08,615.000000,618.000000,607.549988,616.549988,616.549988,185870,BERGEPAINT.NS,617.250000,-0.11
2023-05-08,3456.949951,3471.850098,3433.000000,3439.949951,3439.949951,36000,PIIND.NS,3443.199951,-0.09
2023-05-08,789.900024,790.599976,785.799988,787.950012,787.950012,445499,BHARTIARTL.NS,787.299988,0.08
2023-05-08,718.700012,718.700012,710.700012,716.450012,716.450012,984314,UPL.NS,714.849976,0.22
2023-05-08,41399.949219,41473.750000,41101.000000,41220.000000,41220.000000,3076,PAGEIND.NS,41117.898438,0.25
2023-05-08,4640.000000,4700.000000,4615.000000,4638.500000,4638.500000,299137,BRITANNIA.NS,4626.000000,0.27
2023-05-08,3245.000000,3250.000000,3231.300049,3242.350098,3242.350098,230247,TCS.NS,3230.699951,0.36
2023-05-08,2480.350098,2492.000000,2465.500000,2482.000000,2482.000000,108759,PIDILITIND.NS,2472.100098,0.40
2023-05-08,1262.449951,1265.800049,1255.199951,1264.250000,1264.250000,1347861,INFY.NS,1259.099976,0.41
2023-05-08,577.650024,582.650024,577.349976,579.150024,579.150024,3882501,SBIN.NS,576.500000,0.46
2023-05-08,201.500000,201.949997,199.500000,201.100006,201.100006,2101385,TATAPOWER.NS,200.149994,0.47
2023-05-08,1074.000000,1081.900024,1070.000000,1078.599976,1078.599976,54273,ICICIGI.NS,1072.150024,0.60
2023-05-08,1564.000000,1584.800049,1564.000000,1577.250000,1577.250000,42647,COLPAL.NS,1567.449951,0.63
2023-05-08,4520.000000,4535.000000,4490.000000,4516.549805,4516.549805,57528,LTIM.NS,4487.850098,0.64
2023-05-08,790.000000,796.000000,788.049988,792.799988,792.799988,116155,MCDOWELL-N.NS,787.049988,0.73
2023-05-08,628.000000,630.599976,625.400024,630.000000,630.000000,266015,IRCTC.NS,625.400024,0.74
2023-05-08,990.000000,1002.950012,978.500000,999.299988,999.299988,1121821,CHOLAFIN.NS,991.849976,0.75
2023-05-08,440.000000,448.149994,440.000000,446.600006,446.600006,14883,GODREJIND.NS,443.200012,0.77
2023-05-08,2450.000000,2464.899902,2444.149902,2461.350098,2461.350098,1034039,RELIANCE.NS,2441.750000,0.80
2023-05-08,2505.750000,2522.300049,2497.149902,2520.949951,2520.949951,232110,HINDUNILVR.NS,2500.750000,0.81
2023-05-08,467.850006,471.000000,464.649994,468.899994,468.899994,368620,JUBLFOOD.NS,465.149994,0.81
2023-05-08,3371.000000,3387.949951,3360.100098,3383.500000,3383.500000,56922,EICHERMOT.NS,3355.100098,0.85
2023-05-08,1058.000000,1065.550049,1055.000000,1065.099976,1065.099976,345014,HCLTECH.NS,1055.550049,0.90
2023-05-08,129.000000,130.850006,126.349998,128.949997,128.949997,13628041,FEDERALBNK.NS,127.750000,0.94
2023-05-08,776.799988,784.500000,776.400024,783.599976,783.599976,169508,TATACONSUM.NS,776.250000,0.95
2023-05-08,174.800003,176.500000,174.500000,176.050003,176.050003,1102228,NTPC.NS,174.250000,1.03
2023-05-08,431.000000,433.299988,429.350006,433.250000,433.250000,3428708,ITC.NS,428.750000,1.05
2023-05-08,1635.000000,1647.750000,1630.000000,1645.300049,1645.300049,4918923,HDFCBANK.NS,1625.650024,1.21
2023-05-08,485.799988,489.850006,482.450012,489.549988,489.549988,180681,IGL.NS,483.149994,1.32
2023-05-08,3615.100098,3648.500000,3610.000000,3646.199951,3646.199951,75568,DMART.NS,3598.199951,1.33
2023-05-08,2732.949951,2770.000000,2732.899902,2769.649902,2769.649902,389445,TITAN.NS,2732.899902,1.34
2023-05-08,927.000000,939.799988,927.000000,939.549988,939.549988,3244195,ICICIBANK.NS,926.950012,1.36
2023-05-08,2713.000000,2744.800049,2710.199951,2740.000000,2740.000000,1729726,HDFC.NS,2702.300049,1.40
2023-05-08,230.000000,233.399994,229.000000,233.000000,233.000000,1298069,BANDHANBNK.NS,229.600006,1.48
2023-05-08,508.000000,512.849976,506.049988,512.650024,512.650024,673632,DABUR.NS,505.000000,1.51
2023-05-08,804.950012,814.099976,802.000000,812.900024,812.900024,279017,SBICARD.NS,800.599976,1.54
2023-05-08,1753.750000,1781.949951,1752.199951,1780.900024,1780.900024,159822,GRASIM.NS,1752.500000,1.62
2023-05-08,4475.000000,4538.000000,4465.200195,4538.000000,4538.000000,101274,BAJAJ-AUTO.NS,4463.100098,1.68
2023-05-08,160.300003,163.250000,160.000000,163.250000,163.250000,2236886,ONGC.NS,160.300003,1.84
2023-05-08,1216.949951,1239.000000,1213.699951,1234.000000,1234.000000,936551,M&M.NS,1211.199951,1.88
2023-05-08,1367.800049,1389.000000,1363.099976,1386.500000,1386.500000,582881,BAJAJFINSV.NS,1359.250000,2.00
2023-05-08,677.150024,693.500000,673.299988,689.849976,689.849976,941688,AUBANK.NS,674.099976,2.34
2023-05-08,6394.450195,6558.049805,6388.000000,6558.049805,6558.049805,562419,BAJFINANCE.NS,6389.850098,2.63
2023-05-08,1087.000000,1134.650024,1087.000000,1126.199951,1126.199951,3571315,INDUSINDBK.NS,1073.300049,4.93
2023-05-08,1220.000000,1295.000000,1220.000000,1283.949951,1283.949951,298897,INDIGOPNTS.NS,1209.500000,6.16
2023-05-08,511.000000,539.799988,511.000000,533.000000,533.000000,5558472,MARICO.NS,493.600006,7.98

In [5]:
# gainers
df_perform.sort_values(by = 'Change%', ascending=False)

,Open,High,Low,Close,Adj Close,Volume,Stock,Prev_Close,Change%
Date,,,,,,,,,
2023-05-08,511.000000,539.799988,511.000000,533.000000,533.000000,5558472,MARICO.NS,493.600006,7.98
2023-05-08,1220.000000,1295.000000,1220.000000,1283.949951,1283.949951,298897,INDIGOPNTS.NS,1209.500000,6.16
2023-05-08,1087.000000,1134.650024,1087.000000,1126.199951,1126.199951,3571315,INDUSINDBK.NS,1073.300049,4.93
2023-05-08,6394.450195,6558.049805,6388.000000,6558.049805,6558.049805,562419,BAJFINANCE.NS,6389.850098,2.63
2023-05-08,677.150024,693.500000,673.299988,689.849976,689.849976,941688,AUBANK.NS,674.099976,2.34
2023-05-08,1367.800049,1389.000000,1363.099976,1386.500000,1386.500000,582881,BAJAJFINSV.NS,1359.250000,2.00
2023-05-08,1216.949951,1239.000000,1213.699951,1234.000000,1234.000000,936551,M&M.NS,1211.199951,1.88
2023-05-08,160.300003,163.250000,160.000000,163.250000,163.250000,2236886,ONGC.NS,160.300003,1.84
2023-05-08,4475.000000,4538.000000,4465.200195,4538.000000,4538.000000,101274,BAJAJ-AUTO.NS,4463.100098,1.68
2023-05-08,1753.750000,1781.949951,1752.199951,1780.900024,1780.900024,159822,GRASIM.NS,1752.500000,1.62
2023-05-08,804.950012,814.099976,802.000000,812.900024,812.900024,279017,SBICARD.NS,800.599976,1.54
2023-05-08,508.000000,512.849976,506.049988,512.650024,512.650024,673632,DABUR.NS,505.000000,1.51
2023-05-08,230.000000,233.399994,229.000000,233.000000,233.000000,1298069,BANDHANBNK.NS,229.600006,1.48
2023-05-08,2713.000000,2744.800049,2710.199951,2740.000000,2740.000000,1729726,HDFC.NS,2702.300049,1.40
2023-05-08,927.000000,939.799988,927.000000,939.549988,939.549988,3244195,ICICIBANK.NS,926.950012,1.36
2023-05-08,2732.949951,2770.000000,2732.899902,2769.649902,2769.649902,389445,TITAN.NS,2732.899902,1.34
2023-05-08,3615.100098,3648.500000,3610.000000,3646.199951,3646.199951,75568,DMART.NS,3598.199951,1.33
2023-05-08,485.799988,489.850006,482.450012,489.549988,489.549988,180681,IGL.NS,483.149994,1.32
2023-05-08,1635.000000,1647.750000,1630.000000,1645.300049,1645.300049,4918923,HDFCBANK.NS,1625.650024,1.21
2023-05-08,431.000000,433.299988,429.350006,433.250000,433.250000,3428708,ITC.NS,428.750000,1.05
2023-05-08,174.800003,176.500000,174.500000,176.050003,176.050003,1102228,NTPC.NS,174.250000,1.03
2023-05-08,776.799988,784.500000,776.400024,783.599976,783.599976,169508,TATACONSUM.NS,776.250000,0.95
2023-05-08,129.000000,130.850006,126.349998,128.949997,128.949997,13628041,FEDERALBNK.NS,127.750000,0.94
2023-05-08,1058.000000,1065.550049,1055.000000,1065.099976,1065.099976,345014,HCLTECH.NS,1055.550049,0.90
2023-05-08,3371.000000,3387.949951,3360.100098,3383.500000,3383.500000,56922,EICHERMOT.NS,3355.100098,0.85
2023-05-08,467.850006,471.000000,464.649994,468.899994,468.899994,368620,JUBLFOOD.NS,465.149994,0.81
2023-05-08,2505.750000,2522.300049,2497.149902,2520.949951,2520.949951,232110,HINDUNILVR.NS,2500.750000,0.81
2023-05-08,2450.000000,2464.899902,2444.149902,2461.350098,2461.350098,1034039,RELIANCE.NS,2441.750000,0.80
2023-05-08,440.000000,448.149994,440.000000,446.600006,446.600006,14883,GODREJIND.NS,443.200012,0.77
2023-05-08,990.000000,1002.950012,978.500000,999.299988,999.299988,1121821,CHOLAFIN.NS,991.849976,0.75
2023-05-08,628.000000,630.599976,625.400024,630.000000,630.000000,266015,IRCTC.NS,625.400024,0.74
2023-05-08,790.000000,796.000000,788.049988,792.799988,792.799988,116155,MCDOWELL-N.NS,787.049988,0.73
2023-05-08,4520.000000,4535.000000,4490.000000,4516.549805,4516.549805,57528,LTIM.NS,4487.850098,0.64
2023-05-08,1564.000000,1584.800049,1564.000000,1577.250000,1577.250000,42647,COLPAL.NS,1567.449951,0.63
2023-05-08,1074.000000,1081.900024,1070.000000,1078.599976,1078.599976,54273,ICICIGI.NS,1072.150024,0.60
2023-05-08,201.500000,201.949997,199.500000,201.100006,201.100006,2101385,TATAPOWER.NS,200.149994,0.47
2023-05-08,577.650024,582.650024,577.349976,579.150024,579.150024,3882501,SBIN.NS,576.500000,0.46
2023-05-08,1262.449951,1265.800049,1255.199951,1264.250000,1264.250000,1347861,INFY.NS,1259.099976,0.41
2023-05-08,2480.350098,2492.000000,2465.500000,2482.000000,2482.000000,108759,PIDILITIND.NS,2472.100098,0.40
2023-05-08,3245.000000,3250.000000,3231.300049,3242.350098,3242.350098,230247,TCS.NS,3230.699951,0.36
2023-05-08,4640.000000,4700.000000,4615.000000,4638.500000,4638.500000,299137,BRITANNIA.NS,4626.000000,0.27
2023-05-08,41399.949219,41473.750000,41101.000000,41220.000000,41220.000000,3076,PAGEIND.NS,41117.898438,0.25
2023-05-08,718.700012,718.700012,710.700012,716.450012,716.450012,984314,UPL.NS,714.849976,0.22
2023-05-08,789.900024,790.599976,785.799988,787.950012,787.950012,445499,BHARTIARTL.NS,787.299988,0.08
2023-05-08,3456.949951,3471.850098,3433.000000,3439.949951,3439.949951,36000,PIIND.NS,3443.199951,-0.09
2023-05-08,615.000000,618.000000,607.549988,616.549988,616.549988,185870,BERGEPAINT.NS,617.250000,-0.11
2023-05-08,3015.000000,3035.699951,2993.000000,3006.149902,3006.149902,253064,ASIANPAINT.NS,3012.949951,-0.23
2023-05-08,927.200012,929.799988,920.549988,922.000000,922.000000,530071,CIPLA.NS,924.799988,-0.30
2023-05-08,2377.449951,2385.000000,2362.350098,2366.199951,2366.199951,399321,LT.NS,2377.500000,-0.48
2023-05-08,4945.000000,4966.700195,4910.950195,4911.000000,4911.000000,46381,DRREDDY.NS,4942.500000,-0.64
2023-05-08,1920.300049,1926.900024,1876.000000,1889.000000,1889.000000,1272370,ADANIENT.NS,1920.300049,-1.63
2023-05-08,318.200012,319.399994,311.149994,312.000000,312.000000,3943551,CANBK.NS,318.549988,-2.06
2023-05-08,232.500000,233.399994,230.000000,231.050003,231.050003,4783880,COALINDIA.NS,237.399994,-2.67
2023-05-08,922.000000,925.950012,903.299988,915.299988,915.299988,1087866,ADANIGREEN.NS,940.549988,-2.68
2023-05-08,332.049988,333.350006,318.299988,320.100006,320.100006,744055,INDIANB.NS,331.899994,-3.56

In [6]:
d = 365*5
start_date = (datetime.date.today() + datetime.timedelta(days=-d)).strftime('%Y-%m-%d')
end_date = (datetime.date.today() + datetime.timedelta(days=0)).strftime('%Y-%m-%d')

df_perform = pd.DataFrame()

for stock_id in stock_ids:
    stock_id = stock_id.upper() + '.NS'


    df_stock = pd.DataFrame(web.DataReader(tickers = stock_id, start = start_date, end = end_date))

    CMP = df_stock['Close'].values[-1]
    D1 = round((df_stock['Close'].values[-1] - df_stock['Close'].shift(1).values[-1])*100/df_stock['Close'].shift(1).values[-1],2)
    W1 = round((df_stock['Close'].values[-1] - df_stock['Close'].shift(5).values[-1])*100/df_stock['Close'].shift(5).values[-1],2)
    M1 = round((df_stock['Close'].values[-1] - df_stock['Close'].shift(20).values[-1])*100/df_stock['Close'].shift(20).values[-1],2)
    M3 = round((df_stock['Close'].values[-1] - df_stock['Close'].shift(60).values[-1])*100/df_stock['Close'].shift(60).values[-1],2)
    M6 = round((df_stock['Close'].values[-1] - df_stock['Close'].shift(120).values[-1])*100/df_stock['Close'].shift(120).values[-1],2)
    Y1 = round((df_stock['Close'].values[-1] - df_stock['Close'].shift(240).values[-1])*100/df_stock['Close'].shift(240).values[-1],2)
    Y2 = round(((df_stock['Close'].values[-1]/df_stock['Close'].shift(240*2).values[-1])**.5 - 1)*100,2)
    Y3 = round(((df_stock['Close'].values[-1]/df_stock['Close'].shift(240*3).values[-1])**.33 - 1)*100,2)
    Y5 = round(((df_stock['Close'].values[-1]/df_stock['Close'].shift(240*5).values[-1])**.2 - 1)*100,2)
    
    
    tmp = {'Stock':[stock_id],
           'CMP': CMP,
           '1D%' : [D1],
           '1W%' : [W1],
           '1M%' : [M1],
           '3M%' : [M3],
           '6M%' : [M6],
           '1Y%' : [Y1],
           '2Y%' : [Y2],
           '3Y%' : [Y3],
           '5Y%' : [Y5]
           }

    tmp = pd.DataFrame(tmp)
    
    df_perform = df_perform.append(tmp)

df_perform

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

,Stock,CMP,1D%,1W%,1M%,3M%,6M%,1Y%,2Y%,3Y%,5Y%
0,ADANIENT.NS,1920.300049,0.47,3.63,11.81,22.68,-51.96,-12.11,21.42,130.79,87.15
0,ADANIGREEN.NS,940.549988,-0.53,2.56,12.31,-9.55,-57.55,-58.85,-12.87,40.40,99.92
0,ASIANPAINT.NS,3012.949951,1.01,3.90,8.50,11.36,-2.38,-1.21,1.22,22.29,18.90
0,AUBANK.NS,674.099976,-1.62,4.60,19.78,7.80,4.91,2.49,16.38,41.16,14.66
0,BAJAJ-AUTO.NS,4463.100098,0.12,1.25,11.75,17.74,19.35,19.24,3.09,16.88,9.52
0,BAJFINANCE.NS,6389.850098,-0.01,3.06,11.81,11.76,-10.56,9.47,6.72,37.21,22.29
0,BAJAJFINSV.NS,1359.250000,-1.11,-0.06,5.95,6.87,-22.45,4.78,7.72,36.57,17.09
0,BANDHANBNK.NS,229.600006,-1.63,1.21,12.49,1.21,0.42,-32.78,-13.02,-6.72,-15.60
0,BERGEPAINT.NS,617.250000,-0.53,2.43,6.50,14.18,4.85,-3.77,-12.28,7.08,16.69
0,BHARTIARTL.NS,787.299988,-0.23,0.10,3.52,1.23,-3.88,11.35,22.62,11.89,18.02
0,BRITANNIA.NS,4626.000000,0.85,4.76,6.98,1.16,10.79,37.32,16.24,11.06,9.20
0,CANBK.NS,318.549988,-1.64,3.09,10.92,11.73,1.42,57.11,40.27,44.80,4.19
0,CHOLAFIN.NS,991.849976,4.38,16.09,27.39,27.98,33.20,50.35,35.02,82.57,25.34
0,CIPLA.NS,924.799988,-0.93,1.19,3.74,-9.80,-18.12,-1.41,-0.51,12.71,8.47
0,COALINDIA.NS,237.399994,-0.02,2.44,7.84,9.07,-7.19,28.64,27.12,20.58,-2.16
0,COLPAL.NS,1567.449951,-1.07,-0.75,2.82,7.25,-1.07,-0.50,-4.29,4.94,5.84
0,DABUR.NS,505.000000,-4.79,-4.79,-7.78,-8.92,-8.87,0.63,-2.42,3.45,5.57
0,DMART.NS,3598.199951,0.38,2.78,1.25,2.72,-13.48,-1.61,9.12,14.33,19.22
0,DRREDDY.NS,4942.500000,-0.51,0.49,6.14,13.10,8.99,26.60,-2.46,7.16,16.17
0,EICHERMOT.NS,3355.100098,0.47,2.81,11.68,4.28,-10.12,23.96,12.77,25.50,2.86
0,FEDERALBNK.NS,127.750000,-8.36,-4.63,-4.06,-4.16,-7.49,47.35,19.81,37.33,9.03
0,GODREJIND.NS,443.200012,-0.75,-0.34,7.23,3.32,5.49,-3.29,-8.39,5.44,-6.03
0,GRASIM.NS,1752.500000,-0.42,3.00,7.65,9.62,0.40,18.30,9.36,42.28,11.64
0,HCLTECH.NS,1055.550049,-1.05,-1.47,-3.88,-8.18,0.20,-2.53,5.82,22.50,18.47
0,HDFC.NS,2702.300049,-5.58,-2.55,2.79,3.41,7.94,23.36,3.12,14.51,7.22
0,HDFCBANK.NS,1625.650024,-5.91,-3.29,0.94,1.39,7.78,23.72,3.98,18.07,9.31
0,HINDUNILVR.NS,2500.750000,-0.24,1.29,-1.39,-5.09,-0.32,11.39,3.78,5.81,9.23
0,ICICIBANK.NS,926.950012,0.57,0.94,4.88,8.05,1.81,30.56,20.06,38.67,25.26
0,ICICIGI.NS,1072.150024,-1.62,0.57,-0.70,-5.15,-7.21,-18.24,-15.00,-6.19,8.04
0,IGL.NS,483.149994,-0.35,-1.12,14.89,13.78,15.96,24.99,-3.01,0.08,13.56
0,INDIANB.NS,331.899994,0.12,4.72,14.39,13.57,24.10,115.31,52.59,81.46,-0.75
0,INDIGOPNTS.NS,1209.500000,0.92,6.08,13.80,5.17,-15.48,-21.05,-30.52,NaN,NaN
0,INDUSINDBK.NS,1073.300049,-5.40,-6.24,-0.51,-0.24,-6.59,18.75,2.61,26.34,-11.29
0,INFY.NS,1259.099976,-1.13,1.03,-10.76,-20.50,-16.68,-17.08,-5.34,21.84,15.08
0,IRCTC.NS,625.400024,-0.98,3.18,9.66,-0.76,-17.85,-8.45,28.42,29.60,NaN
0,ITC.NS,428.750000,0.98,3.06,13.16,13.25,18.87,61.98,41.91,29.94,10.09
0,JUBLFOOD.NS,465.149994,-1.43,4.55,6.76,6.78,-17.88,-6.13,-13.67,10.11,10.77
0,LT.NS,2377.500000,0.87,3.12,9.55,10.84,18.67,48.21,26.83,36.48,12.84
0,LTIM.NS,4487.850098,-0.29,3.88,-5.32,-2.18,-7.22,4.81,6.86,33.97,21.81
0,M&M.NS,1211.199951,-1.66,-1.05,3.53,-10.44,-9.45,32.98,19.66,33.17,5.93
0,MARICO.NS,493.600006,-0.74,-0.86,2.90,-1.22,-1.72,-1.88,2.37,13.89,8.15
0,MCDOWELL-N.NS,787.049988,0.44,2.51,4.85,2.05,-10.23,-5.60,13.47,8.34,2.93
0,NTPC.NS,174.250000,-1.19,1.93,-2.00,4.40,0.49,15.78,26.47,21.37,5.86
0,ONGC.NS,160.300003,-0.43,0.16,4.33,11.75,15.61,-1.75,19.45,23.82,0.09
0,PAGEIND.NS,41117.898438,0.58,1.00,8.81,2.66,-17.07,-2.30,14.50,30.04,8.78
0,PIDILITIND.NS,2472.100098,0.28,3.47,6.21,7.88,-6.79,13.95,9.55,19.80,18.66
0,PIIND.NS,3443.199951,0.49,12.31,15.69,14.76,-4.98,36.73,14.94,28.79,34.21
0,RELIANCE.NS,2441.750000,-0.26,2.72,4.73,4.93,-6.23,-3.46,7.96,15.24,19.48
0,SBICARD.NS,800.599976,0.51,2.09,7.14,8.58,-1.68,9.49,-12.56,10.57,NaN
0,SBIN.NS,576.500000,-0.60,2.08,9.44,9.16,-6.34,23.37,16.87,47.06,16.12
0,TATACONSUM.NS,776.250000,0.10,2.95,8.26,5.30,0.79,5.72,8.87,27.59,24.25
0,TATAPOWER.NS,200.149994,-1.82,0.83,3.20,-2.98,-13.49,-17.00,37.84,67.80,21.32
0,TCS.NS,3230.699951,0.31,1.34,0.96,-6.64,0.46,-6.40,1.38,16.39,12.29
0,TITAN.NS,2732.899902,2.34,2.61,7.70,18.40,0.54,25.57,31.64,40.38,25.51
0,UPL.NS,714.849976,-2.28,-1.70,-2.03,2.65,-5.14,-12.54,-6.16,19.98,10.87

In [7]:
df_perform.sort_values(by = '1M%', ascending = False).head(20)

,Stock,CMP,1D%,1W%,1M%,3M%,6M%,1Y%,2Y%,3Y%,5Y%
0,CHOLAFIN.NS,991.849976,4.38,16.09,27.39,27.98,33.20,50.35,35.02,82.57,25.34
0,AUBANK.NS,674.099976,-1.62,4.60,19.78,7.80,4.91,2.49,16.38,41.16,14.66
0,PIIND.NS,3443.199951,0.49,12.31,15.69,14.76,-4.98,36.73,14.94,28.79,34.21
0,IGL.NS,483.149994,-0.35,-1.12,14.89,13.78,15.96,24.99,-3.01,0.08,13.56
0,INDIANB.NS,331.899994,0.12,4.72,14.39,13.57,24.10,115.31,52.59,81.46,-0.75
0,INDIGOPNTS.NS,1209.500000,0.92,6.08,13.80,5.17,-15.48,-21.05,-30.52,NaN,NaN
0,ITC.NS,428.750000,0.98,3.06,13.16,13.25,18.87,61.98,41.91,29.94,10.09
0,BANDHANBNK.NS,229.600006,-1.63,1.21,12.49,1.21,0.42,-32.78,-13.02,-6.72,-15.60
0,ADANIGREEN.NS,940.549988,-0.53,2.56,12.31,-9.55,-57.55,-58.85,-12.87,40.40,99.92
0,ADANIENT.NS,1920.300049,0.47,3.63,11.81,22.68,-51.96,-12.11,21.42,130.79,87.15
0,BAJFINANCE.NS,6389.850098,-0.01,3.06,11.81,11.76,-10.56,9.47,6.72,37.21,22.29
0,BAJAJ-AUTO.NS,4463.100098,0.12,1.25,11.75,17.74,19.35,19.24,3.09,16.88,9.52
0,EICHERMOT.NS,3355.100098,0.47,2.81,11.68,4.28,-10.12,23.96,12.77,25.50,2.86
0,CANBK.NS,318.549988,-1.64,3.09,10.92,11.73,1.42,57.11,40.27,44.80,4.19
0,IRCTC.NS,625.400024,-0.98,3.18,9.66,-0.76,-17.85,-8.45,28.42,29.60,NaN
0,LT.NS,2377.500000,0.87,3.12,9.55,10.84,18.67,48.21,26.83,36.48,12.84
0,SBIN.NS,576.500000,-0.60,2.08,9.44,9.16,-6.34,23.37,16.87,47.06,16.12
0,PAGEIND.NS,41117.898438,0.58,1.00,8.81,2.66,-17.07,-2.30,14.50,30.04,8.78
0,ASIANPAINT.NS,3012.949951,1.01,3.90,8.50,11.36,-2.38,-1.21,1.22,22.29,18.90
0,TATACONSUM.NS,776.250000,0.10,2.95,8.26,5.30,0.79,5.72,8.87,27.59,24.25

In [8]:
df_perform.sort_values(by = '1M%', ascending = True).head(20)

,Stock,CMP,1D%,1W%,1M%,3M%,6M%,1Y%,2Y%,3Y%,5Y%
0,INFY.NS,1259.099976,-1.13,1.03,-10.76,-20.50,-16.68,-17.08,-5.34,21.84,15.08
0,DABUR.NS,505.000000,-4.79,-4.79,-7.78,-8.92,-8.87,0.63,-2.42,3.45,5.57
0,LTIM.NS,4487.850098,-0.29,3.88,-5.32,-2.18,-7.22,4.81,6.86,33.97,21.81
0,FEDERALBNK.NS,127.750000,-8.36,-4.63,-4.06,-4.16,-7.49,47.35,19.81,37.33,9.03
0,HCLTECH.NS,1055.550049,-1.05,-1.47,-3.88,-8.18,0.20,-2.53,5.82,22.50,18.47
0,UPL.NS,714.849976,-2.28,-1.70,-2.03,2.65,-5.14,-12.54,-6.16,19.98,10.87
0,NTPC.NS,174.250000,-1.19,1.93,-2.00,4.40,0.49,15.78,26.47,21.37,5.86
0,HINDUNILVR.NS,2500.750000,-0.24,1.29,-1.39,-5.09,-0.32,11.39,3.78,5.81,9.23
0,ICICIGI.NS,1072.150024,-1.62,0.57,-0.70,-5.15,-7.21,-18.24,-15.00,-6.19,8.04
0,INDUSINDBK.NS,1073.300049,-5.40,-6.24,-0.51,-0.24,-6.59,18.75,2.61,26.34,-11.29
0,HDFCBANK.NS,1625.650024,-5.91,-3.29,0.94,1.39,7.78,23.72,3.98,18.07,9.31
0,TCS.NS,3230.699951,0.31,1.34,0.96,-6.64,0.46,-6.40,1.38,16.39,12.29
0,DMART.NS,3598.199951,0.38,2.78,1.25,2.72,-13.48,-1.61,9.12,14.33,19.22
0,HDFC.NS,2702.300049,-5.58,-2.55,2.79,3.41,7.94,23.36,3.12,14.51,7.22
0,COLPAL.NS,1567.449951,-1.07,-0.75,2.82,7.25,-1.07,-0.50,-4.29,4.94,5.84
0,MARICO.NS,493.600006,-0.74,-0.86,2.90,-1.22,-1.72,-1.88,2.37,13.89,8.15
0,TATAPOWER.NS,200.149994,-1.82,0.83,3.20,-2.98,-13.49,-17.00,37.84,67.80,21.32
0,BHARTIARTL.NS,787.299988,-0.23,0.10,3.52,1.23,-3.88,11.35,22.62,11.89,18.02
0,M&M.NS,1211.199951,-1.66,-1.05,3.53,-10.44,-9.45,32.98,19.66,33.17,5.93
0,CIPLA.NS,924.799988,-0.93,1.19,3.74,-9.80,-18.12,-1.41,-0.51,12.71,8.47

In [9]:
import pandas as pd
import datetime
import warnings
warnings.filterwarnings('ignore')
import pandas_datareader.data as web
import yfinance as yfin
yfin.pdr_override()

start_date = (datetime.date.today() + datetime.timedelta(days=-60)).strftime('%Y-%m-%d')
end_date = (datetime.date.today() + datetime.timedelta(days=0)).strftime('%Y-%m-%d')

df_perform = pd.DataFrame()

for stock_id in stock_ids:
    stock_id = stock_id.upper() + '.NS'
    tmp = pd.DataFrame(web.DataReader(tickers = stock_id, start = start_date, end = end_date))
    tmp['Stock'] = stock_id
    tmp['Prev_Close'] = tmp['Close'].shift(1)
    tmp['Change%'] = round((tmp['Close'] - tmp['Prev_Close'])*100/tmp['Prev_Close'],2)
    df_perform = df_perform.append(tmp)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [10]:
# losers
df_perform.sort_values(by = 'Change%').head(20)

,Open,High,Low,Close,Adj Close,Volume,Stock,Prev_Close,Change%
Date,,,,,,,,,
2023-04-17,1250.300049,1261.150024,1185.300049,1258.300049,1258.300049,53171705,INFY.NS,1389.199951,-9.42
2023-03-14,281.700012,285.700012,254.000000,258.500000,258.500000,5100639,INDIANB.NS,282.399994,-8.46
2023-05-05,140.000000,140.300003,127.000000,127.750000,127.750000,52169855,FEDERALBNK.NS,139.399994,-8.36
2023-03-13,1119.000000,1119.500000,1055.000000,1060.099976,1060.099976,12242080,INDUSINDBK.NS,1144.800049,-7.40
2023-03-14,1874.000000,1874.849976,1651.349976,1738.199951,1738.199951,12679663,ADANIENT.NS,1874.400024,-7.27
2023-03-28,1727.949951,1733.000000,1573.000000,1600.849976,1600.849976,8144878,ADANIENT.NS,1723.050049,-7.09
2023-04-17,4482.000000,4490.000000,4181.799805,4332.600098,4332.600098,1763639,LTIM.NS,4646.399902,-6.75
2023-05-05,1639.000000,1660.949951,1622.099976,1625.650024,1625.650024,31385208,HDFCBANK.NS,1727.800049,-5.91
2023-05-05,2719.000000,2758.000000,2697.000000,2702.300049,2702.300049,8824448,HDFC.NS,2862.050049,-5.58
2023-03-14,217.899994,218.149994,205.199997,206.050003,206.050003,15322776,BANDHANBNK.NS,217.899994,-5.44
2023-05-05,1131.000000,1154.949951,1065.349976,1073.300049,1073.300049,8504838,INDUSINDBK.NS,1134.599976,-5.40
2023-03-28,195.800003,195.800003,182.149994,187.449997,187.449997,26339803,BANDHANBNK.NS,197.800003,-5.23
2023-03-28,950.000000,953.799988,935.650024,935.650024,935.650024,1057688,ADANIGREEN.NS,984.900024,-5.00
2023-04-03,884.799988,887.000000,837.099976,837.450012,837.450012,2788282,ADANIGREEN.NS,881.150024,-4.96
2023-04-19,1125.050049,1125.050049,1070.550049,1076.199951,1076.199951,3169350,ICICIGI.NS,1130.750000,-4.82
2023-05-05,517.500000,527.000000,503.649994,505.000000,505.000000,6512813,DABUR.NS,530.400024,-4.79
2023-03-13,619.000000,622.349976,594.049988,596.450012,596.450012,3529195,AUBANK.NS,624.500000,-4.49
2023-03-24,212.750000,213.000000,202.000000,203.100006,203.100006,7957836,BANDHANBNK.NS,212.500000,-4.42
2023-03-29,888.900024,973.950012,888.900024,894.349976,894.349976,8902722,ADANIGREEN.NS,935.650024,-4.41
2023-04-06,3644.850098,3644.850098,3480.100098,3496.100098,3496.100098,886236,DMART.NS,3654.850098,-4.34

In [11]:
# gainers
df_perform.sort_values(by = 'Change%', ascending=False).head(20)

,Open,High,Low,Close,Adj Close,Volume,Stock,Prev_Close,Change%
Date,,,,,,,,,
2023-04-13,630.000000,689.900024,625.000000,679.200012,679.200012,30807207,AUBANK.NS,580.150024,17.07
2023-04-28,3240.000000,3462.250000,3240.000000,3384.500000,3384.500000,2940105,PIIND.NS,3065.699951,10.40
2023-03-29,1602.949951,1756.000000,1591.099976,1740.400024,1740.400024,9332702,ADANIENT.NS,1600.849976,8.72
2023-04-17,287.950012,312.000000,285.350006,309.500000,309.500000,4882455,INDIANB.NS,287.049988,7.82
2023-04-06,795.000000,847.049988,795.000000,841.400024,841.400024,12172829,CHOLAFIN.NS,782.650024,7.51
2023-05-04,920.049988,970.000000,920.049988,950.200012,950.200012,12337614,CHOLAFIN.NS,886.599976,7.17
2023-04-20,1089.000000,1197.000000,1080.349976,1135.949951,1135.949951,1823891,INDIGOPNTS.NS,1068.050049,6.36
2023-03-15,1760.900024,1891.449951,1728.099976,1839.000000,1839.000000,12296703,ADANIENT.NS,1738.199951,5.80
2023-04-05,423.000000,445.000000,421.250000,443.600006,443.600006,4047282,IGL.NS,420.549988,5.48
2023-04-03,1014.000000,1072.500000,1014.000000,1062.849976,1062.849976,97967,INDIGOPNTS.NS,1008.349976,5.40
2023-03-10,675.000000,682.700012,663.250000,682.700012,682.700012,2561407,ADANIGREEN.NS,650.200012,5.00
2023-03-17,810.000000,816.250000,803.250000,816.250000,816.250000,3378276,ADANIGREEN.NS,777.400024,5.00
2023-03-21,868.000000,891.049988,865.650024,891.049988,891.049988,3819655,ADANIGREEN.NS,848.650024,5.00
2023-03-22,923.000000,935.599976,923.000000,935.599976,935.599976,1825044,ADANIGREEN.NS,891.049988,5.00
2023-03-23,982.000000,982.349976,977.750000,982.349976,982.349976,1170710,ADANIGREEN.NS,935.599976,5.00
2023-03-16,766.150024,777.400024,755.000000,777.400024,777.400024,3038749,ADANIGREEN.NS,740.400024,5.00
2023-04-10,897.000000,899.150024,885.650024,899.150024,899.150024,1891503,ADANIGREEN.NS,856.349976,5.00
2023-04-06,838.900024,856.349976,808.549988,856.349976,856.349976,3002370,ADANIGREEN.NS,815.599976,5.00
2023-04-11,936.000000,944.099976,936.000000,944.099976,944.099976,1163105,ADANIGREEN.NS,899.150024,5.00
2023-03-13,716.799988,716.799988,716.799988,716.799988,716.799988,854810,ADANIGREEN.NS,682.700012,4.99

In [12]:
df_perform[df_perform['Stock'] == 'RELIANCE.NS']

,Open,High,Low,Close,Adj Close,Volume,Stock,Prev_Close,Change%
Date,,,,,,,,,
2023-03-09,2416.000000,2416.899902,2355.100098,2359.250000,2359.250000,7492509,RELIANCE.NS,NaN,NaN
2023-03-10,2341.500000,2344.000000,2315.050049,2322.699951,2322.699951,6153681,RELIANCE.NS,2359.250000,-1.55
2023-03-13,2329.000000,2344.000000,2275.000000,2284.500000,2284.500000,5894088,RELIANCE.NS,2322.699951,-1.64
2023-03-14,2280.000000,2304.949951,2269.050049,2275.949951,2275.949951,7396699,RELIANCE.NS,2284.500000,-0.37
2023-03-15,2284.100098,2298.300049,2227.399902,2237.050049,2237.050049,10027725,RELIANCE.NS,2275.949951,-1.71
2023-03-16,2243.000000,2254.000000,2202.199951,2225.899902,2225.899902,8474595,RELIANCE.NS,2237.050049,-0.50
2023-03-17,2244.750000,2251.949951,2212.699951,2223.100098,2223.100098,15697554,RELIANCE.NS,2225.899902,-0.13
2023-03-20,2215.000000,2220.000000,2180.000000,2201.250000,2201.250000,9010595,RELIANCE.NS,2223.100098,-0.98
2023-03-21,2218.949951,2274.000000,2217.000000,2269.699951,2269.699951,9876263,RELIANCE.NS,2201.250000,3.11
2023-03-22,2285.000000,2291.449951,2270.000000,2276.600098,2276.600098,5039622,RELIANCE.NS,2269.699951,0.30
2023-03-23,2268.000000,2269.899902,2243.050049,2247.800049,2247.800049,7499082,RELIANCE.NS,2276.600098,-1.27
2023-03-24,2245.250000,2250.000000,2198.000000,2203.300049,2203.300049,5711497,RELIANCE.NS,2247.800049,-1.98
2023-03-27,2217.500000,2254.000000,2200.199951,2237.550049,2237.550049,6486068,RELIANCE.NS,2203.300049,1.55
2023-03-28,2245.000000,2256.500000,2237.000000,2248.000000,2248.000000,5804018,RELIANCE.NS,2237.550049,0.47
2023-03-29,2239.000000,2244.800049,2211.100098,2234.699951,2234.699951,8678073,RELIANCE.NS,2248.000000,-0.59
2023-03-31,2255.000000,2343.449951,2254.699951,2331.050049,2331.050049,13001005,RELIANCE.NS,2234.699951,4.31
2023-04-03,2345.000000,2349.000000,2315.000000,2331.449951,2331.449951,4750238,RELIANCE.NS,2331.050049,0.02
2023-04-05,2348.000000,2348.000000,2308.550049,2325.850098,2325.850098,7505339,RELIANCE.NS,2331.449951,-0.24
2023-04-06,2318.149902,2354.000000,2318.149902,2341.449951,2341.449951,8507771,RELIANCE.NS,2325.850098,0.67
2023-04-10,2350.000000,2350.399902,2321.550049,2324.850098,2324.850098,5981688,RELIANCE.NS,2341.449951,-0.71
2023-04-11,2334.000000,2341.000000,2324.050049,2336.350098,2336.350098,4865301,RELIANCE.NS,2324.850098,0.49
2023-04-12,2336.350098,2367.800049,2330.050049,2346.649902,2346.649902,8389646,RELIANCE.NS,2336.350098,0.44
2023-04-13,2353.000000,2365.800049,2342.000000,2355.500000,2355.500000,5712541,RELIANCE.NS,2346.649902,0.38
2023-04-17,2424.949951,2424.949951,2349.050049,2367.449951,2367.449951,8274452,RELIANCE.NS,2355.500000,0.51
2023-04-18,2377.000000,2377.000000,2326.000000,2340.350098,2340.350098,4802172,RELIANCE.NS,2367.449951,-1.14
2023-04-19,2339.050049,2357.899902,2332.199951,2352.000000,2352.000000,5664207,RELIANCE.NS,2340.350098,0.50
2023-04-20,2354.100098,2359.000000,2332.100098,2346.050049,2346.050049,3233882,RELIANCE.NS,2352.000000,-0.25
2023-04-21,2350.649902,2361.000000,2336.399902,2349.000000,2349.000000,3529236,RELIANCE.NS,2346.050049,0.13
2023-04-24,2375.000000,2380.899902,2348.000000,2358.000000,2358.000000,5970048,RELIANCE.NS,2349.000000,0.38
2023-04-25,2366.000000,2380.600098,2350.500000,2376.050049,2376.050049,4262471,RELIANCE.NS,2358.000000,0.77
2023-04-26,2379.000000,2386.100098,2354.050049,2362.100098,2362.100098,3977129,RELIANCE.NS,2376.050049,-0.59
2023-04-27,2375.000000,2384.000000,2364.000000,2377.050049,2377.050049,4230627,RELIANCE.NS,2362.100098,0.63
2023-04-28,2382.000000,2423.899902,2381.750000,2420.500000,2420.500000,7183342,RELIANCE.NS,2377.050049,1.83
2023-05-02,2436.199951,2445.800049,2428.100098,2441.050049,2441.050049,5991101,RELIANCE.NS,2420.500000,0.85
2023-05-03,2445.000000,2445.000000,2413.050049,2420.100098,2420.100098,3259053,RELIANCE.NS,2441.050049,-0.86
2023-05-04,2421.149902,2452.850098,2414.600098,2448.000000,2448.000000,3985159,RELIANCE.NS,2420.100098,1.15
2023-05-05,2441.000000,2461.350098,2436.000000,2441.750000,2441.750000,4036548,RELIANCE.NS,2448.000000,-0.26

In [13]:
stock_id = '^NSEI'
nifty = pd.DataFrame(web.DataReader(tickers = stock_id, start = '2020-01-01', end = '2021-11-30'))
nifty['Stock'] = stock_id
nifty['Prev_Close'] = nifty['Close'].shift(1)
nifty['Change%'] = round((nifty['Close'] - nifty['Prev_Close'])*100/nifty['Prev_Close'],2)

nifty

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume,Stock,Prev_Close,Change%
Date,,,,,,,,,
2020-01-01,12202.150391,12222.200195,12165.299805,12182.500000,12182.500000,304100,^NSEI,NaN,NaN
2020-01-02,12198.549805,12289.900391,12195.250000,12282.200195,12282.200195,407700,^NSEI,12182.500000,0.82
2020-01-03,12261.099609,12265.599609,12191.349609,12226.650391,12226.650391,428800,^NSEI,12282.200195,-0.45
2020-01-06,12170.599609,12179.099609,11974.200195,11993.049805,11993.049805,396500,^NSEI,12226.650391,-1.91
2020-01-07,12079.099609,12152.150391,12005.349609,12052.950195,12052.950195,447800,^NSEI,11993.049805,0.50
...,...,...,...,...,...,...,...,...,...
2021-11-23,17281.750000,17553.699219,17216.099609,17503.349609,17503.349609,308800,^NSEI,17416.550781,0.50
2021-11-24,17550.050781,17600.599609,17354.000000,17415.050781,17415.050781,298100,^NSEI,17503.349609,-0.50
2021-11-25,17417.300781,17564.349609,17351.699219,17536.250000,17536.250000,255900,^NSEI,17415.050781,0.70
2021-11-26,17338.750000,17355.400391,16985.699219,17026.449219,17026.449219,356300,^NSEI,17536.250000,-2.91
2021-11-29,17055.800781,17160.699219,16782.400391,17053.949219,17053.949219,348900,^NSEI,17026.449219,0.16

In [14]:
nifty.sort_values(by = 'Change%', ascending=True).head(20)

,Open,High,Low,Close,Adj Close,Volume,Stock,Prev_Close,Change%
Date,,,,,,,,,
2020-03-23,7945.700195,8159.250000,7583.600098,7610.250000,7610.250000,653500,^NSEI,8745.450195,-12.98
2020-03-12,10039.950195,10040.750000,9508.000000,9590.150391,9590.150391,1343500,^NSEI,10458.400391,-8.30
2020-03-16,9587.799805,9602.200195,9165.099609,9197.400391,9197.400391,897700,^NSEI,9955.200195,-7.61
2020-05-04,9533.500000,9533.500000,9266.950195,9293.500000,9293.500000,687500,^NSEI,9859.900391,-5.74
2020-03-18,9088.450195,9127.549805,8407.049805,8468.799805,8468.799805,1516600,^NSEI,8967.049805,-5.56
2020-03-09,10742.049805,10751.549805,10294.450195,10451.450195,10451.450195,1565500,^NSEI,10989.450195,-4.90
2020-03-30,8385.950195,8576.000000,8244.000000,8281.099609,8281.099609,593300,^NSEI,8660.250000,-4.38
2020-04-01,8584.099609,8588.099609,8198.349609,8253.799805,8253.799805,506300,^NSEI,8597.750000,-4.00
2021-02-26,14888.599609,14919.450195,14467.750000,14529.150391,14529.150391,1103600,^NSEI,15097.349609,-3.76
2020-02-28,11382.000000,11384.799805,11175.049805,11201.750000,11201.750000,809900,^NSEI,11633.299805,-3.71
2021-04-12,14644.650391,14652.500000,14248.700195,14310.799805,14310.799805,650200,^NSEI,14834.849609,-3.53
2020-05-18,9158.299805,9158.299805,8806.750000,8823.250000,8823.250000,773000,^NSEI,9136.849609,-3.43
2020-12-21,13741.900391,13777.500000,13131.450195,13328.400391,13328.400391,687300,^NSEI,13760.549805,-3.14
2020-04-21,9016.950195,9044.400391,8909.400391,8981.450195,8981.450195,655100,^NSEI,9261.849609,-3.03
2020-09-24,11011.000000,11015.299805,10790.200195,10805.549805,10805.549805,706100,^NSEI,11131.849609,-2.93
2021-11-26,17338.750000,17355.400391,16985.699219,17026.449219,17026.449219,356300,^NSEI,17536.250000,-2.91
2020-05-14,9213.950195,9281.099609,9119.750000,9142.750000,9142.750000,602600,^NSEI,9383.549805,-2.57
2020-03-17,9285.400391,9403.799805,8915.599609,8967.049805,8967.049805,935600,^NSEI,9197.400391,-2.50
2020-03-06,10942.650391,11035.099609,10827.400391,10989.450195,10989.450195,1811000,^NSEI,11269.000000,-2.48
2020-10-15,12023.450195,12025.450195,11661.299805,11680.349609,11680.349609,608900,^NSEI,11971.049805,-2.43

In [15]:
nifty.sort_values(by = 'Change%', ascending=False).head(20)

,Open,High,Low,Close,Adj Close,Volume,Stock,Prev_Close,Change%
Date,,,,,,,,,
2020-04-07,8446.299805,8819.400391,8360.950195,8792.200195,8792.200195,814200,^NSEI,8083.799805,8.76
2020-03-25,7735.149902,8376.750000,7714.750000,8317.849609,8317.849609,736900,^NSEI,7801.049805,6.62
2020-03-20,8284.450195,8883.000000,8178.200195,8745.450195,8745.450195,1071500,^NSEI,8263.450195,5.83
2021-02-01,13758.599609,14336.349609,13661.750000,14281.200195,14281.200195,870500,^NSEI,13634.599609,4.74
2020-04-09,8973.049805,9128.349609,8904.549805,9111.900391,9111.900391,742100,^NSEI,8748.750000,4.15
2020-03-26,8451.000000,8749.049805,8304.900391,8641.450195,8641.450195,865600,^NSEI,8317.849609,3.89
2020-03-31,8529.349609,8678.299805,8358.000000,8597.750000,8597.750000,712700,^NSEI,8281.099609,3.82
2020-03-13,9107.599609,10159.400391,8555.150391,9955.200195,9955.200195,1388000,^NSEI,9590.150391,3.81
2020-04-30,9753.500000,9889.049805,9731.500000,9859.900391,9859.900391,931200,^NSEI,9553.349609,3.21
2020-05-27,9082.200195,9334.000000,9004.250000,9314.950195,9314.950195,763500,^NSEI,9029.049805,3.17
2020-04-17,9323.450195,9324.000000,9091.349609,9266.750000,9266.750000,684200,^NSEI,8992.799805,3.05
2021-02-02,14481.099609,14731.700195,14469.150391,14647.849609,14647.849609,915000,^NSEI,14281.200195,2.57
2020-06-01,9726.849609,9931.599609,9706.950195,9826.150391,9826.150391,794200,^NSEI,9580.299805,2.57
2020-03-24,7848.299805,8036.950195,7511.100098,7801.049805,7801.049805,738400,^NSEI,7610.250000,2.51
2021-03-30,14628.500000,14876.299805,14617.599609,14845.099609,14845.099609,594500,^NSEI,14507.299805,2.33
2020-02-04,11786.250000,11986.150391,11783.400391,11979.650391,11979.650391,560400,^NSEI,11707.900391,2.32
2020-04-22,9026.750000,9209.750000,8946.250000,9187.299805,9187.299805,734400,^NSEI,8981.450195,2.29
2020-09-25,10910.400391,11072.599609,10854.849609,11050.250000,11050.250000,559600,^NSEI,10805.549805,2.26
2021-03-03,15064.400391,15273.150391,14995.799805,15245.599609,15245.599609,544200,^NSEI,14919.099609,2.19
2020-06-18,9863.250000,10111.200195,9845.049805,10091.650391,10091.650391,622900,^NSEI,9881.150391,2.13

In [16]:
stock_id = '^NSEI'
nifty = pd.DataFrame(web.DataReader(tickers = stock_id, start = '2020-03-01', end = '2021-12-10'))
nifty['Stock'] = stock_id
nifty['Prev_Close'] = nifty['Close'].shift(1)
nifty['Change%'] = round((nifty['Close'] - nifty['Prev_Close'])*100/nifty['Prev_Close'],2)

nifty

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume,Stock,Prev_Close,Change%
Date,,,,,,,,,
2020-03-02,11387.349609,11433.000000,11036.250000,11132.750000,11132.750000,680800,^NSEI,NaN,NaN
2020-03-03,11217.549805,11342.250000,11152.549805,11303.299805,11303.299805,696500,^NSEI,11132.750000,1.53
2020-03-04,11351.349609,11356.599609,11082.150391,11251.000000,11251.000000,797700,^NSEI,11303.299805,-0.46
2020-03-05,11306.049805,11389.500000,11244.599609,11269.000000,11269.000000,1352500,^NSEI,11251.000000,0.16
2020-03-06,10942.650391,11035.099609,10827.400391,10989.450195,10989.450195,1811000,^NSEI,11269.000000,-2.48
...,...,...,...,...,...,...,...,...,...
2021-12-03,17424.900391,17489.800781,17180.800781,17196.699219,17196.699219,292500,^NSEI,17401.650391,-1.18
2021-12-06,17209.050781,17216.750000,16891.699219,16912.250000,16912.250000,231700,^NSEI,17196.699219,-1.65
2021-12-07,17044.099609,17251.650391,16987.750000,17176.699219,17176.699219,254100,^NSEI,16912.250000,1.56
2021-12-08,17315.250000,17484.599609,17308.949219,17469.750000,17469.750000,257800,^NSEI,17176.699219,1.71
2021-12-09,17524.400391,17543.250000,17379.599609,17516.849609,17516.849609,237200,^NSEI,17469.750000,0.27

In [17]:
cols = ['Adj Close', 'Change%']
nifty[nifty['Change%'] < -1][cols].tail(6)['Adj Close']

Date
2021-10-28    17857.250000
2021-10-29    17671.650391
2021-11-22    17416.550781
2021-11-26    17026.449219
2021-12-03    17196.699219
2021-12-06    16912.250000
Name: Adj Close, dtype: float64

In [18]:
stock_id = 'NIFTYBEES.NS'
nifty20 = pd.DataFrame(web.DataReader(tickers = stock_id, start = '2020-03-01', end = '2021-12-10'))
nifty20['Stock'] = stock_id
nifty20['Prev_Close'] = nifty['Close'].shift(1)
nifty20['Change%'] = round((nifty['Close'] - nifty['Prev_Close'])*100/nifty['Prev_Close'],2)

nifty20

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume,Stock,Prev_Close,Change%
Date,,,,,,,,,
2020-03-02,122.050003,122.050003,117.209999,118.389999,118.389999,2355594,NIFTYBEES.NS,NaN,NaN
2020-03-03,119.440002,121.010002,118.550003,120.400002,120.400002,1810345,NIFTYBEES.NS,11132.750000,1.53
2020-03-04,121.400002,121.400002,117.910004,119.519997,119.519997,2300345,NIFTYBEES.NS,11303.299805,-0.46
2020-03-05,142.949997,142.949997,118.599998,119.750000,119.750000,513870,NIFTYBEES.NS,11251.000000,0.16
2020-03-06,118.489998,118.489998,115.599998,117.180000,117.180000,3370046,NIFTYBEES.NS,11269.000000,-2.48
...,...,...,...,...,...,...,...,...,...
2021-12-03,192.500000,192.500000,185.750000,186.000000,186.000000,1581371,NIFTYBEES.NS,17401.650391,-1.18
2021-12-06,192.399994,192.399994,182.800003,183.009995,183.009995,2784801,NIFTYBEES.NS,17196.699219,-1.65
2021-12-07,190.000000,190.000000,180.100006,185.710007,185.710007,1224647,NIFTYBEES.NS,16912.250000,1.56
2021-12-08,191.000000,191.000000,185.710007,188.479996,188.479996,1425972,NIFTYBEES.NS,17176.699219,1.71
2021-12-09,192.500000,192.500000,187.160004,189.139999,189.139999,1108273,NIFTYBEES.NS,17469.750000,0.27

In [19]:
cols = ['Adj Close', 'Change%']
nifty20[nifty20['Change%'] < -1][cols].tail(6)['Adj Close']

Date
2021-10-28    193.679993
2021-10-29    191.160004
2021-11-22    188.529999
2021-11-26    184.509995
2021-12-03    186.000000
2021-12-06    183.009995
Name: Adj Close, dtype: float64