<a href="https://colab.research.google.com/github/ankit-rathi/Data-Science-with-Python/blob/master/Tradevesting/myProspects_Momentum_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import datetime
import pytz
tz_NY = pytz.timezone('Asia/Kolkata')
datetime_NY = datetime.datetime.now(tz_NY)
print("Run date time (IST):", datetime_NY.strftime("%Y-%m-%d %H:%M:%S"))

Run date time (IST): 2023-09-18 17:07:15

In [ ]:
!pip install yfinance

Requirement already satisfied: yfinance in /usr/local/lib/python3.10/dist-packages (0.2.28)
Requirement already satisfied: pandas>=1.3.0 in /usr/local/lib/python3.10/dist-packages (from yfinance) (1.5.3)
Requirement already satisfied: numpy>=1.16.5 in /usr/local/lib/python3.10/dist-packages (from yfinance) (1.23.5)
Requirement already satisfied: requests>=2.31 in /usr/local/lib/python3.10/dist-packages (from yfinance) (2.31.0)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.10/dist-packages (from yfinance) (0.0.11)
Requirement already satisfied: lxml>=4.9.1 in /usr/local/lib/python3.10/dist-packages (from yfinance) (4.9.3)
Requirement already satisfied: appdirs>=1.4.4 in /usr/local/lib/python3.10/dist-packages (from yfinance) (1.4.4)
Requirement already satisfied: pytz>=2022.5 in /usr/local/lib/python3.10/dist-packages (from yfinance) (2023.3.post1)
Requirement already satisfied: frozendict>=2.3.4 in /usr/local/lib/python3.10/dist-packages (from yfinance) (2.3.8)
Requirement already satisfied: beautifulsoup4>=4.11.1 in /usr/local/lib/python3.10/dist-packages (from yfinance) (4.11.2)
Requirement already satisfied: html5lib>=1.1 in /usr/local/lib/python3.10/dist-packages (from yfinance) (1.1)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.10/dist-packages (from beautifulsoup4>=4.11.1->yfinance) (2.5)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.10/dist-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.10/dist-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests>=2.31->yfinance) (3.2.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests>=2.31->yfinance) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests>=2.31->yfinance) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests>=2.31->yfinance) (2023.7.22)

In [ ]:
import pandas as pd
import numpy as np
from google.colab import drive
drive.mount('/content/drive')

mypf = pd.read_csv('/content/drive/My Drive/data/stocks/myNifty500Scrips.csv')

mypf = mypf[mypf['LatestQtr'] == 0]
#mypf = mypf[mypf['v80'] == 1]

stock_n100 = mypf['Symbol'].unique()

exclude = ['ACC','AMBUJACEM','CADILAHC','PGHH','SIEMENS', 'GILLETTE', 'NESTLEIND', 'SANOFI']

stock_n100 = mypf[~mypf['Symbol'].isin(exclude) ]['Symbol']

#stock_ids

stock_ids = stock_n100[0:50]
#stock_ids = ['DIVISLAB', 'PREMIERPOL']
print('Stocks to be scanned:',len(stock_ids))

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
Stocks to be scanned: 37

In [ ]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

df_latest_analysis = pd.DataFrame()

except_list = []

for stock_name in stock_ids:


    print(stock_name)

    link_blueprint = "https://www.screener.in/company/"

    stock_list = ['3MINDIA', 'AUBANK', 'COLPAL', 'GLAND', 'LUXIND', 'WHIRLPOOL' , 'IEX', 'ROSSARI', 'VALIANTORG', 'VINATIORGA', 'TATAELXSI',
                  'AMARAJABAT', 'EQUITAS']

    if stock_name in stock_list:
        actual_link = link_blueprint + stock_name.upper()
    else:
        actual_link = link_blueprint + stock_name.upper()  + "/consolidated/"

    def get_list(actual_link):
        page = requests.get(actual_link)
        link_soup = BeautifulSoup(page.content, 'html.parser')

        test_list = link_soup.find(id="profit-loss").text.replace("  ", "").split('\n')

        while("" in test_list) :
            test_list.remove("")
        while("\r" in test_list) :
            test_list.remove("\r")
        while(" \r" in test_list) :
            test_list.remove(" \r")

        return test_list
    #print(actual_link)
    test_list = get_list(actual_link)

    #print(len(test_list))
    n = len(test_list)

    if n < 100:
        actual_link = link_blueprint + stock_name.upper()
        test_list = get_list(actual_link)
        #print(len(test_list))

    #print(test_list)
    if 'TTM' not in test_list:
        end_year = 'Mar 2023'
    else:
        end_year = 'TTM'

        df_yoy = pd.DataFrame()
        #print(test_list)
        try:
          s = test_list.index(end_year) +1 - test_list.index('Mar 2017')
        except:
          except_list.append(stock_name)
          print("An exception occurred for " + stock_name)
        else:

          df_yoy['Year'] = test_list[test_list.index('Mar 2017'):test_list.index(end_year)+1]
          df_yoy['Sales'] = test_list[test_list.index('Expenses\xa0+')-s:test_list.index('Expenses\xa0+')]
          df_yoy['Profit'] = test_list[test_list.index('Tax %')-s:test_list.index('Tax %')]

          df_yoy.set_index('Year', inplace=True)
          df_yoy = df_yoy.T
          df_yoy['Stock'] = stock_name.upper() + '.NS'
          #df_yoy
          df_latest_analysis = pd.concat([df_latest_analysis, df_yoy])

df_latest_analysis

ALKYLAMINE
CAMPUS
FIVESTAR
MMTC
MANKIND
NSLNISP
RALLIS
TATAMTRDVR
UNIONBANK
UBL
MCDOWELL-N
VGUARD
VMART
VIPIND
VAIBHAVGBL
VTL
VARROC
VBL
An exception occurred for VBL
MANYAVAR
An exception occurred for MANYAVAR
VEDL
VIJAYA
An exception occurred for VIJAYA
VINATIORGA
IDEA
VOLTAS
WELCORP
WELSPUNIND
WESTLIFE
WHIRLPOOL
WIPRO
YESBANK
ZFCVINDIA
ZEEL
ZENSARTECH
ZOMATO
An exception occurred for ZOMATO
ZYDUSLIFE
ZYDUSWELL
ECLERX

Year,Mar 2017,Mar 2018,Mar 2019,Mar 2020,Mar 2021,Mar 2022,Mar 2023,TTM,Stock
Sales,"23,776","23,471","23,896","25,837","44,112","40,178","48,033","52,099",UNIONBANK.NS
Profit,359,"-6,607","-3,933","-4,151","2,327","8,566","12,147","15,162",UNIONBANK.NS
Sales,"4,729","5,619","6,475","6,509","4,243","5,838","7,500","7,336",UBL.NS
Profit,348,608,879,569,169,494,417,380,UBL.NS
Sales,"8,818","8,591","9,341","9,325","8,131","9,712","10,612","10,860",MCDOWELL-N.NS
Profit,163,912,"1,012","1,160",540,"1,087","1,279","1,663",MCDOWELL-N.NS
Sales,"2,086","2,326","2,594","2,503","2,721","3,500","4,126","4,322",VGUARD.NS
Profit,204,180,220,250,288,294,256,270,VGUARD.NS
Sales,"1,002","1,222","1,434","1,662","1,075","1,666","2,465","2,555",VMART.NS
Profit,67,112,100,70,-10,10,-13,-70,VMART.NS
Sales,"1,252","1,410","1,785","1,714",619,"1,290","2,082","2,128",VIPIND.NS
Profit,126,190,215,148,-125,86,197,174,VIPIND.NS
Sales,"1,439","1,571","1,814","1,986","2,540","2,752","2,691","2,721",VAIBHAVGBL.NS
Profit,66,129,188,236,344,271,141,157,VAIBHAVGBL.NS
Sales,"6,030","6,248","6,878","6,735","6,140","9,622","10,137","9,644",VTL.NS
Profit,"1,318",760,"1,059",655,559,"2,071","1,060",804,VTL.NS
Sales,"9,299","10,279","12,036","11,122","4,374","5,844","6,863","7,027",VARROC.NS
Profit,327,516,519,39,-581,"-1,059",-773,-648,VARROC.NS
Sales,"72,225","91,866","92,048","84,447","88,021","132,732","147,308","142,419",VEDL.NS
Profit,"13,652","19,569","13,560","-8,259","17,213","32,964","20,276","17,102",VEDL.NS
Sales,641,730,"1,128","1,029",954,"1,616","2,078","2,009",VINATIORGA.NS
Profit,206,203,425,425,335,449,615,590,VINATIORGA.NS
Sales,"35,576","28,279","37,092","44,958","41,952","38,516","42,177","42,423",IDEA.NS
Profit,-863,"-6,499","-18,175","-61,797","-44,253","-28,234","-29,298","-29,842",IDEA.NS
Sales,"6,033","6,404","7,124","7,658","7,556","7,934","9,499","10,091",VOLTAS.NS
Profit,720,805,677,744,709,697,307,350,VOLTAS.NS
Sales,"5,899","6,347","8,953","9,957","7,153","6,505","9,758","12,506",WELCORP.NS
Profit,36,173,101,"1,067","1,082",661,334,548,WELCORP.NS
Sales,"6,638","6,050","6,527","6,741","7,340","9,311","8,094","8,321",WELSPUNIND.NS
Profit,536,560,287,694,769,873,302,482,WELSPUNIND.NS
Sales,931,"1,135","1,402","1,548",986,"1,576","2,278","2,355",WESTLIFE.NS
Profit,-12,13,35,-9,-129,-2,149,158,WESTLIFE.NS
Sales,"3,941","4,832","5,398","5,993","5,900","5,993","6,210","6,149",WHIRLPOOL.NS
Profit,468,541,626,653,451,304,247,221,WHIRLPOOL.NS
Sales,"55,448","54,487","59,019","61,138","61,935","79,312","90,488","91,790",WIPRO.NS
Profit,"11,039","10,242","11,542","12,252","13,903","15,141","14,766","15,211",WIPRO.NS
Sales,"10,627","12,529","19,811","19,258","12,611","12,528","14,800","15,962",YESBANK.NS
Profit,"5,053","6,205","2,349","-20,838","-4,762","1,434",981,"1,025",YESBANK.NS
Sales,"2,067","2,573","2,854","1,930","1,864","2,543","3,445","3,607",ZFCVINDIA.NS
Profit,300,382,411,223,152,196,427,474,ZFCVINDIA.NS
Sales,"6,434","6,686","7,934","8,130","7,730","8,189","8,088","8,233",ZEEL.NS
Profit,"2,901","2,319","2,434",956,"1,256","1,416",264,73,ZEEL.NS
Sales,"3,056","3,108","3,966","4,182","3,781","4,244","4,848","4,872",ZENSARTECH.NS
Profit,349,352,445,376,433,574,444,552,ZENSARTECH.NS
Sales,"9,376","11,905","13,166","14,253","14,404","15,110","17,237","18,542",ZYDUSLIFE.NS
Profit,"1,612","2,312","2,382","1,495","2,331","5,084","2,585","3,241",ZYDUSLIFE.NS
Sales,431,513,843,"1,767","1,867","2,009","2,255","2,260",ZYDUSWELL.NS
Profit,124,150,171,121,112,306,291,247,ZYDUSWELL.NS
Sales,"1,330","1,365","1,431","1,438","1,564","2,160","2,648","2,715",ECLERX.NS
Profit,436,380,311,281,381,560,653,658,ECLERX.NS

In [ ]:
print('Stocks updated:', df_latest_analysis.shape[0]/2)
if df_latest_analysis.shape[0] > 0:
  lastestq_stocks = list(df_latest_analysis['Stock'].unique())
  len(lastestq_stocks)

Stocks updated: 25.0

In [ ]:
df_latest_analysis

Year,Mar 2017,Mar 2018,Mar 2019,Mar 2020,Mar 2021,Mar 2022,Mar 2023,TTM,Stock
Sales,"23,776","23,471","23,896","25,837","44,112","40,178","48,033","52,099",UNIONBANK.NS
Profit,359,"-6,607","-3,933","-4,151","2,327","8,566","12,147","15,162",UNIONBANK.NS
Sales,"4,729","5,619","6,475","6,509","4,243","5,838","7,500","7,336",UBL.NS
Profit,348,608,879,569,169,494,417,380,UBL.NS
Sales,"8,818","8,591","9,341","9,325","8,131","9,712","10,612","10,860",MCDOWELL-N.NS
Profit,163,912,"1,012","1,160",540,"1,087","1,279","1,663",MCDOWELL-N.NS
Sales,"2,086","2,326","2,594","2,503","2,721","3,500","4,126","4,322",VGUARD.NS
Profit,204,180,220,250,288,294,256,270,VGUARD.NS
Sales,"1,002","1,222","1,434","1,662","1,075","1,666","2,465","2,555",VMART.NS
Profit,67,112,100,70,-10,10,-13,-70,VMART.NS
Sales,"1,252","1,410","1,785","1,714",619,"1,290","2,082","2,128",VIPIND.NS
Profit,126,190,215,148,-125,86,197,174,VIPIND.NS
Sales,"1,439","1,571","1,814","1,986","2,540","2,752","2,691","2,721",VAIBHAVGBL.NS
Profit,66,129,188,236,344,271,141,157,VAIBHAVGBL.NS
Sales,"6,030","6,248","6,878","6,735","6,140","9,622","10,137","9,644",VTL.NS
Profit,"1,318",760,"1,059",655,559,"2,071","1,060",804,VTL.NS
Sales,"9,299","10,279","12,036","11,122","4,374","5,844","6,863","7,027",VARROC.NS
Profit,327,516,519,39,-581,"-1,059",-773,-648,VARROC.NS
Sales,"72,225","91,866","92,048","84,447","88,021","132,732","147,308","142,419",VEDL.NS
Profit,"13,652","19,569","13,560","-8,259","17,213","32,964","20,276","17,102",VEDL.NS
Sales,641,730,"1,128","1,029",954,"1,616","2,078","2,009",VINATIORGA.NS
Profit,206,203,425,425,335,449,615,590,VINATIORGA.NS
Sales,"35,576","28,279","37,092","44,958","41,952","38,516","42,177","42,423",IDEA.NS
Profit,-863,"-6,499","-18,175","-61,797","-44,253","-28,234","-29,298","-29,842",IDEA.NS
Sales,"6,033","6,404","7,124","7,658","7,556","7,934","9,499","10,091",VOLTAS.NS
Profit,720,805,677,744,709,697,307,350,VOLTAS.NS
Sales,"5,899","6,347","8,953","9,957","7,153","6,505","9,758","12,506",WELCORP.NS
Profit,36,173,101,"1,067","1,082",661,334,548,WELCORP.NS
Sales,"6,638","6,050","6,527","6,741","7,340","9,311","8,094","8,321",WELSPUNIND.NS
Profit,536,560,287,694,769,873,302,482,WELSPUNIND.NS
Sales,931,"1,135","1,402","1,548",986,"1,576","2,278","2,355",WESTLIFE.NS
Profit,-12,13,35,-9,-129,-2,149,158,WESTLIFE.NS
Sales,"3,941","4,832","5,398","5,993","5,900","5,993","6,210","6,149",WHIRLPOOL.NS
Profit,468,541,626,653,451,304,247,221,WHIRLPOOL.NS
Sales,"55,448","54,487","59,019","61,138","61,935","79,312","90,488","91,790",WIPRO.NS
Profit,"11,039","10,242","11,542","12,252","13,903","15,141","14,766","15,211",WIPRO.NS
Sales,"10,627","12,529","19,811","19,258","12,611","12,528","14,800","15,962",YESBANK.NS
Profit,"5,053","6,205","2,349","-20,838","-4,762","1,434",981,"1,025",YESBANK.NS
Sales,"2,067","2,573","2,854","1,930","1,864","2,543","3,445","3,607",ZFCVINDIA.NS
Profit,300,382,411,223,152,196,427,474,ZFCVINDIA.NS
Sales,"6,434","6,686","7,934","8,130","7,730","8,189","8,088","8,233",ZEEL.NS
Profit,"2,901","2,319","2,434",956,"1,256","1,416",264,73,ZEEL.NS
Sales,"3,056","3,108","3,966","4,182","3,781","4,244","4,848","4,872",ZENSARTECH.NS
Profit,349,352,445,376,433,574,444,552,ZENSARTECH.NS
Sales,"9,376","11,905","13,166","14,253","14,404","15,110","17,237","18,542",ZYDUSLIFE.NS
Profit,"1,612","2,312","2,382","1,495","2,331","5,084","2,585","3,241",ZYDUSLIFE.NS
Sales,431,513,843,"1,767","1,867","2,009","2,255","2,260",ZYDUSWELL.NS
Profit,124,150,171,121,112,306,291,247,ZYDUSWELL.NS
Sales,"1,330","1,365","1,431","1,438","1,564","2,160","2,648","2,715",ECLERX.NS
Profit,436,380,311,281,381,560,653,658,ECLERX.NS

In [ ]:
if df_latest_analysis.shape[0] > 0:
  #df_analysis.columns
  df_latest_analysis = df_latest_analysis.reset_index()
  df_latest_analysis.rename({'TTM': 'Latest', 'index': 'Type'}, axis=1, inplace=True)
  cols = [ 'Mar 2017','Mar 2018', 'Mar 2019', 'Mar 2020', 'Mar 2021', 'Mar 2022', 'Mar 2023', 'Latest']
  #df_analysis[cols] = df_analysis[cols].apply(pd.to_numeric)
  for col in cols:
      df_latest_analysis[col] = df_latest_analysis[col].str.replace(',', '').astype(float)

In [ ]:
df_latest_analysis

Year,Type,Mar 2017,Mar 2018,Mar 2019,Mar 2020,Mar 2021,Mar 2022,Mar 2023,Latest,Stock
0,Sales,23776.0,23471.0,23896.0,25837.0,44112.0,40178.0,48033.0,52099.0,UNIONBANK.NS
1,Profit,359.0,-6607.0,-3933.0,-4151.0,2327.0,8566.0,12147.0,15162.0,UNIONBANK.NS
2,Sales,4729.0,5619.0,6475.0,6509.0,4243.0,5838.0,7500.0,7336.0,UBL.NS
3,Profit,348.0,608.0,879.0,569.0,169.0,494.0,417.0,380.0,UBL.NS
4,Sales,8818.0,8591.0,9341.0,9325.0,8131.0,9712.0,10612.0,10860.0,MCDOWELL-N.NS
5,Profit,163.0,912.0,1012.0,1160.0,540.0,1087.0,1279.0,1663.0,MCDOWELL-N.NS
6,Sales,2086.0,2326.0,2594.0,2503.0,2721.0,3500.0,4126.0,4322.0,VGUARD.NS
7,Profit,204.0,180.0,220.0,250.0,288.0,294.0,256.0,270.0,VGUARD.NS
8,Sales,1002.0,1222.0,1434.0,1662.0,1075.0,1666.0,2465.0,2555.0,VMART.NS
9,Profit,67.0,112.0,100.0,70.0,-10.0,10.0,-13.0,-70.0,VMART.NS
10,Sales,1252.0,1410.0,1785.0,1714.0,619.0,1290.0,2082.0,2128.0,VIPIND.NS
11,Profit,126.0,190.0,215.0,148.0,-125.0,86.0,197.0,174.0,VIPIND.NS
12,Sales,1439.0,1571.0,1814.0,1986.0,2540.0,2752.0,2691.0,2721.0,VAIBHAVGBL.NS
13,Profit,66.0,129.0,188.0,236.0,344.0,271.0,141.0,157.0,VAIBHAVGBL.NS
14,Sales,6030.0,6248.0,6878.0,6735.0,6140.0,9622.0,10137.0,9644.0,VTL.NS
15,Profit,1318.0,760.0,1059.0,655.0,559.0,2071.0,1060.0,804.0,VTL.NS
16,Sales,9299.0,10279.0,12036.0,11122.0,4374.0,5844.0,6863.0,7027.0,VARROC.NS
17,Profit,327.0,516.0,519.0,39.0,-581.0,-1059.0,-773.0,-648.0,VARROC.NS
18,Sales,72225.0,91866.0,92048.0,84447.0,88021.0,132732.0,147308.0,142419.0,VEDL.NS
19,Profit,13652.0,19569.0,13560.0,-8259.0,17213.0,32964.0,20276.0,17102.0,VEDL.NS
20,Sales,641.0,730.0,1128.0,1029.0,954.0,1616.0,2078.0,2009.0,VINATIORGA.NS
21,Profit,206.0,203.0,425.0,425.0,335.0,449.0,615.0,590.0,VINATIORGA.NS
22,Sales,35576.0,28279.0,37092.0,44958.0,41952.0,38516.0,42177.0,42423.0,IDEA.NS
23,Profit,-863.0,-6499.0,-18175.0,-61797.0,-44253.0,-28234.0,-29298.0,-29842.0,IDEA.NS
24,Sales,6033.0,6404.0,7124.0,7658.0,7556.0,7934.0,9499.0,10091.0,VOLTAS.NS
25,Profit,720.0,805.0,677.0,744.0,709.0,697.0,307.0,350.0,VOLTAS.NS
26,Sales,5899.0,6347.0,8953.0,9957.0,7153.0,6505.0,9758.0,12506.0,WELCORP.NS
27,Profit,36.0,173.0,101.0,1067.0,1082.0,661.0,334.0,548.0,WELCORP.NS
28,Sales,6638.0,6050.0,6527.0,6741.0,7340.0,9311.0,8094.0,8321.0,WELSPUNIND.NS
29,Profit,536.0,560.0,287.0,694.0,769.0,873.0,302.0,482.0,WELSPUNIND.NS
30,Sales,931.0,1135.0,1402.0,1548.0,986.0,1576.0,2278.0,2355.0,WESTLIFE.NS
31,Profit,-12.0,13.0,35.0,-9.0,-129.0,-2.0,149.0,158.0,WESTLIFE.NS
32,Sales,3941.0,4832.0,5398.0,5993.0,5900.0,5993.0,6210.0,6149.0,WHIRLPOOL.NS
33,Profit,468.0,541.0,626.0,653.0,451.0,304.0,247.0,221.0,WHIRLPOOL.NS
34,Sales,55448.0,54487.0,59019.0,61138.0,61935.0,79312.0,90488.0,91790.0,WIPRO.NS
35,Profit,11039.0,10242.0,11542.0,12252.0,13903.0,15141.0,14766.0,15211.0,WIPRO.NS
36,Sales,10627.0,12529.0,19811.0,19258.0,12611.0,12528.0,14800.0,15962.0,YESBANK.NS
37,Profit,5053.0,6205.0,2349.0,-20838.0,-4762.0,1434.0,981.0,1025.0,YESBANK.NS
38,Sales,2067.0,2573.0,2854.0,1930.0,1864.0,2543.0,3445.0,3607.0,ZFCVINDIA.NS
39,Profit,300.0,382.0,411.0,223.0,152.0,196.0,427.0,474.0,ZFCVINDIA.NS
40,Sales,6434.0,6686.0,7934.0,8130.0,7730.0,8189.0,8088.0,8233.0,ZEEL.NS
41,Profit,2901.0,2319.0,2434.0,956.0,1256.0,1416.0,264.0,73.0,ZEEL.NS
42,Sales,3056.0,3108.0,3966.0,4182.0,3781.0,4244.0,4848.0,4872.0,ZENSARTECH.NS
43,Profit,349.0,352.0,445.0,376.0,433.0,574.0,444.0,552.0,ZENSARTECH.NS
44,Sales,9376.0,11905.0,13166.0,14253.0,14404.0,15110.0,17237.0,18542.0,ZYDUSLIFE.NS
45,Profit,1612.0,2312.0,2382.0,1495.0,2331.0,5084.0,2585.0,3241.0,ZYDUSLIFE.NS
46,Sales,431.0,513.0,843.0,1767.0,1867.0,2009.0,2255.0,2260.0,ZYDUSWELL.NS
47,Profit,124.0,150.0,171.0,121.0,112.0,306.0,291.0,247.0,ZYDUSWELL.NS
48,Sales,1330.0,1365.0,1431.0,1438.0,1564.0,2160.0,2648.0,2715.0,ECLERX.NS
49,Profit,436.0,380.0,311.0,281.0,381.0,560.0,653.0,658.0,ECLERX.NS

In [ ]:
if df_latest_analysis.shape[0] > 0:
  df_latest_analysis['Max'] = df_latest_analysis.max(axis=1)
  df_latest_analysis['Diff%'] = round((df_latest_analysis['Max'] - df_latest_analysis['Latest'])*100/df_latest_analysis['Max'],2)

<ipython-input-9-ff4f08accfa3>:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df_latest_analysis['Max'] = df_latest_analysis.max(axis=1)

In [ ]:
df_latest_analysis

Year,Type,Mar 2017,Mar 2018,Mar 2019,Mar 2020,Mar 2021,Mar 2022,Mar 2023,Latest,Stock,Max,Diff%
0,Sales,23776.0,23471.0,23896.0,25837.0,44112.0,40178.0,48033.0,52099.0,UNIONBANK.NS,52099.0,0.00
1,Profit,359.0,-6607.0,-3933.0,-4151.0,2327.0,8566.0,12147.0,15162.0,UNIONBANK.NS,15162.0,0.00
2,Sales,4729.0,5619.0,6475.0,6509.0,4243.0,5838.0,7500.0,7336.0,UBL.NS,7500.0,2.19
3,Profit,348.0,608.0,879.0,569.0,169.0,494.0,417.0,380.0,UBL.NS,879.0,56.77
4,Sales,8818.0,8591.0,9341.0,9325.0,8131.0,9712.0,10612.0,10860.0,MCDOWELL-N.NS,10860.0,0.00
5,Profit,163.0,912.0,1012.0,1160.0,540.0,1087.0,1279.0,1663.0,MCDOWELL-N.NS,1663.0,0.00
6,Sales,2086.0,2326.0,2594.0,2503.0,2721.0,3500.0,4126.0,4322.0,VGUARD.NS,4322.0,0.00
7,Profit,204.0,180.0,220.0,250.0,288.0,294.0,256.0,270.0,VGUARD.NS,294.0,8.16
8,Sales,1002.0,1222.0,1434.0,1662.0,1075.0,1666.0,2465.0,2555.0,VMART.NS,2555.0,0.00
9,Profit,67.0,112.0,100.0,70.0,-10.0,10.0,-13.0,-70.0,VMART.NS,112.0,162.50
10,Sales,1252.0,1410.0,1785.0,1714.0,619.0,1290.0,2082.0,2128.0,VIPIND.NS,2128.0,0.00
11,Profit,126.0,190.0,215.0,148.0,-125.0,86.0,197.0,174.0,VIPIND.NS,215.0,19.07
12,Sales,1439.0,1571.0,1814.0,1986.0,2540.0,2752.0,2691.0,2721.0,VAIBHAVGBL.NS,2752.0,1.13
13,Profit,66.0,129.0,188.0,236.0,344.0,271.0,141.0,157.0,VAIBHAVGBL.NS,344.0,54.36
14,Sales,6030.0,6248.0,6878.0,6735.0,6140.0,9622.0,10137.0,9644.0,VTL.NS,10137.0,4.86
15,Profit,1318.0,760.0,1059.0,655.0,559.0,2071.0,1060.0,804.0,VTL.NS,2071.0,61.18
16,Sales,9299.0,10279.0,12036.0,11122.0,4374.0,5844.0,6863.0,7027.0,VARROC.NS,12036.0,41.62
17,Profit,327.0,516.0,519.0,39.0,-581.0,-1059.0,-773.0,-648.0,VARROC.NS,519.0,224.86
18,Sales,72225.0,91866.0,92048.0,84447.0,88021.0,132732.0,147308.0,142419.0,VEDL.NS,147308.0,3.32
19,Profit,13652.0,19569.0,13560.0,-8259.0,17213.0,32964.0,20276.0,17102.0,VEDL.NS,32964.0,48.12
20,Sales,641.0,730.0,1128.0,1029.0,954.0,1616.0,2078.0,2009.0,VINATIORGA.NS,2078.0,3.32
21,Profit,206.0,203.0,425.0,425.0,335.0,449.0,615.0,590.0,VINATIORGA.NS,615.0,4.07
22,Sales,35576.0,28279.0,37092.0,44958.0,41952.0,38516.0,42177.0,42423.0,IDEA.NS,44958.0,5.64
23,Profit,-863.0,-6499.0,-18175.0,-61797.0,-44253.0,-28234.0,-29298.0,-29842.0,IDEA.NS,-863.0,-3357.94
24,Sales,6033.0,6404.0,7124.0,7658.0,7556.0,7934.0,9499.0,10091.0,VOLTAS.NS,10091.0,0.00
25,Profit,720.0,805.0,677.0,744.0,709.0,697.0,307.0,350.0,VOLTAS.NS,805.0,56.52
26,Sales,5899.0,6347.0,8953.0,9957.0,7153.0,6505.0,9758.0,12506.0,WELCORP.NS,12506.0,0.00
27,Profit,36.0,173.0,101.0,1067.0,1082.0,661.0,334.0,548.0,WELCORP.NS,1082.0,49.35
28,Sales,6638.0,6050.0,6527.0,6741.0,7340.0,9311.0,8094.0,8321.0,WELSPUNIND.NS,9311.0,10.63
29,Profit,536.0,560.0,287.0,694.0,769.0,873.0,302.0,482.0,WELSPUNIND.NS,873.0,44.79
30,Sales,931.0,1135.0,1402.0,1548.0,986.0,1576.0,2278.0,2355.0,WESTLIFE.NS,2355.0,0.00
31,Profit,-12.0,13.0,35.0,-9.0,-129.0,-2.0,149.0,158.0,WESTLIFE.NS,158.0,0.00
32,Sales,3941.0,4832.0,5398.0,5993.0,5900.0,5993.0,6210.0,6149.0,WHIRLPOOL.NS,6210.0,0.98
33,Profit,468.0,541.0,626.0,653.0,451.0,304.0,247.0,221.0,WHIRLPOOL.NS,653.0,66.16
34,Sales,55448.0,54487.0,59019.0,61138.0,61935.0,79312.0,90488.0,91790.0,WIPRO.NS,91790.0,0.00
35,Profit,11039.0,10242.0,11542.0,12252.0,13903.0,15141.0,14766.0,15211.0,WIPRO.NS,15211.0,0.00
36,Sales,10627.0,12529.0,19811.0,19258.0,12611.0,12528.0,14800.0,15962.0,YESBANK.NS,19811.0,19.43
37,Profit,5053.0,6205.0,2349.0,-20838.0,-4762.0,1434.0,981.0,1025.0,YESBANK.NS,6205.0,83.48
38,Sales,2067.0,2573.0,2854.0,1930.0,1864.0,2543.0,3445.0,3607.0,ZFCVINDIA.NS,3607.0,0.00
39,Profit,300.0,382.0,411.0,223.0,152.0,196.0,427.0,474.0,ZFCVINDIA.NS,474.0,0.00
40,Sales,6434.0,6686.0,7934.0,8130.0,7730.0,8189.0,8088.0,8233.0,ZEEL.NS,8233.0,0.00
41,Profit,2901.0,2319.0,2434.0,956.0,1256.0,1416.0,264.0,73.0,ZEEL.NS,2901.0,97.48
42,Sales,3056.0,3108.0,3966.0,4182.0,3781.0,4244.0,4848.0,4872.0,ZENSARTECH.NS,4872.0,0.00
43,Profit,349.0,352.0,445.0,376.0,433.0,574.0,444.0,552.0,ZENSARTECH.NS,574.0,3.83
44,Sales,9376.0,11905.0,13166.0,14253.0,14404.0,15110.0,17237.0,18542.0,ZYDUSLIFE.NS,18542.0,0.00
45,Profit,1612.0,2312.0,2382.0,1495.0,2331.0,5084.0,2585.0,3241.0,ZYDUSLIFE.NS,5084.0,36.25
46,Sales,431.0,513.0,843.0,1767.0,1867.0,2009.0,2255.0,2260.0,ZYDUSWELL.NS,2260.0,0.00
47,Profit,124.0,150.0,171.0,121.0,112.0,306.0,291.0,247.0,ZYDUSWELL.NS,306.0,19.28
48,Sales,1330.0,1365.0,1431.0,1438.0,1564.0,2160.0,2648.0,2715.0,ECLERX.NS,2715.0,0.00
49,Profit,436.0,380.0,311.0,281.0,381.0,560.0,653.0,658.0,ECLERX.NS,658.0,0.00

In [ ]:
if df_latest_analysis.shape[0] > 0:
  df_master_analysis = pd.read_csv('/content/drive/My Drive/data/stocks/myNifty500-ATH-TTM.csv')
  df_master_analysis.columns = df_latest_analysis.columns
  df_master_analysis = df_master_analysis[~df_master_analysis['Stock'].isin(lastestq_stocks)]
  df_master_analysis = pd.concat([df_master_analysis, df_latest_analysis])
  df_master_analysis.to_csv('/content/drive/My Drive/data/stocks/myNifty500-ATH-TTM.csv', index=False)

In [ ]:
if df_latest_analysis.shape[0] > 0:
  df_tmp = df_latest_analysis[df_latest_analysis['Diff%'] <= 5]
  tmp = pd.DataFrame(df_tmp['Stock'].value_counts())
  len(tmp[tmp['Stock']>1].index)
  star_stocks = list(tmp[tmp['Stock']>1].index)
  print(len(star_stocks))

8

In [ ]:
mypf = pd.read_csv('/content/drive/My Drive/data/stocks/myNifty500Scrips.csv')
mypf.loc[mypf['Stock'].isin(lastestq_stocks), 'LatestQtr'] = 1
mypf.loc[mypf['Stock'].isin(lastestq_stocks), 'StarStock'] = 0
mypf.loc[mypf['Stock'].isin(star_stocks), 'StarStock'] = 1
mypf.loc[mypf['Symbol'].isin(except_list), 'LatestQtr'] = -1
mypf.to_csv('/content/drive/My Drive/data/stocks/myNifty500Scrips.csv', index=False)