<a href="https://colab.research.google.com/github/ankit-rathi/Data-Science-with-Python/blob/master/Tradevesting/myProspects_Breakout_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import datetime
import pytz
tz_NY = pytz.timezone('Asia/Kolkata')
datetime_NY = datetime.datetime.now(tz_NY)
print("Run date time (IST):", datetime_NY.strftime("%Y-%m-%d %H:%M:%S"))

Run date time (IST): 2023-07-28 16:16:06

In [2]:
!pip install yfinance

Requirement already satisfied: yfinance in /usr/local/lib/python3.10/dist-packages (0.2.25)
Requirement already satisfied: pandas>=1.3.0 in /usr/local/lib/python3.10/dist-packages (from yfinance) (1.5.3)
Requirement already satisfied: numpy>=1.16.5 in /usr/local/lib/python3.10/dist-packages (from yfinance) (1.22.4)
Requirement already satisfied: requests>=2.26 in /usr/local/lib/python3.10/dist-packages (from yfinance) (2.27.1)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.10/dist-packages (from yfinance) (0.0.11)
Requirement already satisfied: lxml>=4.9.1 in /usr/local/lib/python3.10/dist-packages (from yfinance) (4.9.3)
Requirement already satisfied: appdirs>=1.4.4 in /usr/local/lib/python3.10/dist-packages (from yfinance) (1.4.4)
Requirement already satisfied: pytz>=2022.5 in /usr/local/lib/python3.10/dist-packages (from yfinance) (2022.7.1)
Requirement already satisfied: frozendict>=2.3.4 in /usr/local/lib/python3.10/dist-packages (from yfinance) (2.3.8)
Requirement already satisfied: beautifulsoup4>=4.11.1 in /usr/local/lib/python3.10/dist-packages (from yfinance) (4.11.2)
Requirement already satisfied: html5lib>=1.1 in /usr/local/lib/python3.10/dist-packages (from yfinance) (1.1)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.10/dist-packages (from beautifulsoup4>=4.11.1->yfinance) (2.4.1)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.10/dist-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.10/dist-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests>=2.26->yfinance) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests>=2.26->yfinance) (2023.7.22)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests>=2.26->yfinance) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests>=2.26->yfinance) (3.4)

In [3]:
import warnings
warnings.filterwarnings("ignore")
import yfinance as yfin
#import talib
yfin.pdr_override()
#import pandas_ta as ta
import pandas as pd

In [4]:
# fetch nifty200 scrips

import pandas as pd
import numpy as np

mypf = pd.read_csv('https://raw.githubusercontent.com/ankit-rathi/Data-Science-with-Python/master/Tradevesting/myProspectsScrips.csv')

#mypf = mypf[(mypf['Criteria'] == 'V40') | (mypf['Criteria'] == 'V40N')]

#mypf = mypf[mypf['Nifty100'] == 1]

stock_n100 = mypf['Symbol'].unique()

exclude = ['CADILAHC','MMTC']

stock_n100 = mypf[~mypf['Symbol'].isin(exclude) ]['Symbol'].unique()

stock_ids = stock_n100

#mypf = mypf[mypf.Forecast.notnull()]
#stock_ids = mypf['Symbol'].unique()

stock_ids.sort()

In [7]:
def get_breakout(stock_symbol):

  stock_df = yfin.Ticker(stock_symbol).history(period='5y')[map(str.title, ['open', 'close'])]
  stock_df['Stock'] = stock_symbol
  stock_df['Open'] = round(stock_df['Open'],0)
  stock_df['Close'] = round(stock_df['Close'],0)
  stock_df['PrevClose'] = round(stock_df['Close'].shift(1),0)

  stock_df = stock_df.reset_index()
  prev_max = max(stock_df[(stock_df['Date'] < '2023-01-01')]['Close'])
  stock_df['PrevMax'] = prev_max
  tmp_df = stock_df[(stock_df['Close'] > prev_max)]
  tmp_df['DateGroup'] = tmp_df['Date'].diff().dt.days.ne(1).cumsum()

  tmp_df['Date'] = tmp_df['Date'].dt.strftime('%Y-%m-%d')
  tmp_df = tmp_df[tmp_df['Close'] > tmp_df['Open']]
  tmp_df = tmp_df[tmp_df['Open'] > tmp_df['PrevClose']]
  g = tmp_df.groupby('DateGroup')['Date'].agg(['min', 'max', 'count']).reset_index()

  df_res = tmp_df.merge(g, how='left')
  df_res = df_res[df_res['count'] > 1].head(1)
  df_res['Conviction'] = mypf[(mypf['Symbol']+'.NS') == stock_symbol.upper()]['Conviction'].values[0]
  df_res['LatestQtr'] = mypf[(mypf['Symbol']+'.NS') == stock_symbol.upper()]['LatestQtr'].values[0]
  df_res['StarStock'] = mypf[(mypf['Symbol']+'.NS') == stock_symbol.upper()]['StarStock'].values[0]
  df_res['Criteria'] = mypf[(mypf['Symbol']+'.NS') == stock_symbol.upper()]['Criteria'].values[0]
  df_res['Strategy'] = mypf[(mypf['Symbol']+'.NS') == stock_symbol.upper()]['Strategy'].values[0]

  return df_res

In [8]:
df_breakout = pd.DataFrame()

for stock_id in stock_ids:
  tmp_df = get_breakout(stock_id+'.NS')
  df_breakout = df_breakout.append(tmp_df)

df_breakout.sort_values(by = 'Date', ascending=False)

,Date,Open,Close,Stock,PrevClose,PrevMax,DateGroup,min,max,count,Conviction,LatestQtr,StarStock,Criteria,Strategy
0,2023-07-26,612.0,615.0,SBIN.NS,610.0,614.0,3,2023-07-26,2023-07-27,2,M,0,1.0,NaN,NaN
0,2023-07-25,5420.0,5425.0,DRREDDY.NS,5392.0,5408.0,1,2023-07-25,2023-07-28,3,H,1,1.0,NaN,NaN
3,2023-07-18,22965.0,23059.0,ABBOTINDIA.NS,22868.0,22611.0,5,2023-07-18,2023-07-20,2,M,0,1.0,V40,BTT
0,2023-07-18,2817.0,2820.0,RELIANCE.NS,2797.0,2811.0,1,2023-07-18,2023-07-19,2,H,1,1.0,V40,ATH
3,2023-07-17,269.0,270.0,TIPSINDLTD.NS,268.0,236.0,6,2023-07-17,2023-07-19,3,L,1,1.0,NaN,NaN
2,2023-07-17,328.0,334.0,CANBK.NS,327.0,321.0,4,2023-07-17,2023-07-19,2,H,1,1.0,NaN,NaN
2,2023-07-17,963.0,969.0,ICICIBANK.NS,960.0,953.0,4,2023-07-17,2023-07-20,2,H,1,1.0,V40,NaN
1,2023-07-12,7190.0,7401.0,BAJAJHLDNG.NS,7177.0,7031.0,4,2023-07-12,2023-07-14,2,L,0,0.0,V40,NaN
3,2023-07-11,410.0,411.0,UJJIVAN.NS,408.0,395.0,4,2023-07-11,2023-07-14,3,M,0,1.0,NaN,NaN
2,2023-07-11,1048.0,1068.0,SUNPHARMA.NS,1041.0,1040.0,3,2023-07-11,2023-07-12,2,H,0,1.0,NaN,NaN
1,2023-07-10,1770.0,1779.0,COLPAL.NS,1768.0,1719.0,2,2023-07-10,2023-07-14,4,H,1,1.0,V40,BTT
4,2023-07-10,786.0,807.0,JSWSTEEL.NS,785.0,766.0,6,2023-07-10,2023-07-12,2,L,1,0.0,NaN,NaN
1,2023-07-03,284.0,287.0,VGUARD.NS,282.0,273.0,3,2023-07-03,2023-07-07,2,M,0,0.0,NaN,NaN
6,2023-07-03,190.0,191.0,NTPC.NS,189.0,177.0,11,2023-07-03,2023-07-06,2,L,0,1.0,NaN,NaN
2,2023-07-03,192.0,199.0,BANKBARODA.NS,190.0,187.0,3,2023-07-03,2023-07-05,3,H,0,1.0,NaN,NaN
0,2023-07-03,1215.0,1278.0,RADICO.NS,1209.0,1263.0,1,2023-07-03,2023-07-06,3,M,0,0.0,V40N,NaN
0,2023-06-12,8123.0,8161.0,ULTRACEMCO.NS,8116.0,8130.0,1,2023-06-12,2023-06-14,3,L,1,0.0,NaN,NaN
1,2023-06-12,3639.0,3737.0,PIIND.NS,3620.0,3619.0,2,2023-06-12,2023-06-16,4,L,0,1.0,NaN,NaN
1,2023-06-07,756.0,762.0,AUBANK.NS,751.0,716.0,4,2023-06-07,2023-06-09,2,M,1,1.0,NaN,NaN
2,2023-06-05,2393.0,2403.0,INDIGO.NS,2386.0,2364.0,3,2023-06-05,2023-06-08,3,L,0,0.0,NaN,NaN
1,2023-06-05,537.0,545.0,TATAMOTORS.NS,534.0,529.0,2,2023-06-05,2023-06-07,3,L,1,1.0,NaN,NaN
2,2023-06-05,926.0,949.0,AXISBANK.NS,924.0,948.0,3,2023-06-05,2023-06-09,3,M,1,1.0,V40,NaN
0,2023-06-05,9552.0,9582.0,MARUTI.NS,9485.0,9528.0,1,2023-06-05,2023-06-06,2,H,0,0.0,NaN,NaN
1,2023-05-30,1704.0,1706.0,TORNTPHARM.NS,1699.0,1672.0,2,2023-05-30,2023-05-31,2,L,0,1.0,NaN,NaN
1,2023-05-15,2756.0,2761.0,TITAN.NS,2755.0,2751.0,2,2023-05-15,2023-05-16,2,H,0,1.0,V40,NaN
0,2023-05-15,440.0,464.0,DLF.NS,433.0,435.0,1,2023-05-15,2023-05-19,2,L,1,0.0,NaN,NaN
3,2023-05-08,242.0,245.0,POWERGRID.NS,241.0,232.0,4,2023-05-08,2023-05-10,2,L,0,0.0,NaN,NaN
3,2023-05-08,2385.0,2413.0,AKZOINDIA.NS,2373.0,2291.0,4,2023-05-08,2023-05-11,2,M,0,1.0,V40,BTT
1,2023-04-25,4081.0,4083.0,BAJAJ-AUTO.NS,4073.0,3847.0,3,2023-04-25,2023-04-27,2,L,1,1.0,V40,NaN
2,2023-04-24,839.0,840.0,CHOLAFIN.NS,837.0,800.0,4,2023-04-24,2023-04-28,2,L,0,1.0,NaN,NaN
5,2023-04-24,3109.0,3125.0,POLYCAB.NS,3094.0,2983.0,9,2023-04-24,2023-04-28,4,M,1,1.0,V40N,NaN
0,2023-04-24,20501.0,20689.0,NESTLEIND.NS,20497.0,20648.0,1,2023-04-24,2023-04-28,3,H,0,0.0,V40,NaN
0,2023-02-28,69.0,70.0,EQUITASBNK.NS,68.0,68.0,1,2023-02-28,2023-03-03,2,M,0,1.0,V40N,NaN
1,2023-02-27,6111.0,6327.0,CERA.NS,6070.0,6240.0,2,2023-02-27,2023-03-01,3,H,0,1.0,V40N,NaN
0,2023-02-14,575.0,598.0,FINCABLES.NS,565.0,593.0,1,2023-02-14,2023-02-15,2,M,0,0.0,V40N,NaN
2,2023-02-14,1330.0,1335.0,M&M.NS,1325.0,1326.0,4,2023-02-14,2023-02-15,2,H,0,1.0,NaN,NaN
1,2023-02-13,365.0,366.0,ITC.NS,363.0,353.0,3,2023-02-13,2023-02-15,3,H,0,1.0,V40,NaN
0,2023-02-07,3097.0,3118.0,SIEMENS.NS,3078.0,3087.0,1,2023-02-07,2023-02-08,2,H,0,0.0,NaN,NaN
0,2023-02-02,4443.0,4496.0,BRITANNIA.NS,4297.0,4450.0,1,2023-02-02,2023-02-03,2,H,0,1.0,NaN,NaN
0,2023-01-23,1647.0,1654.0,HDFCBANK.NS,1642.0,1650.0,1,2023-01-23,2023-01-24,2,H,1,1.0,V40,BTT
0,2023-01-17,2140.0,2213.0,LT.NS,2137.0,2195.0,1,2023-01-17,2023-01-18,2,M,1,1.0,V200,NaN
1,2023-01-09,113.0,114.0,TATASTEEL.NS,112.0,112.0,3,2023-01-09,2023-01-13,2,L,1,0.0,NaN,NaN
2,2023-01-09,597.0,602.0,JINDALSTEL.NS,591.0,589.0,3,2023-01-09,2023-01-13,3,L,0,0.0,NaN,NaN