<a href="https://colab.research.google.com/github/ankit-rathi/Data-Science-with-Python/blob/master/Tradevesting/myProspects_Breakout_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import datetime
import pytz
tz_NY = pytz.timezone('Asia/Kolkata')
datetime_NY = datetime.datetime.now(tz_NY)
print("Run date time (IST):", datetime_NY.strftime("%Y-%m-%d %H:%M:%S"))

Run date time (IST): 2023-07-22 09:18:03

In [2]:
!pip install yfinance

Requirement already satisfied: yfinance in /usr/local/lib/python3.10/dist-packages (0.2.25)
Requirement already satisfied: pandas>=1.3.0 in /usr/local/lib/python3.10/dist-packages (from yfinance) (1.5.3)
Requirement already satisfied: numpy>=1.16.5 in /usr/local/lib/python3.10/dist-packages (from yfinance) (1.22.4)
Requirement already satisfied: requests>=2.26 in /usr/local/lib/python3.10/dist-packages (from yfinance) (2.27.1)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.10/dist-packages (from yfinance) (0.0.11)
Requirement already satisfied: lxml>=4.9.1 in /usr/local/lib/python3.10/dist-packages (from yfinance) (4.9.3)
Requirement already satisfied: appdirs>=1.4.4 in /usr/local/lib/python3.10/dist-packages (from yfinance) (1.4.4)
Requirement already satisfied: pytz>=2022.5 in /usr/local/lib/python3.10/dist-packages (from yfinance) (2022.7.1)
Requirement already satisfied: frozendict>=2.3.4 in /usr/local/lib/python3.10/dist-packages (from yfinance) (2.3.8)
Requirement already satisfied: beautifulsoup4>=4.11.1 in /usr/local/lib/python3.10/dist-packages (from yfinance) (4.11.2)
Requirement already satisfied: html5lib>=1.1 in /usr/local/lib/python3.10/dist-packages (from yfinance) (1.1)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.10/dist-packages (from beautifulsoup4>=4.11.1->yfinance) (2.4.1)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.10/dist-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.10/dist-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests>=2.26->yfinance) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests>=2.26->yfinance) (2023.5.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests>=2.26->yfinance) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests>=2.26->yfinance) (3.4)

In [3]:
import warnings
warnings.filterwarnings("ignore")
import yfinance as yfin
#import talib
yfin.pdr_override()
#import pandas_ta as ta
import pandas as pd

In [4]:
# fetch nifty200 scrips

import pandas as pd
import numpy as np

mypf = pd.read_csv('https://raw.githubusercontent.com/ankit-rathi/Data-Science-with-Python/master/Tradevesting/myProspectsScrips.csv')

#mypf = mypf[(mypf['Criteria'] == 'V40') | (mypf['Criteria'] == 'V40N')]

#mypf = mypf[mypf['Nifty100'] == 1]

stock_n100 = mypf['Symbol'].unique()

exclude = ['CADILAHC','MMTC']

stock_n100 = mypf[~mypf['Symbol'].isin(exclude) ]['Symbol'].unique()

stock_ids = stock_n100

#mypf = mypf[mypf.Forecast.notnull()]
#stock_ids = mypf['Symbol'].unique()

stock_ids.sort()

In [5]:
def get_breakout(stock_symbol):

  stock_df = yfin.Ticker(stock_symbol).history(period='5y')[map(str.title, ['open', 'close'])]
  stock_df['Stock'] = stock_symbol
  stock_df['Open'] = round(stock_df['Open'],0)
  stock_df['Close'] = round(stock_df['Close'],0)
  stock_df = stock_df.reset_index()
  prev_max = max(stock_df[(stock_df['Date'] < '2023-01-01')]['Close'])
  stock_df['PrevMax'] = prev_max
  tmp_df = stock_df[(stock_df['Close'] > prev_max)]
  tmp_df['DateGroup'] = tmp_df['Date'].diff().dt.days.ne(1).cumsum()
  tmp_df['Date'] = tmp_df['Date'].dt.strftime('%Y-%m-%d')
  tmp_df = tmp_df[tmp_df['Close'] > tmp_df['Open']]
  g = tmp_df.groupby('DateGroup')['Date'].agg(['min', 'max', 'count']).reset_index()

  df_res = tmp_df.merge(g, how='left')
  return df_res[df_res['count'] > 1].head(1)

In [7]:
df_breakout = pd.DataFrame()

for stock_id in stock_ids:
  tmp_df = get_breakout(stock_id+'.NS')
  df_breakout = df_breakout.append(tmp_df)

df_breakout.sort_values(by = 'Date', ascending=False)

,Date,Open,Close,Stock,PrevMax,DateGroup,min,max,count
0,2023-07-18,2817.0,2820.0,RELIANCE.NS,2811.0,1,2023-07-18,2023-07-19,2
0,2023-07-18,15709.0,15896.0,PGHH.NS,15778.0,1,2023-07-18,2023-07-20,3
2,2023-07-10,1036.0,1045.0,SUNPHARMA.NS,1044.0,3,2023-07-10,2023-07-12,3
4,2023-07-10,786.0,807.0,JSWSTEEL.NS,766.0,6,2023-07-10,2023-07-12,2
1,2023-07-10,1770.0,1779.0,COLPAL.NS,1719.0,2,2023-07-10,2023-07-14,4
2,2023-07-06,864.0,870.0,BHARTIARTL.NS,851.0,4,2023-07-06,2023-07-07,2
2,2023-07-05,22867.0,23020.0,ABBOTINDIA.NS,22611.0,3,2023-07-05,2023-07-06,2
1,2023-07-05,942.0,958.0,ICICIBANK.NS,953.0,2,2023-07-05,2023-07-06,2
2,2023-07-04,395.0,403.0,UJJIVAN.NS,395.0,3,2023-07-04,2023-07-05,2
0,2023-07-04,321.0,322.0,CANBK.NS,321.0,2,2023-07-04,2023-07-07,3
0,2023-07-04,62.0,66.0,J&KBANK.NS,65.0,1,2023-07-04,2023-07-05,2
2,2023-07-03,16.0,17.0,SUZLON.NS,13.0,7,2023-07-03,2023-07-06,3
0,2023-07-03,1215.0,1278.0,RADICO.NS,1263.0,1,2023-07-03,2023-07-06,4
1,2023-06-26,221.0,238.0,TIPSINDLTD.NS,236.0,2,2023-06-26,2023-06-27,2
0,2023-06-26,265.0,275.0,VGUARD.NS,273.0,1,2023-06-26,2023-06-27,2
0,2023-06-19,183.0,188.0,BANKBARODA.NS,187.0,1,2023-06-19,2023-06-21,2
0,2023-06-12,8160.0,8199.0,ULTRACEMCO.NS,8167.0,1,2023-06-12,2023-06-14,3
0,2023-06-07,3600.0,3679.0,PIIND.NS,3619.0,1,2023-06-07,2023-06-09,2
2,2023-06-05,539.0,546.0,TATAMOTORS.NS,530.0,3,2023-06-05,2023-06-07,3
2,2023-06-05,2393.0,2403.0,INDIGO.NS,2364.0,3,2023-06-05,2023-06-09,4
2,2023-06-05,926.0,949.0,AXISBANK.NS,948.0,3,2023-06-05,2023-06-09,4
0,2023-06-05,9552.0,9582.0,MARUTI.NS,9528.0,1,2023-06-05,2023-06-06,2
1,2023-05-29,7095.0,7214.0,BAJAJHLDNG.NS,7031.0,2,2023-05-29,2023-05-31,2
0,2023-05-23,1665.0,1684.0,TORNTPHARM.NS,1672.0,1,2023-05-23,2023-05-26,3
0,2023-05-23,87.0,89.0,IOC.NS,87.0,2,2023-05-23,2023-05-26,3
0,2023-05-16,716.0,728.0,AUBANK.NS,716.0,1,2023-05-16,2023-05-19,4
1,2023-05-15,2756.0,2761.0,TITAN.NS,2751.0,2,2023-05-15,2023-05-16,2
0,2023-05-15,443.0,468.0,DLF.NS,439.0,1,2023-05-15,2023-05-19,2
0,2023-05-02,233.0,236.0,COALINDIA.NS,235.0,1,2023-05-02,2023-05-03,2
1,2023-04-25,231.0,233.0,POWERGRID.NS,232.0,2,2023-04-25,2023-04-26,2
0,2023-04-24,20501.0,20689.0,NESTLEIND.NS,20648.0,1,2023-04-24,2023-04-28,4
2,2023-04-17,821.0,836.0,CHOLAFIN.NS,801.0,3,2023-04-17,2023-04-19,3
1,2023-04-17,108.0,110.0,GAIL.NS,108.0,2,2023-04-17,2023-04-18,2
0,2023-04-11,3836.0,3928.0,BAJAJ-AUTO.NS,3847.0,1,2023-04-11,2023-04-13,3
0,2023-03-22,2263.0,2327.0,AKZOINDIA.NS,2325.0,1,2023-03-22,2023-03-23,2
0,2023-03-08,176.0,179.0,NTPC.NS,177.0,1,2023-03-08,2023-03-10,3
0,2023-02-28,70.0,72.0,EQUITASBNK.NS,70.0,1,2023-02-28,2023-03-03,4
0,2023-02-20,5928.0,6395.0,CERA.NS,6240.0,1,2023-02-20,2023-02-22,3
1,2023-02-15,2951.0,2989.0,POLYCAB.NS,2983.0,2,2023-02-15,2023-02-16,2
0,2023-02-14,575.0,598.0,FINCABLES.NS,593.0,1,2023-02-14,2023-02-17,3
2,2023-02-14,1330.0,1335.0,M&M.NS,1326.0,4,2023-02-14,2023-02-15,2
0,2023-02-07,3097.0,3118.0,SIEMENS.NS,3087.0,1,2023-02-07,2023-02-10,3
0,2023-02-02,4443.0,4496.0,BRITANNIA.NS,4450.0,1,2023-02-02,2023-02-03,2
0,2023-02-01,345.0,354.0,ITC.NS,353.0,1,2023-02-01,2023-02-02,2
0,2023-01-23,1647.0,1654.0,HDFCBANK.NS,1650.0,1,2023-01-23,2023-01-24,2
0,2023-01-17,2140.0,2213.0,LT.NS,2195.0,1,2023-01-17,2023-01-19,3
1,2023-01-09,113.0,114.0,TATASTEEL.NS,112.0,3,2023-01-09,2023-01-13,3
0,2023-01-02,585.0,595.0,JINDALSTEL.NS,589.0,1,2023-01-02,2023-01-03,2