In [ ]:
!pip install yfinance

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: yfinance in /usr/local/lib/python3.10/dist-packages (0.2.18)
Requirement already satisfied: pandas>=1.3.0 in /usr/local/lib/python3.10/dist-packages (from yfinance) (1.5.3)
Requirement already satisfied: numpy>=1.16.5 in /usr/local/lib/python3.10/dist-packages (from yfinance) (1.22.4)
Requirement already satisfied: requests>=2.26 in /usr/local/lib/python3.10/dist-packages (from yfinance) (2.27.1)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.10/dist-packages (from yfinance) (0.0.11)
Requirement already satisfied: lxml>=4.9.1 in /usr/local/lib/python3.10/dist-packages (from yfinance) (4.9.2)
Requirement already satisfied: appdirs>=1.4.4 in /usr/local/lib/python3.10/dist-packages (from yfinance) (1.4.4)
Requirement already satisfied: pytz>=2022.5 in /usr/local/lib/python3.10/dist-packages (from yfinance) (2022.7.1)
Requirement already satisfied: frozendict>=2.3.4 in /usr/local/lib/python3.10/dist-packages (from yfinance) (2.3.7)
Requirement already satisfied: cryptography>=3.3.2 in /usr/local/lib/python3.10/dist-packages (from yfinance) (40.0.2)
Requirement already satisfied: beautifulsoup4>=4.11.1 in /usr/local/lib/python3.10/dist-packages (from yfinance) (4.11.2)
Requirement already satisfied: html5lib>=1.1 in /usr/local/lib/python3.10/dist-packages (from yfinance) (1.1)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.10/dist-packages (from beautifulsoup4>=4.11.1->yfinance) (2.4.1)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.10/dist-packages (from cryptography>=3.3.2->yfinance) (1.15.1)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.10/dist-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.10/dist-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests>=2.26->yfinance) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests>=2.26->yfinance) (2022.12.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests>=2.26->yfinance) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests>=2.26->yfinance) (3.4)
Requirement already satisfied: pycparser in /usr/local/lib/python3.10/dist-packages (from cffi>=1.12->cryptography>=3.3.2->yfinance) (2.21)

In [ ]:
import pandas as pd
import numpy as np
from google.colab import drive
drive.mount('/content/drive')

mypf = pd.read_csv('/content/drive/My Drive/data/stocks/Nifty100Scrips.csv')

mypf = mypf[mypf['LatestQtr'] == 0]
#mypf = mypf[mypf['v80'] == 1]

stock_n100 = mypf['Symbol'].unique()

exclude = ['ACC','AMBUJACEM','CADILAHC','GILLETTE','NESTLEIND','PGHH','SIEMENS', 'VALIANTORG','VINATIORGA', 'TATAELXSI', 'AMARAJABAT']

stock_n100 = mypf[~mypf['Symbol'].isin(exclude) ]['Symbol']

#stock_ids

stock_ids = stock_n100
#stock_ids = ['DIVISLAB', 'HDFCBANK']
print('Stocks to be scanned:',len(stock_ids))

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
Stocks to be scanned: 16

In [ ]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

df_latest_analysis = pd.DataFrame()

for stock_name in stock_ids: 


    print(stock_name)

    link_blueprint = "https://www.screener.in/company/"
    
    stock_list = ['3MINDIA', 'AUBANK', 'COLPAL', 'GLAND', 'LUXIND', 'WHIRLPOOL']
    
    if stock_name in stock_list:
        actual_link = link_blueprint + stock_name.upper()
    else:
        actual_link = link_blueprint + stock_name.upper()  + "/consolidated/"

    def get_list(actual_link):
        page = requests.get(actual_link)
        link_soup = BeautifulSoup(page.content, 'html.parser')

        test_list = link_soup.find(id="profit-loss").text.replace("  ", "").split('\n')

        while("" in test_list) :
            test_list.remove("")
        while("\r" in test_list) :
            test_list.remove("\r")        
        while(" \r" in test_list) :
            test_list.remove(" \r")

        return test_list

    test_list = get_list(actual_link)

    #print(len(test_list))
    n = len(test_list) 

    if n < 100:
        actual_link = link_blueprint + stock_name.upper() 
        test_list = get_list(actual_link)
        #print(len(test_list))

    q = 0

    if n > 162:
        p = 8
        q = n-162
    elif n > 120 and n <= 162:
        p = 8
    elif n < 120 and n > 100:
        p = 7   

    else:
        p = 6

    
    #print(test_list)
    if 'TTM' in test_list:
        end_year = 'TTM'
    else:
        end_year = 'Mar 2023'
        df_yoy = pd.DataFrame()      
        #print(test_list)
        s = test_list.index(end_year) +1 - test_list.index('Mar 2017')

        df_yoy['Year'] = test_list[test_list.index('Mar 2017'):test_list.index(end_year)+1]
        df_yoy['Sales'] = test_list[test_list.index('Expenses\xa0+')-s:test_list.index('Expenses\xa0+')]
        df_yoy['Profit'] = test_list[test_list.index('Tax %')-s:test_list.index('Tax %')]

        df_yoy.set_index('Year', inplace=True)
        df_yoy = df_yoy.T
        df_yoy['Stock'] = stock_name.upper() + '.NS'
        #df_yoy
        df_latest_analysis = pd.concat([df_latest_analysis, df_yoy])
    
df_latest_analysis

3MINDIA
['Profit & Loss', 'Standalone Figures in Rs. Crores', '/', 'View Consolidated', 'Mar 2012', 'Mar 2013', 'Mar 2014', 'Mar 2015', 'Mar 2016', 'Mar 2017', 'Mar 2018', 'Mar 2019', 'Mar 2020', 'Mar 2021', 'Mar 2022', 'Mar 2023', 'Sales\xa0+', '1,405', '1,574', '1,742', '1,840', '2,140', '2,363', '2,556', '2,809', '2,765', '2,420', '3,078', '3,733', 'Expenses\xa0+', '1,283', '1,463', '1,630', '1,636', '1,803', '1,994', '2,076', '2,301', '2,425', '2,183', '2,696', '3,174', 'Operating Profit', '122', '112', '112', '204', '337', '369', '480', '508', '340', '238', '382', '560', 'OPM %', '9%', '7%', '6%', '11%', '16%', '16%', '19%', '18%', '12%', '10%', '12%', '15%', 'Other Income\xa0+', '5', '10', '19', '14', '18', '49', '44', '33', '42', '27', '35', '64', 'Interest', '4', '10', '15', '4', '2', '2', '2', '1', '4', '2', '4', '7', 'Depreciation', '27', '36', '48', '50', '49', '47', '42', '42', '57', '60', '53', '56', 'Profit before tax', '96', '75', '69', '165', '303', '369', '480', '497', '320', '202', '360', '561', 'Tax %', '33%', '30%', '38%', '34%', '36%', '35%', '35%', '35%', '32%', '26%', '26%', '26%', 'Net Profit', '65', '52', '43', '108', '195', '241', '311', '323', '219', '149', '266', '416', 'EPS in Rs', '57.50', '46.40', '38.16', '96.17', '172.89', '213.72', '275.67', '286.72', '194.38', '132.53', '236.29', '369.41', 'Dividend Payout %', '-0%', '-0%', '-0%', '-0%', '-0%', '-0%', '-0%', '-0%', '-0%', '-0%', '-0%', '-0%', 'Compounded Sales Growth', '10 Years:', '9%', '5 Years:', '8%', '3 Years:', '11%', 'TTM:', '21%', 'Compounded Profit Growth', '10 Years:', '23%', '5 Years:', '6%', '3 Years:', '24%', 'TTM:', '57%', 'Stock Price CAGR', '10 Years:', '21%', '5 Years:', '5%', '3 Years:', '11%', '1 Year:', '27%', 'Return on Equity', '10 Years:', '15%', '5 Years:', '13%', '3 Years:', '12%', 'Last Year:', '19%']
ADANIPORTS
ADANITRANS
['Profit & Loss', 'Consolidated Figures in Rs. Crores', '/', 'View Standalone', 'Close Segments', 'Product Segments', 'Mar 2014', 'Mar 2015', 'Mar 2016', 'Mar 2017', 'Mar 2018', 'Mar 2019', 'Mar 2020', 'Mar 2021', 'Mar 2022', 'Mar 2023', 'Sales\xa0+', '0', '131', '2,194', '2,876', '3,944', '7,305', '11,416', '9,926', '11,258', '13,293', 'Expenses\xa0+', '0', '29', '267', '893', '1,118', '4,528', '7,158', '5,976', '7,051', '8,775', 'Operating Profit', '0', '101', '1,927', '1,983', '2,826', '2,778', '4,258', '3,950', '4,206', '4,518', 'OPM %', '78%', '88%', '69%', '72%', '38%', '37%', '40%', '37%', '34%', 'Other Income\xa0+', '0', '3', '70', '22', '111', '336', '261', '1,115', '1,286', '1,583', 'Interest', '0', '73', '957', '904', '886', '1,391', '2,238', '2,117', '2,365', '2,781', 'Depreciation', '0', '37', '560', '569', '579', '882', '1,174', '1,329', '1,427', '1,608', 'Profit before tax', '0', '-5', '480', '532', '1,472', '840', '1,107', '1,620', '1,700', '1,712', 'Tax %', '-34%', '23%', '22%', '22%', '33%', '36%', '20%', '27%', '25%', 'Net Profit', '0', '-7', '368', '416', '1,143', '559', '706', '1,290', '1,236', '1,281', 'EPS in Rs', '0.00', '-0.06', '3.35', '3.79', '10.39', '5.08', '6.74', '11.13', '10.95', '11.26', 'Dividend Payout %', '0%', '0%', '0%', '0%', '0%', '0%', '0%', '0%', '0%', 'Compounded Sales Growth', '10 Years:', '%', '5 Years:', '28%', '3 Years:', '5%', 'TTM:', '18%', 'Compounded Profit Growth', '10 Years:', '%', '5 Years:', '2%', '3 Years:', '21%', 'TTM:', '4%', 'Stock Price CAGR', '10 Years:', '%', '5 Years:', '43%', '3 Years:', '67%', '1 Year:', '-63%', 'Return on Equity', '10 Years:', '%', '5 Years:', '11%', '3 Years:', '13%', 'Last Year:', '12%']
APOLLOHOSP
['Profit & Loss', 'Consolidated Figures in Rs. Crores', '/', 'View Standalone', 'Close Segments', 'Product Segments', 'Mar 2012', 'Mar 2013', 'Mar 2014', 'Mar 2015', 'Mar 2016', 'Mar 2017', 'Mar 2018', 'Mar 2019', 'Mar 2020', 'Mar 2021', 'Mar 2022', 'Mar 2023', 'Sales\xa0+', '3,148', '3,769', '4,357', '5,129', '6,150', '7,256', '8,243', '9,617', '11,247', '10,560', '14,663', '16,612', 'Expenses\xa0+', '2,631', '3,157', '3,681', '4,392', '5,465', '6,522', '7,442', '8,548', '9,656', '9,420', '12,474', '14,606', 'Operating Profit', '517', '612', '676', '737', '684', '734', '801', '1,070', '1,591', '1,140', '2,189', '2,006', 'OPM %', '16%', '16%', '16%', '14%', '11%', '10%', '10%', '11%', '14%', '11%', '15%', '12%', 'Other Income\xa0+', '22', '33', '18', '47', '92', '60', '24', '26', '222', '103', '368', '90', 'Interest', '89', '103', '119', '118', '180', '257', '295', '327', '533', '449', '379', '381', 'Depreciation', '124', '142', '168', '212', '264', '314', '359', '396', '620', '573', '601', '615', 'Profit before tax', '326', '399', '407', '455', '332', '222', '171', '373', '660', '221', '1,578', '1,101', 'Tax %', '35%', '26%', '25%', '29%', '29%', '41%', '65%', '47%', '34%', '38%', '30%', '23%', 'Net Profit', '218', '303', '315', '335', '235', '131', '60', '200', '432', '137', '1,108', '845', 'EPS in Rs', '16.31', '21.88', '22.77', '24.43', '16.99', '15.88', '8.44', '16.96', '32.70', '10.46', '73.42', '56.97', 'Dividend Payout %', '25%', '25%', '25%', '24%', '35%', '38%', '59%', '35%', '18%', '29%', '16%', '16%', 'Compounded Sales Growth', '10 Years:', '16%', '5 Years:', '15%', '3 Years:', '14%', 'TTM:', '13%', 'Compounded Profit Growth', '10 Years:', '11%', '5 Years:', '67%', '3 Years:', '39%', 'TTM:', '-3%', 'Stock Price CAGR', '10 Years:', '16%', '5 Years:', '37%', '3 Years:', '50%', '1 Year:', '18%', 'Return on Equity', '10 Years:', '9%', '5 Years:', '10%', '3 Years:', '12%', 'Last Year:', '14%']
ASTRAZEN
EQUITAS
IBREALEST
IRCTC
['Profit & Loss', 'Figures in Rs. Crores', 'Close Segments', 'Product Segments', 'Mar 2015', 'Mar 2016', 'Mar 2017', 'Mar 2018', 'Mar 2019', 'Mar 2020', 'Mar 2021', 'Mar 2022', 'Mar 2023', 'Sales\xa0+', '1,059', '1,367', '1,520', '1,466', '1,870', '2,264', '777', '1,879', '3,541', 'Expenses\xa0+', '907', '1,176', '1,206', '1,192', '1,487', '1,562', '589', '998', '2,265', 'Operating Profit', '152', '190', '314', '274', '383', '703', '188', '881', '1,276', 'OPM %', '14%', '14%', '21%', '19%', '20%', '31%', '24%', '47%', '36%', 'Other Income\xa0+', '82', '139', '67', '99', '126', '77', '124', '69', '148', 'Interest', '0', '0', '3', '3', '2', '10', '8', '11', '16', 'Depreciation', '20', '21', '22', '24', '29', '40', '46', '49', '54', 'Profit before tax', '214', '309', '355', '346', '479', '730', '258', '890', '1,354', 'Tax %', '39%', '39%', '35%', '36%', '36%', '30%', '27%', '25%', '26%', 'Net Profit', '131', '189', '229', '221', '309', '513', '187', '664', '1,006', 'EPS in Rs', '13.06', '18.86', '11.45', '11.03', '3.86', '6.41', '2.34', '8.30', '12.57', 'Dividend Payout %', '20%', '40%', '49%', '21%', '98%', '39%', '43%', '42%', '44%', 'Compounded Sales Growth', '10 Years:', '%', '5 Years:', '19%', '3 Years:', '16%', 'TTM:', '88%', 'Compounded Profit Growth', '10 Years:', '%', '5 Years:', '35%', '3 Years:', '24%', 'TTM:', '48%', 'Stock Price CAGR', '10 Years:', '%', '5 Years:', '%', '3 Years:', '32%', '1 Year:', '-7%', 'Return on Equity', '10 Years:', '%', '5 Years:', '35%', '3 Years:', '35%', 'Last Year:', '45%']
LUXIND
['Profit & Loss', 'Standalone Figures in Rs. Crores', '/', 'View Consolidated', 'Mar 2012', 'Mar 2013', 'Mar 2014', 'Mar 2015', 'Mar 2016', 'Mar 2017', 'Mar 2018', 'Mar 2019', 'Mar 2020', 'Mar 2021', 'Mar 2022', 'Mar 2023', 'Sales\xa0+', '547', '692', '871', '909', '941', '958', '1,078', '1,209', '1,664', '1,938', '2,273', '2,368', 'Expenses\xa0+', '515', '647', '801', '828', '846', '838', '923', '1,028', '1,393', '1,555', '1,799', '2,148', 'Operating Profit', '33', '45', '70', '81', '94', '120', '154', '180', '271', '384', '474', '220', 'OPM %', '6%', '6%', '8%', '9%', '10%', '12%', '14%', '15%', '16%', '20%', '21%', '9%', 'Other Income\xa0+', '0', '0', '1', '0', '0', '2', '2', '9', '6', '10', '17', '19', 'Interest', '8', '11', '17', '18', '12', '22', '25', '24', '20', '11', '14', '22', 'Depreciation', '4', '4', '6', '-4', '4', '7', '10', '11', '15', '17', '18', '19', 'Profit before tax', '21', '30', '47', '68', '79', '92', '121', '155', '243', '366', '459', '198', 'Tax %', '31%', '32%', '33%', '33%', '35%', '35%', '36%', '34%', '25%', '25%', '26%', '26%', 'Net Profit', '14', '20', '31', '45', '51', '60', '78', '101', '181', '273', '341', '147', 'EPS in Rs', '5.59', '8.04', '12.40', '17.88', '20.29', '23.62', '30.84', '40.12', '71.57', '108.25', '113.53', '48.80', 'Dividend Payout %', '8%', '6%', '5%', '7%', '7%', '6%', '7%', '9%', '18%', '0%', '11%', '11%', 'Compounded Sales Growth', '10 Years:', '13%', '5 Years:', '17%', '3 Years:', '12%', 'TTM:', '4%', 'Compounded Profit Growth', '10 Years:', '22%', '5 Years:', '13%', '3 Years:', '-7%', 'TTM:', '-57%', 'Stock Price CAGR', '10 Years:', '%', '5 Years:', '-4%', '3 Years:', '17%', '1 Year:', '-33%', 'Return on Equity', '10 Years:', '25%', '5 Years:', '24%', '3 Years:', '22%', 'Last Year:', '11%']
NIACL
['Profit & Loss', 'Consolidated Figures in Rs. Crores', '/', 'View Standalone', 'Close Segments', 'Product Segments', 'Mar 2013', 'Mar 2014', 'Mar 2015', 'Mar 2016', 'Mar 2017', 'Mar 2018', 'Mar 2019', 'Mar 2020', 'Mar 2021', 'Mar 2022', 'Mar 2023', 'Sales\xa0+', '9,599', '10,994', '13,354', '15,215', '20,234', '19,798', '27,660', '28,343', '33,066', '35,821', '40,925', 'Expenses\xa0+', '12,297', '14,403', '17,107', '18,195', '20,692', '24,590', '27,944', '29,406', '30,931', '35,644', '39,734', 'Operating Profit', '-2,698', '-3,409', '-3,753', '-2,980', '-458', '-4,793', '-284', '-1,063', '2,136', '177', '1,191', 'OPM %', '-28%', '-31%', '-28%', '-20%', '-2%', '-24%', '-1%', '-4%', '6%', '0%', '3%', 'Other Income\xa0+', '3,826', '4,392', '5,487', '4,063', '1,704', '7,601', '1,050', '2,816', '27', '87', '65', 'Interest', '3', '2', '3', '4', '6', '12', '0', '0', '0', '0', '0', 'Depreciation', '43', '38', '28', '34', '47', '74', '90', '93', '103', '87', '0', 'Profit before tax', '1,082', '943', '1,703', '1,045', '1,194', '2,722', '677', '1,659', '2,060', '178', '1,256', 'Tax %', '16%', '15%', '19%', '11%', '14%', '20%', '11%', '13%', '21%', '-0%', '16%', 'Net Profit', '928', '830', '1,412', '959', '1,050', '2,190', '610', '1,447', '1,645', '198', '1,050', 'EPS in Rs', '22.92', '20.75', '35.40', '24.03', '26.15', '13.29', '3.67', '8.75', '9.95', '1.18', '6.36', 'Dividend Payout %', '19%', '27%', '21%', '26%', '30%', '33%', '41%', '0%', '0%', '25%', '0%', 'Compounded Sales Growth', '10 Years:', '16%', '5 Years:', '16%', '3 Years:', '13%', 'TTM:', '14%', 'Compounded Profit Growth', '10 Years:', '27%', '5 Years:', '26%', '3 Years:', '-10%', 'TTM:', '421%', 'Stock Price CAGR', '10 Years:', '%', '5 Years:', '-19%', '3 Years:', '0%', '1 Year:', '20%', 'Return on Equity', '10 Years:', '2%', '5 Years:', '3%', '3 Years:', '4%', 'Last Year:', '4%']
PVRINOX
['Profit & Loss', 'Consolidated Figures in Rs. Crores', '/', 'View Standalone', 'Close Segments', 'Product Segments', 'Mar 2012', 'Mar 2013', 'Mar 2014', 'Mar 2015', 'Mar 2016', 'Mar 2017', 'Mar 2018', 'Mar 2019', 'Mar 2020', 'Mar 2021', 'Mar 2022', 'Mar 2023', 'Sales\xa0+', '518', '806', '1,348', '1,477', '1,850', '2,119', '2,334', '3,086', '3,414', '280', '1,331', '3,751', 'Expenses\xa0+', '441', '688', '1,133', '1,271', '1,551', '1,799', '1,933', '2,499', '2,338', '616', '1,225', '2,703', 'Operating Profit', '76', '119', '215', '206', '299', '320', '401', '587', '1,076', '-336', '106', '1,048', 'OPM %', '15%', '15%', '16%', '14%', '16%', '15%', '17%', '19%', '32%', '-120%', '8%', '28%', 'Other Income\xa0+', '10', '6', '11', '2', '45', '52', '30', '32', '38', '469', '326', '68', 'Interest', '18', '37', '80', '78', '84', '81', '84', '128', '482', '498', '498', '572', 'Depreciation', '36', '56', '94', '117', '115', '138', '154', '191', '542', '575', '614', '753', 'Profit before tax', '31', '32', '52', '12', '145', '153', '194', '299', '90', '-939', '-681', '-209', 'Tax %', '18%', '-39%', '4%', '7%', '32%', '37%', '36%', '37%', '70%', '20%', '28%', '-61%', 'Net Profit', '25', '44', '50', '12', '99', '96', '124', '189', '27', '-748', '-489', '-336', 'EPS in Rs', '9.08', '10.47', '12.71', '2.86', '19.58', '19.08', '24.84', '37.81', '4.95', '-123.07', '-80.04', '-34.20', 'Dividend Payout %', '61%', '9%', '18%', '33%', '10%', '10%', '8%', '5%', '75%', '-0%', '-0%', '-0%', 'Compounded Sales Growth', '10 Years:', '17%', '5 Years:', '10%', '3 Years:', '3%', 'TTM:', '182%', 'Compounded Profit Growth', '10 Years:', '%', '5 Years:', '%', '3 Years:', '%', 'TTM:', '35%', 'Stock Price CAGR', '10 Years:', '16%', '5 Years:', '2%', '3 Years:', '17%', '1 Year:', '-24%', 'Return on Equity', '10 Years:', '-7%', '5 Years:', '-13%', '3 Years:', '-21%', 'Last Year:', '-8%']
RAJESHEXPO
SANOFI
SUZLON
TORNTPHARM
VGUARD

Year,Mar 2017,Mar 2018,Mar 2019,Mar 2020,Mar 2021,Mar 2022,Mar 2023,Stock
Sales,"2,363","2,556","2,809","2,765","2,420","3,078","3,733",3MINDIA.NS
Profit,369,480,497,320,202,360,561,3MINDIA.NS
Sales,"2,876","3,944","7,305","11,416","9,926","11,258","13,293",ADANITRANS.NS
Profit,532,"1,472",840,"1,107","1,620","1,700","1,712",ADANITRANS.NS
Sales,"7,256","8,243","9,617","11,247","10,560","14,663","16,612",APOLLOHOSP.NS
Profit,222,171,373,660,221,"1,578","1,101",APOLLOHOSP.NS
Sales,"1,520","1,466","1,870","2,264",777,"1,879","3,541",IRCTC.NS
Profit,355,346,479,730,258,890,"1,354",IRCTC.NS
Sales,958,"1,078","1,209","1,664","1,938","2,273","2,368",LUXIND.NS
Profit,92,121,155,243,366,459,198,LUXIND.NS
Sales,"20,234","19,798","27,660","28,343","33,066","35,821","40,925",NIACL.NS
Profit,"1,194","2,722",677,"1,659","2,060",178,"1,256",NIACL.NS
Sales,"2,119","2,334","3,086","3,414",280,"1,331","3,751",PVRINOX.NS
Profit,153,194,299,90,-939,-681,-209,PVRINOX.NS

In [ ]:
print('Stocks updated:', df_latest_analysis.shape[0]/2)
if df_latest_analysis.shape[0] > 0:
  lastestq_stocks = list(df_latest_analysis['Stock'].unique())
  len(lastestq_stocks)

Stocks updated: 7.0

In [ ]:
if df_latest_analysis.shape[0] > 0:
  #df_analysis.columns
  df_latest_analysis = df_latest_analysis.reset_index()
  df_latest_analysis.rename({'Mar 2023': 'Latest', 'index': 'Type'}, axis=1, inplace=True)
  cols = [ 'Mar 2017','Mar 2018', 'Mar 2019', 'Mar 2020', 'Mar 2021', 'Mar 2022', 'Latest']
  #df_analysis[cols] = df_analysis[cols].apply(pd.to_numeric)
  for col in cols:
      df_latest_analysis[col] = df_latest_analysis[col].str.replace(',', '').astype(float)

In [ ]:
if df_latest_analysis.shape[0] > 0:
  df_latest_analysis['Max'] = df_latest_analysis.max(axis=1)
  df_latest_analysis['Diff%'] = round((df_latest_analysis['Max'] - df_latest_analysis['Latest'])*100/df_latest_analysis['Max'],2)

<ipython-input-6-ff4f08accfa3>:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df_latest_analysis['Max'] = df_latest_analysis.max(axis=1)

In [ ]:
if df_latest_analysis.shape[0] > 0:
  df_master_analysis = pd.read_csv('/content/drive/My Drive/data/stocks/Nifty100-ATH-TTM.csv')
  df_master_analysis.columns = df_latest_analysis.columns
  df_master_analysis = df_master_analysis[~df_master_analysis['Stock'].isin(lastestq_stocks)]
  df_master_analysis = pd.concat([df_master_analysis, df_latest_analysis])
  df_master_analysis.to_csv('/content/drive/My Drive/data/stocks/Nifty100-ATH-TTM.csv', index=False)

In [ ]:
#df_latest_analysis.to_csv('/content/drive/My Drive/data/stocks/Nifty100-ATH-TTM.csv', index=False)

In [ ]:
if df_latest_analysis.shape[0] > 0:
  df_tmp = df_latest_analysis[df_latest_analysis['Diff%'] <= 5]
  tmp = pd.DataFrame(df_tmp['Stock'].value_counts())
  len(tmp[tmp['Stock']>1].index)
  star_stocks = list(tmp[tmp['Stock']>1].index)
  print(len(star_stocks))

3

In [ ]:
mypf = pd.read_csv('/content/drive/My Drive/data/stocks/Nifty100Scrips.csv')
mypf.loc[mypf['Stock'].isin(star_stocks), 'StarStock'] = 1
mypf.loc[mypf['Stock'].isin(lastestq_stocks), 'LatestQtr'] = 1
mypf.to_csv('/content/drive/My Drive/data/stocks/Nifty100Scrips.csv', index=False)